<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
	<meta charset="utf-8">
	<meta property="og:site_name" content="Dream Sheet">
	<meta name="author" content="2022">
	<meta name="keywords" content="김범철,피아노,악보,Piano,Sheet,Music">
	<meta property="og:type" content="website">
	<meta property="og:image" content="img/DreamSheet.png">
	<meta property="og:title" content="Dream Sheet 악보 사이트">
	<meta property="og:description" content="안녕하세요 다양한 피아노 악보를 만나보세요">
	<meta name="theme-color" content="#33333f">
	<meta name="msapplication-TileImage" content="img/DreamSheet.png">
	<title>
	메인 - Dream Sheet
	</title>
	<link rel="shortcut icon" href="img/PianoF.png">
	<link rel="icon" href="img/PianoF.png">
	<link rel="stylesheet" type="text/css" href="css/DreamSheet.css">
	<link rel="stylesheet" type="text/css" href="css/DreamSheetMainContents.css">
	<link rel="stylesheet" type="text/css" href="css/boardView.css">
	<link rel="stylesheet" type="text/css" href="../root.css">
	<link rel="apple-touch-icon" href="img/DreamSheet.png">
	
</head>
<body>

	<jsp:include page="header.jsp" />  

	<div class="list-container">
	  <div class="list-wrapper">
<!-- 		<%
			BoardDAO boardDAO = new BoardDAO();
			ArrayList<Board> list = boardDAO.getList();
			for (int i = 0; i < list.size(); i++) {
		%> -->
		    <div class="list-component">
		    <a href="boardView.jsp?boardID=<%= list.get(i).getBoardID() %>">
		    	<img src="img/<%= list.get(i).getFilename() %>">
		    </a>
		    	<h3><%= list.get(i).getBoardTitle() %></h3>
		    	<p><%= list.get(i).getBoardContent() %></p>
		    </div>
		<%
			}
		%>
	    
	  </div>
	</div>

	<jsp:include page="footer.jsp" />

</body>
</html>