@charset "utf-8";
:lang(ko) {word-break: keep-all; line-break:normal; font-size:20px;}
::selection {background:#370; color:white;}

body * {-webkit-font-smoothing:antialiased !important;}
body {background-color:#53d; color:white; margin:0px;}
main {margin:2rem auto; width:60%; display:block;}
footer,header {
	margin:0px; 
	background-color:#103;
	padding:3%;
	display:flex;
	align-items:center;
	justify-content:center;}
input {
	min-width:20px; min-height:20px;
	border:1px darkblue solid; 
	color:white; 
	background-color:black;
	padding:10px;}
.hide {text-indent:-99999px;
	position:absolute;
	top:-99999px;}
.blind {overflow:hidden;
	display:inline-block;
    position:relative;
    font-size:1px;
    z-index:-1;
    top:-1px; left:-1px;
    width:1px; height:1px;}
a {text-decoration:none; 
	color:white; 
	font-weight:800;}
a:hover,a:focus {text-decoration:underline; }
p,ul,dl,dd,dt {padding:0px; margin:0px;}
dd {margin-bottom:3%;}
dd {font-size:90%; font-weight:900;}
li {list-style-type:none; margin:0.5rem auto;}

.success, .fail {display:block; font-size:2rem; font-weight:900;}


.note dl{
	background-color:#efd;
	color:black;
	box-sizing:border-box;
	padding:0.5%;
	margin:1% auto;
	border:solid 1px #380;
	border-left:10px solid #5b0;}
.note dd {margin-bottom:0.3%;}

@media (prefers-color-scheme:dark) {
body {background-color:#205;}
.note dl {
	border:solid 1px #030;
	color:white;
	border-left:10px solid #103;
	background:linear-gradient(90deg, rgba(10,20,0,1) 0%,rgba(20,50,0,1) 2%,rgba(30,70,0,1) 70%,rgba(70,120,0,1));}
}

.code {color:#04f;}
.code span {color:#d20;}