body {
	font-family:"KoddiUDOnGothic", "BIZ-UDGothic", sans-serif, serif;
	background-image:url("../img/wood2.jpg");
	background-attachment:fixed;
	background-size:cover;

}
.width_center {
	width:90vw;
	margin:0 auto;
}
#jumpbook {
	position: fixed;
	width: 95vw;
	margin:0px auto;
	left:0px; right:0px;
	text-align:center;
	padding:0.5rem 0;
	background-color:rgb(10 100 0);
	color:white;
	z-index: 2;
	transition: top 0.3s;
	border-radius: 0px 0px 20px 20px;
	border:5px solid rgba(10 150 0 / 1);
	border-top:none;
	top:-100rem;
}
#jumpbook:focus {top:0;}

/*i {display:block;}*/
header, footer {
	display:flex;
	justify-content:center;
}
h1, h2, h3 {text-align:center;}
h1, h2 {padding:1rem 0rem;}
h3 {font-size:1.5rem;}

.buttonlist {
	display: flex;
	justify-content: center;

}

main section > div {
	line-height: 2rem;
	padding:2rem;
	box-shadow: 0px 0px 1rem 0.5rem inset #975;
	background-color:#f0ece3;
	margin:7rem auto;
}
#firstdiv {margin-top:0px;}

main section > div > div {
	padding:1rem 0px;
}
.gnb_box {
	width: 100%;
	display: flex;
	position: absolute;
	top:0px;
}
.gnb_box h2 {padding:1rem;}
.gnb_button {
	position: absolute;
	right: 0px;
	display:flex;
	justify-content:center;
	align-items:center;
	z-index:9999;
	width:3rem; height:3rem;
	color:white;
	background-color: rgb(51, 41, 23);
	box-shadow: rgb(48, 27, 5) 0px 0px 3px;
}
.gnb_button h2 + ol {
	flex-wrap:wrap;
	display:flex;
	justify-content: space-around;
}


.gnb_list {
	position: fixed;
	height: 100dvh;
	top:0px; left:0px;
	z-index: 5;
	background-image:url("../img/bookbg.jpg");
	padding:4rem 1.5rem;
	animation-duration:0.4s;
	animation-name:load;
	animation-fill-mode:forwards;
}
.gnb_list > ol {
	height: 100%;
	position: relative;
	padding:0px;
	width: 100%;
	overflow-y: scroll;
}
.gnb_list > ol::-webkit-scrollbar {
	display: none;
}
.gnb_list > ol > li {
	border-radius: 1rem;
}
@keyframes load {
	from {left:-100%;}
	to {left:0px;}
}

.gnb_list::before, .gnb_list::after {
	content:'';
	z-index:500;
	position: absolute;
	left:0px;
	display:flex;
	width:100%; height:50px;
	background-image:url("../img/navrace.png");
}
.gnb_list:before {
	top:0px;
}
.gnb_list:after {
	bottom:0px;
}
.gnb_list li {
	margin:3px auto;
}
.gnb_list a {
	display:block;
	vertical-align:middle;
	border-top:1px solid black;
	border-bottom:1px solid black;
	padding:1rem;
}

a {
	text-decoration:transparent;
	background-color:transparent;
	display:inline-block;
	transition-property:text-decoration,text-underline-offset, background, opacity;
	transition-duration:0.2s;
}
.gnb_list a:before {
	content:'';
	transition:0.2s;
	position:absolute;
	top:0px; left:0px;
	width:100%; height:100%;
	background-color:transparent;
	display:block;
}
.gnb_list a:after {
	content:'';
	transition: opacity 0.6s ease-out, right 0.4s;

	opacity:0;
	position:absolute;
	right:90%;
	width:46px; height:33px;
	background-image:url("../img/hane.png");
	background-size:100%;
	background-repeat:no-repeat;
	background-position: center center;
}

.now {
	opacity:1;
}
a:focus,a:hover {
	opacity:1;
	text-decoration:underline wavy #000c;
	text-underline-offset:4px;
}
a:focus:after, a:hover:after {
	opacity:1;
	right:5px;
}
a:focus:before, a:hover:before {
	background-color:#fff3;
}
.nextfile, .prefile{
	background-color: rgba(0 0 0 / 0.5);
	border-radius: .5rem;
	padding:1rem 2rem;
	margin:1rem;
}
.nextfile:visited,.prefile:visited {color:#ddf;}
#gobottom, #gotop {
	width:3rem;
	height: 3rem;
	position:sticky;
	border:white solid 1px;
	text-align:center;
	z-index:5;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 900;
	color: white;
    background-color: rgb(51, 41, 23);
    box-shadow: rgb(48, 27, 5) 0px 0px 3px;
}

#gobottom{
	top:1rem;
	left:1rem;
}
#gotop{
	position: fixed;
	bottom:1rem;
	right:1rem;
}

/*PC*/
@media screen and (width >= 1400px) {
	.width_center {
		width:55vw;
	}

}

/*700px〜1200px iPad*/
@media (700px <= width < 1400px )  {
	.width_center {
		width:70vw;'
		max-width: 980px;
	}

}



/*Mobile*/
@media (340px <= width < 700px ) {
}

/*watch*/
@media screen and (330px > width) {
	.width_center {
		width:95vw;
	}

}

/*darkmode*/
@media (prefers-color-scheme:dark) {
	body::before {
		content: '';
		display: block;
		position: absolute;
		top:0px; left:0px;
		width:100%; height: 100%;
		background-color: rgba(0 0 0 / 0.7);
	}
	.gnb_button img {filter:invert(1);}
	.gnb_list {background-image:url("../img/bookbgd.jpg");}
/*	.gnb_list::before, .gnb_list::after {background-image:url("../img/navrace-dark.png");}*/
	header,footer {background-color:#015;}
	main section>div {
		box-shadow: 0px 0px 1rem 0.5rem inset #655;
		background-color:#030201;
	}
	a:focus,a:hover {
		text-decoration:underline wavy #fffd;
	}
	.gnb_list a:after {background-image:url("../img/haned.png");}
	a:focus:before, a:hover:before {background-color:#0003;}
	.nextfile:visited,.prefile:visited {color:#ddf;}
}