@charset "utf-8";
:lang(ko) {word-break: keep-all; line-break:normal;}
::selection {background:#31a; color:white;}
@font-face { 
	font-family:"BIZ-UDGothic";
	src: url("../font/BIZ-UD/BIZ-UDGothic.ttf") format("truetype");
	font-weight:400;
	font-display : swap;
} 

@font-face { 
	font-family:"BIZ-UDGothic";
	src: url("../font/BIZ-UD/BIZ-UDGothic-Bold.ttf") format("truetype");
	font-weight:700;
	font-display : swap;
} 

@font-face { 
	font-family:"KoddiUDOnGothic";
	src: url("../font/Koddi/KoddiUDOnGothic-Regular.woff2") format("woff2");
	src: url("../font/Koddi/KoddiUDOnGothic-Regular.woff") format("woff");
	src: url("../font/Koddi/KoddiUDOnGothic-Regular.otf") format("opentype");
	font-weight:400;
	font-display : swap;
} 
@font-face { 
	font-family:"KoddiUDOnGothic";
	src: url("../font/Koddi/KoddiUDOnGothic-Bold.woff2") format("woff2");
	src: url("../font/Koddi/KoddiUDOnGothic-Bold.woff") format("woff");
	src: url("../font/Koddi/KoddiUDOnGothic-Bold.otf") format("opentype");
	font-weight:700;
	font-display : swap;
} 
@font-face { 
	font-family:"KoddiUDOnGothic";
	src: url("../font/Koddi/KoddiUDOnGothic-ExtraBold.woff2") format("woff2");
	src: url("../font/Koddi/KoddiUDOnGothic-ExtraBold.woff") format("woff");
	src: url("../font/Koddi/KoddiUDOnGothic-ExtraBold.otf") format("opentype");
	font-weight:900;
	font-display : swap;
} 
/*모바일 기준*/

/*큰 영역*/
* {position:relative;}
html {
	scroll-behavior: smooth;
	font-family:"KoddiUDOnGothic", "BIZ-UDGothic", sans-serif, serif;
}
body {
	color:#000;
	background-image:
	linear-gradient(to left,rgba(0, 0, 255, 0.1), rgba(30, 30, 255, 0.1), rgba(0, 0, 255, 0.1)),
	url(../img/purplestar.jpg); 
	background-attachment:fixed;
	background-size:80%;
	padding-top:1rem;
	margin:0px;}
#jump-head:focus {
	position:fixed; 
	z-index:1;
	top:0px;}
#jump-head {
	position:fixed; 
	top:-100rem; 
	z-index:-1;
	width:90%;
	box-sizing:border-box;
	display:flex;
	justify-content:center; 
	font-weight:900; 
	margin:0px auto; 
	text-align:center;
    left: 50%;
    transform: translateX(-50%);
	background-color:#54a;
	border:#87f 2px solid;}
.all {
	display:flex;
	margin: 0px auto;
	width:1000px;}
.all> *, header > *, .main-wrap > * {
	border:1px solid #aaf;
	display:flex;}
body, a, textarea {color:white;}
header {
	width:20%;
	box-sizing:border-box;
	bottom:0px;
	position:sticky;
	flex-direction:column;
	align-items:center;
	z-index:2;}
ul {margin:0px; padding:0px;}
li {list-style:none;}
li a {padding:10px;}
caption {
	width:1px; height:1px;
	overflow:hidden;
	position:relative;
	z-index:-3;}
a {display:flex;
	scroll-behavior:smooth;
	justify-content:center;
	align-items:center;
	padding:1rem 0px;
	color:#fff;
	text-decoration:transparent; 
	transition:text-decoration 0.2s, outline 0.2s;}

:focus, a:hover
	{cursor:pointer;}
a:focus, a:hover {
	text-decoration:underline wavy #eef;
	text-underline-offset:-1px;}
a:active {
	transition:0.2s filter, 0.4s transform;
	filter:brightness(0.8), saturation(1.2);
}
table {
	border-collapse:collapse;
	margin-bottom:3rem;
	margin-top:0px;}
td,th {
	vertical-align:middle; 
	border:1px solid #235; 
	line-height:2rem;
	padding:2%; 
	font-size:1.2rem;}
th{font-weight:700;
	text-align:left;}
td {font-weight:400;}

	table {color:white;}
	th,td {border:1px solid #baf;}
	th {background-color:#215;}
	td {background-color:#326;}
footer {
	display:flex;
	background:linear-gradient(#000 20%, #103);
	height:100px;
	width:100%;}


.depth-1:after {
	content:'';
	display:block;
	position:relative;
	right: -10px;
	width:8px; height:8px;
	border-right:solid 3px #aaf;
	border-bottom:solid 3px #aaf;
	transform:rotate(45deg);
}

.depth-2-box {
	z-index:2;
	border:#54a 2px solid;
	background-color:#327;
	position:absolute;
	right:-100px;
	top:1rem;
	box-shadow: 0px 0px 10px rgba(0,0,3,0.3);
	transition:0.2s;
	width:100%;
	box-sizing:border-box;
	visibility:hidden;
	overflow:hidden;
	max-height:0%;
	}
.depth-2 a {
	color:white;
	z-index:3;
	transition:0.2s;}
.menu > ul > li:focus-within .depth-2-box, .menu > ul > li:hover .depth-2-box {
    max-height: 22rem;
    overflow: visible;
    visibility: visible;
}
.menu li {
	position:relative;
	display:flex;}

.main-wrap {
	width:80%;
	flex-direction:column;
}
#content {
	display:flex;
	flex-direction:column;
}
.slide {
	background-color:#000;
	height:350px;
	width:100%;}
.content-box {
	height:200px;
	display:flex;
	justify-content:center;
}
.content-box > * {
	flex-grow: 1;
	border:1px solid #aaf;}
.footer-logo {width:20%;}
.footer {
	display:flex;
	flex-direction:column;
	}
.footer-url {
	display:flex;
}


.a11yT {
	z-index:-1; 
	position:absolute; 
	top:50%; 
	overflow:hidden; 
	width:1px; height:1px; 
	border:0; 
	box-sizing:content-box;
	clip: rect(1px, 1px, 1px, 1px); 
	clip-path: inset(0px 0px 99.9% 99.9%);}