@charset "utf-8";
/*폰트 설성*/

/*한국어*/
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css");
@font-face { 
	font-family:"KoddiUDOnGothic";
	src: url("font/KoddiUDOnGothic/KoddiUDOnGothic-Regular.woff") format("woff");
	src: url("font/KoddiUDOnGothic/KoddiUDOnGothic-Regular.otf") format("opentype");
	src: url("font/KoddiUDOnGothic/KoddiUDOnGothic-Regular.woff2") format("woff2");
	font-weight:400;
	font-display : swap;
	font-style: normal;
} 
@font-face { 
	font-family:"KoddiUDOnGothic";
	src: url("font/KoddiUDOnGothic/KoddiUDOnGothic-Bold.woff2") format("woff2");
	src: url("font/KoddiUDOnGothic/KoddiUDOnGothic-Bold.woff") format("woff");
	src: url("font/KoddiUDOnGothic/KoddiUDOnGothic-Bold.otf") format("opentype");
	font-weight:700;
	font-display : swap;
	font-style: normal;
} 
@font-face { 
	font-family:"KoddiUDOnGothic";
	src: url("font/KoddiUDOnGothic/KoddiUDOnGothic-ExtraBold.woff2") format("woff2");
	src: url("font/KoddiUDOnGothic/KoddiUDOnGothic-ExtraBold.woff") format("woff");
	src: url("font/KoddiUDOnGothic/KoddiUDOnGothic-ExtraBold.otf") format("opentype");
	font-weight:900;
	font-display : swap;
	font-style: normal;
}

/*일본어 日本語*/
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@font-face { 
	font-family:"BIZ-UDPGothic";
	src: url("font/BIZ-UD/BIZ-UDPGothic.ttf") format("truetype");
	font-weight:400;
	font-display : swap;
	font-style: normal;
} 

@font-face { 
	font-family:"BIZ-UDPGothic";
	src: url("font/BIZ-UD/BIZ-UDPGothic-Bold.ttf") format("truetype");
	font-weight:700;
	font-display : swap;
	font-style: normal;
} 

@font-face { 
	font-family:"BIZ-UDMincho";
	src: url("font/BIZ-UD/BIZ-UDMincho-Regular.ttf") format("truetype");
	font-weight:400;
	font-display : swap;
	font-style: normal;
} 
@font-face { 
	font-family:"BIZ-UDPMincho";
	src: url("font/BIZ-UD/BIZ-UDPMincho-Regular.ttf") format("truetype");
	font-weight:400;
	font-display : swap;
	font-style: normal;
} 
@font-face { 
	font-family:"BIZ-UDGothic";
	src: url("font/BIZ-UD/BIZ-UDGothic.ttf") format("truetype");
	font-weight:400;
	font-display : swap;
	font-style: normal;
} 

@font-face { 
	font-family:"BIZ-UDGothic";
	src: url("font/BIZ-UD/BIZ-UDGothic-Bold.ttf") format("truetype");
	font-weight:700;
	font-display : swap;
	font-style: normal;
} 

:lang(ko) {
	word-break: keep-all;
	line-break:normal;
	font-family: "KoddiUDOnGothic","Pretendard Variable", sans-serif, serif;
}
:lang(ja) {
	word-break: auto-phrase;
	font-family: "BIZ-UDPGothic", "Pretendard Variable", sans-serif, serif;
	font-feature-settings: "palt";
}