@charset "utf-8";
:lang(ko) {word-break: keep-all; line-break:normal;}
:lang(ja) {word-break: auto-phrase; font-feature-settings: "palt";}
::selection {background:#51a; color:white;}
/*폰트 설성*/
@font-face { 
	font-family:"BIZ-UDPGothic";
	src: url("font/BIZ-UD/BIZ-UDPGothic.ttf") format("truetype");
	font-weight:400;
	font-display : swap;
} 

@font-face { 
	font-family:"BIZ-UDPGothic";
	src: url("font/BIZ-UD/BIZ-UDPGothic-Bold.ttf") format("truetype");
	font-weight:700;
	font-display : swap;
} 

@font-face { 
	font-family:"KoddiUDOnGothic";
	src: url("font/KoddiUDOnGothic/KoddiUDOnGothic-Regular.woff") format("woff");
	src: url("font/KoddiUDOnGothic/KoddiUDOnGothic-Regular.otf") format("opentype");
	src: url("font/KoddiUDOnGothic/KoddiUDOnGothic-Regular.woff2") format("woff2");
	font-weight:400;
	font-display : swap;
} 
@font-face { 
	font-family:"KoddiUDOnGothic";
	src: url("font/KoddiUDOnGothic/KoddiUDOnGothic-Bold.woff2") format("woff2");
	src: url("font/KoddiUDOnGothic/KoddiUDOnGothic-Bold.woff") format("woff");
	src: url("font/KoddiUDOnGothic/KoddiUDOnGothic-Bold.otf") format("opentype");
	font-weight:700;
	font-display : swap;
} 
@font-face { 
	font-family:"KoddiUDOnGothic";
	src: url("font/KoddiUDOnGothic/KoddiUDOnGothic-ExtraBold.woff2") format("woff2");
	src: url("font/KoddiUDOnGothic/KoddiUDOnGothic-ExtraBold.woff") format("woff");
	src: url("font/KoddiUDOnGothic/KoddiUDOnGothic-ExtraBold.otf") format("opentype");
	font-weight:900;
	font-display : swap;
}
@font-face { 
	font-family:"BIZ-UDMincho";
	src: url("font/BIZ-UD/BIZ-UDMincho-Regular.ttf") format("truetype");
	font-weight:400;
	font-display : swap;
} 
@font-face { 
	font-family:"BIZ-UDPMincho";
	src: url("font/BIZ-UD/BIZ-UDPMincho-Regular.ttf") format("truetype");
	font-weight:400;
	font-display : swap;
} 
@font-face { 
	font-family:"BIZ-UDGothic";
	src: url("font/BIZ-UD/BIZ-UDGothic.ttf") format("truetype");
	font-weight:400;
	font-display : swap;
} 

@font-face { 
	font-family:"BIZ-UDGothic";
	src: url("font/BIZ-UD/BIZ-UDGothic-Bold.ttf") format("truetype");
	font-weight:700;
	font-display : swap;
} 

/*숨김텍스트 설정*/
.hidden, .blind, .a11y-txt, .sr-only, .sr_only, .a11y_txt {
  overflow: hidden;
  border: 0;
  position: absolute;
  /* relative를 사용해도 무관할 듯 하다 */
  z-index: -1;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
}

:root {
    font-size: 1rem;
    margin: 0;
    padding: 0;
    ruby-align: space-between;
    scrollbar-color: rgba(0 0 0 / 0.2) rgba(0 0 0 / 0.2);
}
@supports not (min-block-size: 100dvb) {
    :where(html) {
        block-size: 100%; /* 브라우저 호환성을 위한 설정 */
    }
}

@media (prefers-reduced-motion: no-preference) {
    :where(html:focus-within) {
        scroll-behavior: smooth; /* 포커스된 요소로 부드럽게 스크롤 */
    }
}

:where(input, button, textarea, select, a) {
    font: inherit; /* 입력 요소는 부모의 폰트 속성 계승 */
    box-sizing: border-box;
}

*, :where(body):not(img), body {
    font-size: 1rem;
    line-height: 1.6; /* 가독성을 위한 행 높이 */
    -webkit-font-smoothing: antialiased; /* 텍스트 렌더링 개선 */
    padding:0;
    margin:0;
    position: relative;
    box-sizing: border-box; /* 보다 직관적인 box-sizing 설정 */
    -webkit-text-size-adjust: none; /* iOS의 가로 모드에서 텍스트 크기 조절 방지 */
    color-scheme: dark light; /* 사용자가 다크 테마일 경우 자동으로 다크 테마 적용 */
    font-family: "KoddiUDOnGothic", "BIZ-UDPGothic", sans-serif, serif;
    scroll-behavior: smooth; /* 부드러운 스크롤 */
}

:where(textarea) {
    resize: vertical; /* 텍스트 영역의 가로 크기 조정 비활성화 */
    padding: 1rem; /* 텍스트 영역의 내부 여백 */
}

:where(:focus, button, label, select, summary, [role='button'], [role='option'], [type="file"], [type="file"]::file-selector-button) {
    cursor: pointer; /* 상호작용 가능한 요소임을 알 수 있도록 커서 변경 */
    position: relative;
    transition-duration: 0.2s;
}
summary::-webkit-details-marker { /* Safari 브라우저용 사용자 정의 스타일 */
    display: none;
}
summary {
    list-style-type: none; /* 그 외의 브라우저용 사용자 정의 스타일 */
}

:where(:disabled) {
    cursor: not-allowed; /* 비활성화된 요소의 커서 변경 */
}

:where(label:has(> input:disabled), label:has(+ input:disabled), input[type="radio"]:disabled + label, input[type="checkbox"]:disabled + label) {
    cursor: not-allowed; /* 비활성화된 입력 요소의 라벨 커서 변경 */
}

:where(button) {
    border-style: none; /* 버튼의 기본 테두리 제거 */
}

:where(a) {
    position: relative;
    color: inherit; /* 링크의 색상을 부모 요소와 동일하게 설정 */
    display: inline-flex;
    text-decoration: transparent underline wavy; /* 링크의 밑줄 스타일 설정 */
    transition: text-decoration 0.2s; /* 밑줄 스타일 변경 시 애니메이션 적용 */
    text-underline-offset: 4px; /* 링크 텍스트와 밑줄 사이의 간격 설정 */
}

:where(ul, ol, li) {
    list-style: none; /* 목록의 기본 스타일 제거 */
}

:where(span) {
    vertical-align: middle;
    display: inline-flex;
    align-items: center;
}

:where(img, svg, video, canvas, audio, iframe, embed, object) {
    display: inline-flex; /* 멀티미디어 요소의 예측 가능한 디스플레이 설정 */
    aspect-ratio: auto; /* 콘텐츠의 종횡비 유지 */
    object-fit: contain; /* 콘텐츠가 부모 요소를 벗어나지 않도록 설정 */
    width: 100%; /* 부모 요소에 꽉 차게 설정 */
    position: relative;
    vertical-align: middle;
}

:where(img, picture, svg) {
    max-inline-size: 100%; /* 이미지가 가용 공간을 넘지 않도록 설정 */
    block-size: auto; /* 콘텐츠 종횡비 유지 */
}

:where(p, h1, h2, h3, h4, h5, h6) {
    margin-block-start: 0;
    margin-block-end: 0;
    overflow-wrap: break-word; /* 긴 단어가 넘칠 경우 줄바꿈 */
}

:where(h1, h2, h3, h4, h5, h6) * {
    font: inherit; /* 헤딩의 자식 요소는 부모의 폰트 속성 계승 */
}

:where(hr) { /* 일관성 있는 스타일의 수평선 */
    border: none;
    border-block-start: 1px solid;
    color: inherit;
    block-size: 0;
    overflow: visible;
}

table {
    border-collapse: collapse; /* 테이블 셀의 경계선 결합 */
}


::-webkit-scrollbar-thumb {
    border-radius: 10rem; /* 스크롤바의 스타일 */
    cursor: pointer;
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10rem; /* 스크롤바 트랙의 스타일 */
}
address {text-align: center;}
fieldset {
    border: none; /* 필드셋의 기본 테두리 제거 */
}

::details-content, dialog {
  transition:height 0.2s ease, width 0.2s ease, content-visibility 0.2s ease allow-discrete, display 0.2s ease;

}
dialog :where(.pupup_close,.popover_close,.close_button,.close_popup,.close_popover,.close_ctrl) {
    position: fixed;
    right:0;
    top:0;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
    padding:1;
    min-height: 3rem;
}
dialog :where(.popover_header,.popover_head,.popup_header,.popup_head,.popup_tit,.popup_title,.modal_header) {
    position: sticky;
    left:0;
    top:0;
}
dialog[open] {
    position: relative;
    display: flex;
}
:where(#skipnav, #jumpnav, #skip_nav) {
    position: fixed;
    display: block;
    z-index: 2;
    top: -10rem;
    width: 100vw;
    line-height: 3rem;
    font-size: 1rem !important;
    font-weight: 900;
    text-align: center;
    transition: 0.2s top;
    border: 1px solid;
    background: #437;
    color: #fff;
    backdrop-filter: blur(20px);
}

:where(#skipnav, #jumpnav, #skip_nav):where(:focus, :hover) {
    top: 0rem;
    text-decoration: #fff underline wavy 2px;
    text-underline-offset: 0.4rem;
}