li {padding:0.25rem;}
ol li {
	list-style: amharic-abegede inside;
}
ol li::marker {
	font-weight: bolder;
}
details {
	border-radius:0.25rem;
	width:30rem;
	padding:1rem 2rem;
}
summary {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius:0.25rem;
	color:#207;
	font-weight:bolder;
	cursor:pointer;
	border:1px solid #74c;
	list-style-type:none;
	padding: 1rem;
	outline-offset: -0.25rem;
}
.icon{
	display: block;
	margin-left:0.5rem;
	aspect-ratio: 1/1;
}
.icon::after {
	content: '';
	display: block;
	width:0.75rem;
	height: 0.75rem;
	aspect-ratio: 1/1;
	border:3px solid #97f;
	border-left:none;
	border-bottom:none;
	rotate:135deg;
	transition: rotate 0.4s;
 }
/* <summary>가 펼쳐졌을때 스타일 */
details[open] .icon::after {
	rotate:-45deg;
}

.acc2 summary::after {
	content: "";
	display: block;
	width: 1.25rem;
	height: 1.25rem;
	aspect-ratio: 1/1;
	background-image: url("../../icon/blue_arrow.svg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	transition: transform 0.4s;
}
details[open] summary::after {
	transform: rotate(180deg);
}
.content, .content_inner {
	background-color: #edf;
	padding: 1.5rem;
	display: flex;
	flex-direction: column;
	border-radius: 0.25rem;
}
footer {
	padding: 3rem 0rem;
}
@media (prefers-color-scheme: dark) {
	summary {color:#edf;}
	.content, .content_inner {background-color: #416;}
}

