@charset "utf-8";
.read_first {
	background: #fec;
	border:1px solid #fda;
	position:relative;
	padding:2rem;
	margin:2rem auto;
	margin-top:5rem;
}
.read_first h2 {
	color:#a60;
	font-size: 1.7rem;
}
#woman_blue {
	transform: scaleX(-1);
	height: 100%;
	display:inline;
	position:absolute;
	bottom:0;
	left:2rem;

}

.tiles {
	display:grid;
	justify-items:center;
	justify-self:center;
	justify-content: space-between;
	row-gap:2rem;
}
.tile {
	padding:1rem;
	border:1px #ddd solid;
	background:#fff;
	border-radius: 1rem;
}

.sites {display:flex;}
.sites a {padding:1rem;}


/*다크 모드일 경우의 스타일*/
@media (prefers-color-scheme:dark) {
	.read_first {
		background: #a60;
		border-color: #850;
	}
	.read_first h2 {color:#fec;}
	.tile {
		background: #444;
		border:1px #222 solid;
	}
}

/*Desktop*/
@media screen and (width > 1200px) {
	.tiles {
		grid-template-columns: 32% 32% 32%;
	}
	.read_first {padding-left:12rem;}
}
/*Tablet*/
@media screen and (780px < width < 1200px) {
	.read_first {
		padding:2rem 1rem;
		margin-top:3rem;
		padding-left:14rem;
	}
	#woman_blue {
		height:90%;
		left:1rem;}
	.tiles {
		grid-template-columns: 49% 49%;
	}
	.tile {
	padding:1.5rem;
	}
}
/*Mobile*/
@media screen and (310px < width < 780px) {
	.read_first {
	padding:2rem 1rem;
	padding-left:auto;
	margin-top:3rem;

	}
	#woman_blue {display:none;}
	.tile {
	padding:1rem;
	}
	
}
/*iPhoneSE / Watch?*/
@media screen and (width < 310px) {
	.read_first {
	padding:2rem 1rem;
	padding-left:auto;
	}
	#woman_blue {display:none;}
	.tile {
	padding:0.5rem;
	}

}