@import url("../../root.css")
@charset "utf-8";
:root {
	--main_color:#c91f6f;
	--main_color_gradient:linear-gradient(135deg, #c91f61 0%,#91287c 48%,#5c2e91 100%);
	--alpha_gray:light-dark(#fffa, #000a);
    --purple:light-dark(#baf, #609);
    --invert_purple:light-dark(#609, #baf);
    --alpha_purple:light-dark(#bafa, #609a);
    --gray_line_color:light-dark(rgba(0, 0, 0, 0.3), rgba(255 255 255 /.1));
}

header, .bottom_box {
	background-image: url("../../img/head_bg.jpg");
	width: 100%;
	background-size: 100%;
	min-height: 3rem;
	z-index: 2;

}
:where(.bar_menu a, #gnb_open, #gnb_menu) {
	color:var(--pure_white);
}
.bottom_box {
	position: fixed;
	bottom: 0;
}
footer {
	width: 100%;
	padding-bottom: 0.5rem;
}
a {
	padding:0.5rem;
	display: flex;
	text-underline-offset: 0.5rem;
	align-items: center;
}

table {
	border:none;
	margin:0.5rem 0rem;
}
th, td {
	padding:0.5rem;
	border:solid 1px var(--gray_line_color);
}
form {
	width:100%;
}
fieldset {
	border: 1px solid var(--gray_line_color);
}
dl {padding:1rem 0rem;}
dt {font-weight: 600;}
dd {
	padding:0.25rem 0rem;
	padding-left:1rem;
}
dd :where(ol, ul, p) {
	padding-left: 0.5rem;
}
input {
	accent-color: var(--main_color);
	min-width:1.5rem;
	min-height: 1.5rem;
}
button {
	min-width:3rem;
	min-height:3rem;
}
input, button {
	border-radius: 0.5rem;
	max-height: 3rem;
	vertical-align: middle;
	transition: background 0.2s, border 0.2s, filter 0.2s;
}
:focus:where(:focus, :hover) {
	filter: brightness(1.1) saturate(1.1) contrast(1.1);
}
:where(input[type="text"], input[type="password"], input[type="search"]) {
	min-width:5rem;
	outline-offset: 0.25rem;
	background-color:var(--pure_white);
	border:1px solid var(--purple);
	transition: background-color 0.2s, border-bottom 0.1s;
	padding:0.25rem 0.5rem;
}
input[type="search"], .gnb button {
	background: transparent;	
	border-radius: 10rem;
	align-items: center;
	justify-content: center;
}
:where(input[type="text"], input[type="password"], input[type="search"]):focus {
	border:2px solid var(--alpha_purple);
}
input[type="checkbox"] + span {
	margin-left: 0.5rem;
}
::placeholder {
	color:rgba(20, 0, 20, 0.7);
}
fieldset {
	border:none;
}
h1 a {
	font-size: 2rem;
	display: inline-flex;
	justify-content: center;
}
h1 img {
	max-height: 3rem;
}

h2 {
	font-size: 1.8rem;
	line-height: 2rem;
	padding-bottom:1rem;
	text-align: center;
}
h3 {
	padding:0.5rem;
	font-size:1.3rem;
}
label {display: flex;}
.gnb {
	display: flex;
	justify-content:center;
	align-items: center;
}
label[for="total_search"], label[for="total_search_m"] {
	background-color:rgba(0, 0, 0, 0.5);
	border-radius: 10rem;
	padding:0.25rem 0.5rem;
	backdrop-filter: blur(1rem);
}
:where(label[for="total_search"], .search_m_box) :where(input, button) {
	background: transparent;
	min-width: 2.25rem;
	min-height: 2.25rem;
	color:white;
	border-radius: 10rem;
}
.search_m_box {
	position: absolute;
	right:0px;
}
#total_search ,#total_search_m {
	color:var(--pure_white);
	font-weight: 500;
	font-size:18px;
}
:where(#total_search, #total_search_m)::placeholder {
	color:#fdf;
}
:where(label[for="total_search"], .search_m_box) img {
	background: transparent;
	opacity: 0.8;
	scale:0.8;
	max-width: 2rem;
	aspect-ratio: 1/1;
	filter: invert(1);
}
#gnb_open {
	z-index: 3;
	background: transparent;
}
#gnb_menu {
	position: fixed;
	width: min-content;
	height: 100dvh;
	left:-100rem; top:0rem;
	transition: display 0.2s;
	background:#353539;
	box-shadow:0px 0px 1rem var(--alpha_gray);
	z-index: 2;
	margin:0rem;
	transform: translate(0, 0);
	animation-duration: 0.2s;
	animation-name: open_gnb;
	animation-fill-mode: forwards;
}

@keyframes open_gnb{
	from {left:-100rem;}
	to {left:0rem;}

}
#gnb_menu_login {
	display: inline-flex;
	padding:1rem;
	font-weight: 900;
	font-size: 1.5rem;
}
#gnb_menu :where(ul,ol) {
	flex-direction: column;
}
#gnb_menu .arrow_list a {
	border-bottom:1px solid var(--alpha_gray);
	padding:0.5rem;
	display: flex;
	align-items: center;
	padding-right: 10rem;
}
#gnb_menu a {
	width:100%;
	color:var(--pure_white);
}
#gnb_menu a img {
	display: inline-block;
	width: 1.5rem;
	height: 1.5rem;
	margin-right:0.5rem;
}
#gnb_menu img + span {
	display: inline-block;
}
#gnb_menu .sub_menu {
	padding:1rem;
}
#gnb_menu .sub_menu a {
	padding:0.5rem 0rem;
	align-items: center;
}
#gnb_menu .sub_menu a::before {
	content: '';
	display: inline-flex;
	width: 0px;
	height: 0px;
	border: solid transparent 0.5rem;
	border-left-color: rgba(220 220 255 / 0.7);
	transition: border-left-color 0.2s;
	vertical-align: middle;
}

#gnb_menu .sub_menu a:where(:hover, :focus)::before {
	border-left-color: rgba(220 220 255 / 1);
}

#gnb_close {
	background: transparent;
	position: absolute;
	top:0; right: 0;
	padding:0.5rem;
	z-index: 2;
}
#gnb_close img {
	scale:2;
}
.bar_menu {
	text-align: center;
	background: #350D3F;
}
.bar_menu > div {
	display: flex;
	justify-content: space-between;
}
main {
	min-height: 100dvh;
}
main::before {
	content: '';
	display: block;
	position: fixed;
	width: 100vw;
	min-height: 100dvh;
	top:0rem;
	background-image: url("../../img/CB_bg_sky.webp");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
}

ul.page_number_ui, .menu ul {
	display: flex;
	justify-content: space-between;
}

section, .modal_popup {
	background: rgba(255, 255, 255, 0.9);
	box-shadow: 0.5rem 0.5rem 1rem 0 rgba(10, 0, 30, 0.2);
	backdrop-filter: blur(1rem) saturate(1.5);
	-webkit-backdrop-filter: blur(1rem) saturate(1.5);
	border: 1px solid rgba(255, 255, 255, 0.7);
}
section.content_width, .modal_popup {
	border-radius: 2rem;
	padding:2rem 1.5rem;
	margin:4rem auto;
}
article {padding:1rem 0rem;}
.more{
	top:2rem; 
	right:1.5rem;
}

.page_number_ui {
	display: flex;
	padding-top:2rem;
	flex-wrap: wrap;
}
.page_number_ui .hidden {
	display: none;
}
.arrow_list {
	display: flex;
	flex-direction: column;
	padding-top:1rem;
}
.arrow_list a {
	display: block;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	padding:0rem;
	line-height: 3rem;
	border-bottom: rgba(0 0 20 / 0.3) 1px solid;
	text-overflow: ellipsis;
}

.arrow_list a::before {
	content:'';
	margin:0px 0rem 0px 0.3rem;
	display: inline-flex;
	width:0px;
	height:0px;
	border:solid transparent 0.5rem;
	border-left-color:rgba(0 0 20 / 0.3);
	transition: border-left-color 0.2s;
	vertical-align: middle;
}
.arrow_list a:where(:hover, :focus)::before {
	border-left-color:rgba(0 0 20 / 0.7);
}
.page_number_ui {
	display: flex;
	justify-content: center;
}
.page_number_ui ol {
	display: flex;
	justify-content: center;
	flex-direction: row;
}
.page_number_ui a {
	display: flex;
	justify-content: center;
	align-items: center;
	width:2rem;
	height: 2rem;
	aspect-ratio: 1/1;
	text-align: center;
	line-height: 2rem;
	margin:0px 0.25rem;
	border:1px var(--main_color); solid;
}
.page_number_ui :disabled {display: none;}
.page_number_ui :where(a[aria-current], .page_arrow_control) {
	color: var(--pure_white);
	background:var(--main_color_gradient);
}

.more {
	line-height: 1rem;
	outline-offset:0.25rem;
	aspect-ratio: 1/1;
	padding: 0rem;
	width:1.5rem;
	font-size:2rem;
	position: absolute;
	justify-content: center;
	align-items: center;
	border-radius: 10rem;
	text-decoration: none;
}
.more::after {
	opacity: 0;
	content: '';
	display: flex;
	aspect-ratio: 1/1;
	width:100%; height: 100%;
	position: absolute;
	inset:0;
	margin:auto;
	border-radius: 10rem;
	background: var(--main_color_gradient);
	box-shadow:0 0 0.15rem 0.5rem var(--gray_line_color);
	transition: 0.2s opacity;
}

.more:where(:focus, :hover)::after {
	opacity: 1;
}

/*하단 메뉴바*/
.menu {
	display: flex;
	justify-content: space-between;
	text-align: center;
	bottom: 0px;
	z-index: 3;
	width: 100vw;
	padding:0.5rem 0rem;
	color:white;
}
.menu li {
	display: flex;
}
.bar_menu_item >:where(a, button) {
	aspect-ratio: 1/1;
	height:3rem;
	border-radius: 1rem;
	font-size: 14px;
	display: flex;
	line-height: 1.5rem;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.bar_menu_item >:where(a, button) span {
	line-height: 1rem;
	font-size: 14px;
}

.bar_menu_item > :where(a, button)[aria-current="page"] :where(svg, img) {
	fill: #91287c;
	filter: invert(45%) sepia(63%) saturate(1946%) hue-rotate(-70deg)
	brightness(0.7);
}
.bar_menu_item > :where(a, button)[aria-current="page"] span {
	background:var(--main_color_gradient);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	font-weight: 900;
}

.bar_menu_item > :where(a, button)[aria-current="page"]::before {
	content: '';
	width:100%;
	background-color: var(--pure_white);
	position: absolute;
	top:0; left:0; bottom: 0; right: 0;
	margin: auto;
	aspect-ratio: 1/1;
	border-radius: 100rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.menu :where(img, svg) {
	height:1.5rem;
	width: 1.5rem;

}

.CB_home svg {
	fill:#91287c;
}

.copyright {
	display: block;
	color: rgba(255 255 255 / 0.7);
	text-align: center;
	font-size: 14px;
	width: 100%;

}


/*기기별 CSS*/

/*PC*/
@media screen and (width >= 1400px) {
	main::before {
		background-image: url("../../img/CB_bg_sky_pc.png");
	}
	h1 {
		padding:1rem 0rem;
	}
	.gnb {
		justify-content: space-between;
	}
	.bar_menu > div {
		justify-content: flex-start;
		gap:1rem;
	}
	section.content_width, .modal_popup {
		margin: 5rem auto;
		border-radius: 3rem;
		padding:3rem;
	}
	h2 {
		font-size: 2rem;
		line-height: 2.5rem;
		padding-bottom:2rem;
	}
	h3 {
		font-size:1.5rem;
	}
	.page_number_ui {
		padding-top:3rem;
	}
	.arrow_list {
		flex-direction: column;
		padding-top: 2rem;
	}
	.more {
		top:3rem;
		right:2.5rem;
	}
	#gnb_menu {
		left:0rem;
		padding:2rem;
	}
	#gnb_menu nav {

	}

}

/*700px〜1200px iPad*/
@media (700px <= width < 1400px )  {
	main {
		background-image: url("../../img/CB_bg_sky_pc.png");
		padding:5rem 0px;
	}
	.gnb {
		justify-content: space-between;
	}

	section.content_width, .modal_popup {
		margin: 3rem auto;
	}
	.arrow_list a::before {
		margin:0px 0.5rem 0px 1rem;
	}

}
/*Mobile*/

/*watch*/
@media screen and (330px > width) {
	h1 img {
		height: 1.5rem;
	}
	h1 {
		padding:0.25rem 0rem;
	}
	.more {
		top:3rem; right:2.5rem;
	}
}

/*Dark Mode Layout*/
@media (prefers-color-scheme:dark) {
	::placeholder {
		color:rgba(255 220 255 / 0.7);
	}
	main::before {
		filter: brightness(0.9);
	}
	section, .modal_popup {
		background: rgba(20 15 25 / 0.9);
		border: 1px solid rgba(240 230 255 / 0.3);
	}
	:where(input[type="text"], input[type="password"], input[type="search"]) {
		background-color: #010003;
	}
	.gnb_menu .sub_menu a::before {
		border-left-color: rgba(0 0 10 / 0.3);
	}
	.gnb_menu .sub_menu a:where(:hover, :focus)::before {
		border-left-color: rgba(0 0 10 / 0.3);
	}
	.arrow_list a {
		border-bottom: rgba(220 220 255 / 0.2) 1px solid;
	}
	.arrow_list a::before {
		border-left-color: rgba(220 220 255 / 0.5);
	}
	.arrow_list a:where(:hover, :focus)::before {
		border-left-color: rgba(220 220 255 / 0.9);
	}
	.more .icon_img {
		filter: invert(1);
		rotate: 45deg;
	}
	.more:after {
		background: rgba(255 255 255 / 0.2);
		box-shadow:0 0 0.15rem 0.5rem rgba(255 255 255 / 0.2);
	}

}