.video_list {
	display: grid;
	gap:clamp(0.25rem, 0.5rem, 0.75rem);
}
.video_list summary {
	aspect-ratio: 4/1;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap:1.5rem;
	border-bottom:var(--gray_line_color) solid 1px;
}
.video_img {
	width:clamp(2rem, 10rem, 15rem);
	display: inline-flex;
}
.video_time {
	font-size:14px;
	opacity: 0.9;
}

iframe {
	border:none;
	width: 100%;
	aspect-ratio: 16/9;
}


/*기기별 CSS*/
/*iPad Air horizontal, PC*/
@media screen and (width >= 1100px) {
	.video_list {
		grid-template-columns:1fr 1fr;
	}
	.video_name {
		font-size:1.25rem;
		line-height: 2rem;
	}
	.video_time {
		font-size:1rem;
	}
}

/*700px〜1100px iPad vertical*/
@media (700px <= width < 1100px )  {

}

/*Mobile*/
@media (340px <= width < 700px ) {

}

/*watch*/
@media screen and (330px > width) {

}

/*Dark Mode Layout*/
@media (prefers-color-scheme:dark) {

}