/*이 문서는 PC를 기준으로 작성되었습니다.*/
section,
form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

legend {
	text-align: center;
	width: 100%;
	padding-bottom:1rem;
}
h3 {text-align: center;}
.login_input_box {
	display: flex;
	flex-direction: column;
	gap:1rem;	
	width: 100%;
	justify-content: center;
}
.input_box label {
	flex-direction: column;
	border-radius: 1rem;
}
.input_box input {
	min-height: 3.5rem;
	transition: background 0.2s, border 0.1s;
	padding:0.5rem;
	padding-bottom:0.25rem;
	padding-top:1rem;
	border-radius: 0.5rem;
}
.label_text {
	line-height: 2rem;
	position: absolute;
	top:0.75rem;
	left:0.5rem;
	opacity: 0.7;
	transition: font-size 0.2s, top 0.2s, opacity 0.2s;
	z-index: 2;
}
.input_box label:has(input:focus, input:valid, input:-webkit-autofill) .label_text {
	opacity: 0.9;
	top:0rem;
	font-size: 14px;
}
.save_login {
	display: flex;
	gap:1rem;
	align-items: center;
}
	.login_controls {
	width: 100%;
	display: flex;
	gap:2rem;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

#login_button {
	background: #54a;
	color: #fff;
	margin:1rem auto;
	font-weight: 900;
	border-radius: 0.5rem;
	width: 100%;
}

.login_account_menu {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap:1rem;
}
.login_account_menu a {
	gap:0.5rem;
	padding:0rem;
}
.with_login_box {
	margin-top:3rem;
}
.with_login {
	width: unset;
	display: flex;
	align-items: center;
	justify-content: center;
}

.with_login li {
	margin: 0.5rem;
	text-align: center;
}

.with_login a {
	width:3rem;
	padding:0rem;
	aspect-ratio: 1/1;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 3rem;
	outline-offset: 4px;
}
.with_login img {
	max-width: 3rem;
	border-radius: 3rem;
}
.google_login {
	background-color: #fff;
}
.google_login img {
	width:1.5rem;
}

/*기기별 CSS*/
/*PC*/
@media screen and (width >=1400px) {}

/*700px〜1200px iPad*/
@media (700px <=width < 1400px) {}

/*Mobile*/
@media (340px <=width < 700px) {
	.login_controls,.input_box {
		flex-direction: column;
	}
	.input_box label,.input_box:has(input:focus) label {
		background-color: transparent;
		border:none;
	}
	.login_box :where(.input_box, button) {
		width: 13rem;
	}

	#login_button {
		width: 13rem;
		height: 3rem;
		aspect-ratio: auto;
		margin: 1rem auto;
	}

}

/*watch*/
@media screen and (330px > width) {
	.login_controls {
		flex-direction: column;
	}

	.login_box :where(.input_box, button) {
		width: 13rem;
	}

	.with_login li>*:last-child {
		width: 13rem;
	}

	#login_button {
		width: 13rem;
		height: 3rem;
		aspect-ratio: auto;
		margin: 0px;
	}


}

/*Dark Mode Layout*/
@media (prefers-color-scheme:dark) {
	.apple_login {filter: invert(1);}
}