@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: url(//fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxP.ttf)format('truetype');
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	src: url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fBBc9.ttf)format('truetype');
}

@font-face {
	font-family: 'Google Sans';
	font-style: normal;
	font-weight: 400;
	src: url(//fonts.gstatic.com/s/googlesans/v14/4UaGrENHsxJlGDuGo1OIlL3Owps.ttf)format('truetype');
}

@font-face {
	font-family: 'Google Sans';
	font-style: normal;
	font-weight: 500;
	src: url(//fonts.gstatic.com/s/googlesans/v14/4UabrENHsxJlGDuGo1OIlLU94YtzCwM.ttf)format('truetype');
}

/*이 문서는 PC를 기준으로 작성되었습니다.*/
section,
form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

legend {
	text-align: center;
	width: 100%;
}

.login_box {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	border: none;
	max-width: 420px;
}

.input_box {
	display: flex;
	padding:1rem 0rem;
	border-radius: 1rem;
	min-width: 13rem;
	max-width: 20rem;
}
.input_box :where(label, input) {
	min-width:5rem;
	outline-offset: 2px;
	background-color: rgba(255 255 255 / 0.05);
	border-bottom: #54b7 2px solid;
	transition: background-color 0.2s, border-bottom 0.1s;
	padding:0.25rem 0.5rem;
}
.input_box:has(input:focus) :where(label,input) {
	background-color: rgba(255 255 255 / 0.15);
	border-bottom: #54b 2px solid;
}
.login_controls {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

}

.input_box label {
	line-height: 2rem;
}

#login_button {
	background: #54b;
	color: #fff;
	font-weight: 900;
	border-radius: 0.5rem;
	margin-left:1rem;
	height:5rem;
	aspect-ratio: 1.618/1;

}

.login_account_menu {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap:1rem;
}
.login_account_menu a {
	gap:0.5rem;
	padding:0rem;

}

.with_login {
	margin-top:2rem;
	width: unset;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.with_login li {
	text-align: center;
}

.with_login li>*:last-child {
	margin: 0.25rem auto;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 20rem;
	padding:0rem;
}

.with_login li>*:not(a):focus-within {
	outline: solid black 1px;
}

.with_login img {
	width: auto;
	height: 100%;
}

/*.google_login>span {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 1rem;
	font-size: 1.5rem;
	background: #4285F4;
	padding: 1rem 0px;
	font-family: Google Sans, arial, sans-serif;
	font-weight: 500;
}
*/
/*기기별 CSS*/
/*PC*/
@media screen and (width >=1400px) {}

/*700px〜1200px iPad*/
@media (700px <=width < 1400px) {}

/*Mobile*/
@media (340px <=width < 700px) {
	.login_controls,.input_box {
		flex-direction: column;
	}
	.input_box label,.input_box:has(input:focus) label {
		background-color: transparent;
		border:none;
	}
	.login_box :where(.input_box, button) {
		width: 13rem;
	}

	.with_login li>*:last-child {
		width: 13rem;
	}

	#login_button {
		width: 13rem;
		height: 3rem;
		aspect-ratio: auto;
		margin: 1rem auto;
	}

}

/*watch*/
@media screen and (330px > width) {
	.login_controls {
		flex-direction: column;
	}

	.login_box :where(.input_box, button) {
		width: 13rem;
	}

	.with_login li>*:last-child {
		width: 13rem;
	}

	#login_button {
		width: 13rem;
		height: 3rem;
		aspect-ratio: auto;
		margin: 0px;
	}


}

/*Dark Mode Layout*/
@media (prefers-color-scheme:dark) {
}