.main_content {
	margin-top: 0px!important;
	padding:1.5rem 1rem;

}
.main_content ul {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-items: stretch;
	justify-content: space-between;
}
.main_content a {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin:0.25rem;
	text-align: center;
}
.main_content li:after {
	content: '';
	height:30%;
	width:1px;
	display: block;
	background: rgba(0 0 0 / 0.9);
	position: absolute;
	bottom:33%;
	right: -1px;
}
.main_content li:nth-child(3n)::after {
	display: none;
}

.main_content img {
	width:45%;
	padding-bottom:0px;
	max-width: 80px;
	vertical-align: bottom;
	filter: brightness(0.1);
}
.main_content span {
	text-align: center;
	width: 100%;
}

/*기기별 CSS*/
/*PC*/
@media screen and (width >= 1400px) {
	.main_content {
		padding:2.5rem 2rem;
	}
	.main_content ul {
		display: inline-flex;
	}
	.main_content li {
		margin:0 auto;
		width:25%;
	}
	.main_content li:not(:last-child)::after{
		display: flex!important;
	}
	.main_content a {
		padding: 0.5rem;
		margin:0.5rem;
	}

}

/*700px〜1200px iPad*/
@media (700px <= width < 1400px )  {
	.main_content {
		padding:3rem 2.5rem;
	}
	.main_content li:nth-child(n+7) {
		margin-bottom: 1rem;
	}
}

/*Mobile*/
@media (340px <= width < 700px ) {
}
/*iPhone SE, Galaxy Fold3, watch*/
@media screen and (330px > width) {
	*, :where(body):not(img) {
		font-size: 0.8rem;
		line-height: 1.5rem;
	}
	.main_content {padding:1.5rem 1rem;}


}

/*Dark Mode Layout*/
@media (prefers-color-scheme:dark) {
	.main_content li:after {
		background: rgba(255 255 255 / 0.9);
	}
	.main_content img {
		filter: brightness(1);
	}
}