.main_content ul {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-items: stretch;
	align-items: center;
}
.main_content a {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin:0.25rem;
	padding:0.25rem;
	text-align: center;
	aspect-ratio: 1/1;
	border-radius: 1rem;
	outline-offset: 2px;
}
.main_content li:after {
	content: '';
	height:30%;
	width:1px;
	display: block;
	background: rgba(0 0 0 / 0.9);
	position: absolute;
	right:0px;
	bottom:35%;
	
}
.main_content li:nth-child(3n)::after {
	display: none;
}

.main_content img {
	padding-bottom:0px;
	max-width: 5rem;;
	filter: brightness(0.1);
	vertical-align: text-bottom;
	aspect-ratio: 1.618/1;
}
.main_content span {
	display: block;
	text-align: center;
	width: 100%;
	line-height: 1.25rem;
}

/*기기별 CSS*/
/*PC*/
@media screen and (width >= 1400px) {
	.main_content {
		padding:2.5rem 2rem;
	}
	.main_content ul {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.main_content li:not(:last-child)::after{
		display: flex!important;
	}
	.main_content a {
		aspect-ratio: 1.618/1;
		margin:0rem 0.25rem;
		height: 4.5rem;
	}
	.main_content a img {
		height: 3rem;
	}

}

/*700px〜1200px iPad*/
@media (700px <= width < 1400px )  {
	.main_content a {
		aspect-ratio: 1.618/1;
		margin:0rem 0.25rem;
	}
}

/*Mobile*/
@media (340px <= width < 700px ) {
}
/*iPhone SE, Galaxy Fold3, watch*/
@media screen and (330px > width) {
	*, :where(body):not(img) {
		font-size: 0.8rem;
		line-height: 1.5rem;
	}
}

/*Dark Mode Layout*/
@media (prefers-color-scheme:dark) {
	.main_content li:after {
		background: rgba(255 255 255 / 0.9);
	}
	.main_content img {
		filter: brightness(1);
	}
}