article > :where(ul, ol) > li {
    padding-left: 1rem;
}

dt {
    font-size: 1.1rem;
}

.dpb.tcol_b {
    font-weight: 600;
}

a {
    display: inline-flex;
}

li {
    line-height: 2rem;
}
.stable li {
    justify-content: flex-start;
}
.subli li {
    padding-left:1rem;
}