.agree_please {text-align:center;}
form h3 {
	padding:0rem;
}
form h3 label, .policy_box {
	padding:0.5rem;
}
form h3 label {
	font-size: 1rem;
	display: flex;
	justify-content: space-between;
	background: #f1f1f1;
	border-bottom: 1px solid #e6e6e6;
	font-weight: 700;
}
form h3 label input {
	min-width: 1.5rem;
}
fieldset {
	margin:2rem auto;
}
.policy_box dl {
	padding:0rem;
}
.policy_box {
	background-color: rgba(255 258 255 / 0.4);
	aspect-ratio: 4/1;
	overflow-y: scroll;
}
.buttons {
	display: flex;
	text-align: center;
	justify-content: space-evenly;
	margin:0rem auto;
}
.buttons a{
	min-height: 3rem;
	min-width: 3rem;
	padding:0.5rem;
	text-align: center;
	justify-content: center;
	background-color: rgba(70 70 70 / 0.7);
	aspect-ratio: 1.618/1;
}

.buttons .ok, .join_step li[aria-current="step"] .step_num {
	background-color: #242e62;
	color:#fff;
	font-weight: 900;
}
.join_step li[aria-current="step"] {
	font-weight: 900;
}
.join_step {
	display: flex;
	justify-content:flex-end;
	padding-bottom: 1rem;
}
.join_step li {
	display: flex;
	justify-content: center;
	align-items: center;
	margin:0 0.5rem;
	flex-direction: column;
}
.join_step li p {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
}
.join_step li .step_num {
	width: 2rem;
	padding:0rem;
	border-radius: 5rem;
	aspect-ratio: 1/1;
	background-color: rgba(70 70 70 / 0.7);
}
/*기기별 CSS*/
/*PC*/
@media screen and (width >= 1400px) {
	form h3 label {font-size:1.2rem;}
	.join_step li {margin:0rem 1rem;}
	form h3 label, .policy_box {
		padding:1rem;
	}
	fieldset {
		margin:4rem auto;
	}

}

/*700px〜1200px iPad*/
@media (700px <= width < 1400px )  {

}

/*Mobile*/
@media (340px <= width < 700px ) {

}

/*watch*/
@media screen and (330px > width) {

}

/*Dark Mode Layout*/
@media (prefers-color-scheme:dark) {
	fieldset {
		border: 1px solid rgba(100 100 100 / 0.5);
	}
	form h3 label {
		background-color:rgba(0 0 0 / 0.7);
		border-bottom: 1px solid rgba(100 100 100 / 0.5);
	}
	.policy_box {
		background-color: rgba(0 0 0 / 0.5);
	}

}