@import url("../../root.css")
@charset "utf-8";
:root {
	--main_color:light-dark(#dcf, #507);
	--invert_main_color:light-dark(#507, #dcf);
	--popup : light-dark(rgba(255 255 255 / 0.7), rgba(40 40 40 / 0.6))
}
body {
	font-size:1rem;
	background-repeat:repeat;
	background:url(../img/purplestarW.jpg);
	background-attachment:fixed;
	background-size:80%;
	margin:0;
	padding:0;
	accent-color:var(--main_color);
}

main {
	margin-block:clamp(3rem, 5vmax, 5rem)!important;
	margin-inline: auto;
	display:block;
	padding:clamp(1rem, 3vmax, 4rem);
	border-radius:2rem;
	border:rgba(120 100 255 / 0.7) 1px solid;
	backdrop-filter:blur(1rem);
}


header {
	background-color:#405;
}

footer, header {
	margin:0rem auto; 
	padding:1rem 0rem;
	display:flex;
	align-items:center;
	justify-content:center;
}

footer {
	background: linear-gradient(#406 20%, #749);
	color:var(--pure_white);
	padding:2rem 0rem;
	margin:0rem;
}

/*제목류*/
h1 {
	font-size:1.7rem;
	font-weight:900;
}
h2 {
	font-weight:900;
	color:#103;
	display:flex;
	margin:0.5rem;
	font-size:1.5rem;
}


ul,dl,ol {
	padding:0.25rem 0; 
	margin:0px;
}

p {margin:0px; padding:0.3rem 0px;}
li {
	list-style-position:inside;
	padding:0.5rem 0px;
}
details li {
	padding:0;
	margin:0.25rem auto;
}
.ovsb {overflow-x:auto;}

/*클릭가능한 것들*/
#skipnav {
	z-index:2;
	transition: 0.3s top;
	position:fixed; 
	top:-100rem; 
	width:90%;
	box-sizing:border-box;
	display:flex;
	justify-content:center; 
	font-weight:900; 
	margin:0px auto; 
	text-align:center;
	left: 50%;
	color:white;
	transform: translateX(-50%);
	background-color:var(--main_color);
	border:#87f 2px solid;
}
#skipnav:focus {
	position:fixed; 
	top:0px;
}

#page-top {
	width:2.5rem;
	height:2.5rem;
	padding:0px;
	position:fixed;
	bottom:1rem;
	right:1rem;
	border-radius:100%;
	z-index:5;
	background:var(--main_color);
	border:2px solid var(--invert_main_color);
	backdrop-filter:blur(10px);
}
#page-top path:last-child {
	fill:var(--invert_main_color);
}
a {
	scroll-behavior:smooth;
	text-decoration:0px wavy underline transparent;
	padding:0.7rem;
	outline-offset:-1px;
	text-underline-offset:0.25rem;
	transition:text-decoration 0.1s, outline 0.1s;
}
details a {display: flex;}
a:where(:focus, :hover) {
	text-decoration:2px wavy underline #427;
}
a:active, :focus, a:hover {
	transition:0.4s filter, 0.4s transform, 0.4s text-decoration;
	filter:brightness(1.1) saturate(120%);
}
a,summary,button,input {
	transition: background 0.3s;
}
button {
	background-color:#fce;
	border:none;
	padding:1rem;
}

details {
	margin:2rem auto;
	border:1px solid var(--main_color);
}
details > * {
	padding:clamp(0.25rem, 0.5rem, 1rem);
}

summary {
	background:var(--main_color);
}

/*입력 요소*/
textarea {
	font-size:1.2rem;
	line-height:1.5rem;
	resize:none;
	overflow-y:scroll;
	font-family:"BIZ-UDGothic";
	width: 100%;
	min-height:11rem;
	height:max-content;
	max-height:33rem;
	padding:0px;
	margin:0px;
	border:none;
	border-top:var(--main_color) 1px solid;
	border-bottom:var(--main_color) 1px solid;
	background-color:transparent;
}

#page-top svg {
	width:100%;
	height:100%;
}

/*표 관련 선언*/
table {
	margin:1rem auto;
}
td,th {
	box-sizing:border-box;
	vertical-align:middle; 
	border:1px solid #70aa; 
	padding:0.5rem;
	font-size:1.2rem;
}
th:not(.support_browser th), .support_browser td {
	background-color:var(--main_color); 
	font-weight:700;
}
td {font-weight:400;}
.verT {
	/*display: grid;*/
	text-align:center;
	grid-auto-flow: row dense;
}
thead, .support_browser {display: contents;}
.support_browser_name {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.support_browser_name * {
	margin:0 auto;
}
.support_browser th p {
	writing-mode: vertical-rl;
	rotate:180deg;
}
/*스크롤바 커스텀*/
::-webkit-scrollbar {
	width: 0.5rem;  /* 스크롤바의 너비 */
}

::-webkit-scrollbar-thumb {
	background:rgba(150 120 255 / 0.3); /* 스크롤바의 색상 */
	border:solid 1px rgba(50 30 100 / 0.3);
	border-radius: 10px;
}

::-webkit-scrollbar-track {
	border-radius:10rem;
	background:rgba(20 0 50 / 0.1);  /*스크롤바 뒷 배경 색상*/
	border:1px solid rgba(150 120 255 / 0.3);
}
h1 {color:#ffa;}


/*레이어*/
dialog {
	background: var(--popup);
	box-shadow: 0px 0.25rem 1.5rem 0px rgba(0 0 0 /0.3);
	/*transition:none;*/
	animation: close 1s forwards;
	&[open] {
		animation: open 1s forwards;
	}
}

@keyframes open {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes close {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
@media (prefers-color-scheme:dark) {
	body {
		background-image:url(../img/purplestar.jpg); 
	}
	a:focus, a:hover {
		text-decoration:2px wavy underline var(--invert_main_color);
	}
	a:active, summary:active {
		filter:brightness(1.2);
	}
	.verT path:last-child {
		fill:var(--pure_white);
		opacity: 0.9;
	}
	h2 {color:#fcf;}
	button {background-color:#080;}
	.layerH {color:#ffa;}
	header, footer {
		background:linear-gradient(#304 20%, #507);
	}
	a:active, summary:active, a:focus, a:hover {
		filter:brightness(1.2) saturate(120%);
	}
	#page-top {background-color:#405a;}
}


@media screen and (max-width:320px) {
	body {font-size:14px;}
	h1 {font-size:1.5rem;}

}
@media screen and (max-width:1100px) {
}

@media screen and (max-width:600px) {

}