@charset "utf-8";
:root {
	--main_color:#baf;
	--main_color_alpha:#bafa;
	--gray_line_color:rgba(0, 0, 0, 0.3);
}

/*Mobile First*/
h1 {padding:2rem;}
h2 {padding:1.5rem;}
address {
	text-align: center;
	font-style: normal;
	padding:2rem;
}

a:where(:hover, :focus) {
	text-decoration:underline wavy rgba(0 0 0 / 0.5);
	text-underline-offset:0.25rem;
}
a:active, summary:active {
	transition:0.2s filter, 0.4s transform;
	filter:brightness(1.1) saturate(1.1);
}

input, textarea {
	display:inline-flex;
	align-items: baseline;
	min-width: 1.25rem;
	min-height: 1.25rem;
	vertical-align: middle;
	accent-color:var(--main_color);
	padding:0px 0.5rem;
}
.custom_input :where(input[type="text"], [type="password"], [type="search"])
{
	field-sizing: content;
}
svg {
	fill:var(--main_color);
	vertical-align: middle;
}

/*Desktop*/
@media screen and (1100px < width) {
}

/*Tablet*/
@media screen and (760px < width < 1100px) {

}

/*Mobile*/
@media screen and (320px < width < 760px) {
	tr {display: flex;}
}

/*Watch*/
@media screen and (width < 320px) {

}
/*Dark Mode Layout*/
@media (prefers-color-scheme:dark) {
/*Dark Mode Layout*/
}


