@charset "utf-8";
:root {
    --main_color:#baf;
    --main_color_alpha:#bafa;
    --gray_line_color:rgba(0, 0, 0, 0.3);
}
table {
    margin: 0px auto;
}

tr {
    border: solid 1px;
}

th {
    background: var(--gray_line_color);
}

form th[scope="row"] {
    text-align: left;
}

/*수정 창*/
#user_name {
    -webkit-ime-mode: active;
    -moz-ime-mode: active;
    -ms-ime-mode: active;
    ime-mode: active;
}

.move_label {
    position: absolute;
    top: calc(2rem + 5px);
    left: calc(1rem + 5px);
    background: inherit;
    transition: top 0.2s, left 0.2s, scale 0.2s;
    scale: 1;
}

input:where(:focus, :not(:placeholder-shown))+.move_label {
    scale: 0.8;
    top: 5px;
    left: 5px;

}

.custom_input * {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.custom_input :where(input[type="text"], [type="password"])+label {
    opacity: 0.7;
}

.custom_input :where(input[type="text"], [type="password"]) {
    background: transparent;
    border: var(--gray_line_color) 1px solid;
    border-bottom: solid var(--main_color) 3px;
    padding: 5px;
    transition: opacity 0.2s;
    outline-offset: 4px;
    margin-top: 1rem;
}

.custom_input :where(input[type="text"], [type="password"]):focus+label {
    opacity: 1;
}

.custom_input :where(input[type="text"], [type="password"])::placeholder {
    color: transparent;
    transition: color 0.2s;
}

.custom_input :where(input[type="text"], [type="password"]):where(:focus)::placeholder {
    color: #768;
}

/*암호 편집 창*/
.custom_input [type="password"] {
    webkit-text-security: disc;
    -moz-text-security: disc;
    text-security: disc;
}

.custom_input :where(input[type="radio"], input[type="checkbox"]) {
    border: 2px solid;
    border-color:var(--main_color);
    border-radius: 10rem;
    transition: 0.1s scale;
}

label:hover+.custom_input :where(input[type="radio"], input[name="custom_checkbox"]),
.custom_input :where(input[type="radio"], input[name="custom_checkbox"]):where(:hover,:focus) {
    scale: 1.2;
}

.custom_input :where(input[type="checkbox"]:checked) {
    background: radial-gradient(circle, rgba(70 40 150 / 1)30%, rgba(120 100 255 / 1) 70%);
}
.custom_input :where(input[type="checkbox"]:checked)::before {
    content: '';
    width: 4px;
    height: 8px;
    position: absolute;
    rotate: 45deg;
    inset:0;
    margin:auto;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
}

label[for="password_view"] {
    margin-top: 1rem;
    margin-left: 0.5rem;
}
label[for="password_view"]::after {
    display: none;
}
/*스위치 체크박스*/
label[for="switch_checkbox"]+div {
    display: inline-flex;
    justify-content: center;
    vertical-align: middle;
    height: 1.5rem;
    border-radius: 10rem;
    background: var(--gray_line_color);
    border: rgba(200 200 200 / 0.5) 1px solid;
    aspect-ratio: 2/1;
    transition: 0.2s background, 0.2s left;
}

label[for="switch_checkbox"]+div label {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
}

label[for="switch_checkbox"]+div :where(i, input) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    border-radius: 10rem;
}

label[for="switch_checkbox"]+div i.on {
    left: 8px;
    height: 8px;
    width: 2px;
    background-color: rgba(255 255 255 / 0.5);
}

label[for="switch_checkbox"]+div i.off {
    right: 8px;
    width: 8px;
    height: 8px;
    border: rgba(255 255 255 / 0.5) solid 1px;
}

label[for="switch_checkbox"]+div input {
    outline-offset: 4px;
    left: 0.125rem;
    transition: left 0.2s;
    background: linear-gradient(to bottom, rgba(255 255 255 / 1), rgba(200 200 200 / 0.99));
    border: solid 1px rgba(200 200 200 / 0.5);
}

label[for="switch_checkbox"]+div input:checked {
    left: 1.5rem;
}

.custom_input :where(input[id="switch_checkbox"]:checked)::before {
    content: '';
    display: none;
}

label[for="switch_checkbox"]+div:has(input:checked) {
    background: var(--main_color);
}

/*라디오*/
.custom_input :where(input[type="radio"]:checked) {
    background: radial-gradient(circle, rgba(70 40 150 / 1)10%, rgba(120 100 255 / 1) 50%, rgba(255 255 255 / 1) 50%);

}

.custom_input :where(input[type="radio"]:disabled, input[type="checkbox"]:disabled) {
    filter: brightness(1.5) saturate(0.3);
}

.custom_input :where(input[type="radio"]:disabled, input[type="checkbox"]:disabled):hover {
    scale: 1;
}


.custom_input :where(input[type="radio"], input[type="checkbox"]):disabled::after {
    content: '';
    position: absolute;
    inset:0;
    margin:auto;
    width: 2px;
    height: 100%;
    rotate: 45deg;
    background:var(--main_color);
}

/*별점 라디오 버튼*/
.custom_input :where(input[name="star_radio"]) {
    border: none !important;
    scale: 1 !important;
    background: transparent;
    position: absolute;
    left: 0px;
    width: 100%;
    height: 100%;
    transition: 0.2s filter;
}

.custom_input label:has(input[name="star_radio"]) svg {
    width: 1.25rem;
    height: 1.25rem;
}

.custom_input label:has(input[name="star_radio"]):hover {
    filter: brightness(1.3);
    transition: 0.2s filter;
}

.custom_input label:has(input[name="star_radio"]) {
    padding: 0.5rem 1rem;
    border-radius: 10rem;
}

input[name="star_radio"]:where(:focus, :hover) {
    scale: 1;
}

.custom_input label:has(input[name="star_radio"]:checked) {
    box-shadow: 0px 0px 0px 3px var(--main_color); inset;
}

label:has(input[name="star_radio"]) span {
    width: 5rem;
    text-align: right;
}

label:has(svg) {
    display: inline-flex;
    align-items: center;
}

/*탭 라디오*/
.custom_input .tab_li {
display: inline-flex;
}
.custom_input label:has(input[name="tab_radio"]) {
    background: transparent;
    padding:0.5rem 1rem;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    text-align: center;
    border: 5px solid var(--main_color);
    z-index: 2;
    transition: background 0.2s, font-weight 0.2s;
}

.custom_input :where(input[name="tab_radio"]) {
    border: none !important;
    background: transparent;
    position: absolute;
    left: 0;
    top: 0;
    scale: 1;
    padding: 0;
    border-radius: 0;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    width: 100%;
    height: 100%;
}
.custom_input label:has(input[name="tab_radio"]:checked) {
    background: var(--main_color);
    font-weight: 900;
    color: ;
}
.custom_input .tab_panel {
    width: 80%;
    padding: 1rem;
    margin-top:-5px;
    border: 5px solid var(--main_color);
    border-radius: 1rem;
    border-top-left-radius: 0px;
}

/*슬라이더*/
/*********** Baseline, reset styles ***********/
.custom_input input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    min-width: 10rem;
    width: 20rem;
    border-radius: 10rem;
    display: inline-flex;
    align-items: center;
    padding: 1rem;
}


/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */
.custom_input input[type="range"]::-webkit-slider-runnable-track {
    background-color: var(--main_color);
    border: 1px solid var(--main_color);
    border-radius: 10rem;
    height: 0.5rem;
    width: 100%;
    position: relative;

}

.custom_input input[type="range"]::-webkit-scrollbar {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    /* Centers thumb on the track */
    background-color: var(--main_color);
    width: 100%;

}

/* slider thumb */
.custom_input input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    /* Centers thumb on the track */
    background-color: #ffffff;
    border-radius: 1rem;
    height: 1.25rem;
    width: 1.25rem;
    margin-top: -0.5rem;
}

/*********** Firefox styles ***********/
/* slider track */
.custom_input input[type="range"]::-moz-range-track {
    background-color: var(--main_color);
    border-radius: 0.5rem;
    height: 0.5rem;
}

/* slider thumb */
.custom_input input[type="range"]::-moz-range-thumb {
    background-color: #ffffff;
    border: none;
    /*Removes extra border that FF applies*/
    border-radius: 1rem;
    height: 1.25rem;
    width: 1.25rem;
}

.custom_input input[type="range"]:focus::-moz-range-thumb {
    outline: 3px solid #ffffff;
    outline-offset: 0.125rem;
}

/*컬러*/
.custom_input:has(input[type="color"]) {
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom_input input[type="color"] {
	display: flex;
	justify-content: center;
    width: 7rem;
    height: auto;
    background-color: transparent;
    border: none;
    padding: 0px;
    cursor: pointer;
    aspect-ratio: 1 / 1;
    text-align: center;
    border-radius: 1rem;
}

.custom_input input[type="color"]::-webkit-color-swatch {
    border: none;
}

.custom_input input[type="color"]::-moz-color-swatch {
    border: none;
}

label[for="custom_color"] {
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem 0.5rem;
    text-align: center;
    border: #eee 1px solid;
    max-width: 8rem;
    background: rgba(255 255 255 / 0.1);
    box-shadow: 1rem 1rem 1rem rgba(0 0 0 / 0.1);
    aspect-ratio: 1/1.58;
}
label[for="custom_color"] div {
	display: flex;
	justify-content: center;
}
label[for="custom_color"] p {
    width:100%;
    line-height: 2;
}
/*select*/
.custom_input {
    select, option {
        min-width: 10rem;
        background-color: var(--main_color);
        color:#fff;
        padding: 0.5rem;
        border:none;
        transition:0.2s;
        align-items: center;
    }
    select, ::picker(select) {
      appearance: base-select;
      border:none;
  }
  ::picker(select) {
      opacity: 0;
      transition: all 0.4s allow-discrete;
  }
  ::picker(select):popover-open {
      opacity: 1;
  }
  option:where(:hover, :focus) {
    filter: brightness(0.9) saturate(1.2) contrast(1.2);
    font-weight: 500;
}
select::picker-icon {
    color:rgba(0, 0, 0, 0.3);
    transition: 0.4s rotate;
    scale: 1.5;
}
select:open::picker-icon {
  rotate: 180deg;
}
option:first-of-type {
  border-radius: 8px 8px 0 0;
}

option:last-of-type {
  border-radius: 0 0 8px 8px;
}
option {border:rgba(255 255 255 / 0.3) 1px solid;}

option:not(option:last-of-type) {
  border-bottom: none;
}
select:where(:hover, :focus), option:checked {
    filter: brightness(1.1) saturate(1.2);
}
option:checked {
    font-weight: 900;
}

}
/*파일*/
label:has(#file_text) {
    padding: 1rem;
    display: flex;
    align-items: center;
}

label:has(#file_text):where(:hover, :focus) input {
    opacity: 1;
}
.custom_input input[type="file"] {
	min-height: 3rem;
}
.custom_input input[type="file"]::file-selector-button {
    border: var(--main_color_alpha) solid 2px;
    background-color: var(--main_color);
    padding: 0.5rem;
    color: white;
    cursor: pointer;
    position:absolute;
    right:0px;

}

#file_text {
    margin-top: 0px;
    z-index: -1;
}

span:has(#custom_design_file:focus) {
    border: 2px solid white;
    box-shadow: 0px 0px 0px 1px black inset;
    border-radius: 4px;
}

.custom_input label[for="custom_design_file"] span {
    border: var(--main_color_alpha) solid 2px;
    background-color: var(--main_color);
    padding: 0.5rem;
    color: white;
    margin-left: 0.5rem;
}
#custom_date {
    background: var(--main_color);
    border:none;
    padding:0.5rem;
}
::-webkit-calendar-picker-indicator {
    border-radius: 2rem;
    padding:0.5rem;
    margin:0rem;
    cursor: pointer;
    transition: box-shadow 0.2s;
}

#custom_date:where(:hover, :focus)::-webkit-calendar-picker-indicator {
    box-shadow:0px 0px 2rem rgba(0, 0, 0, 0.3) inset;
}

::-webkit-inner-spin-button, ::-webkit-clear-button {
    background: var(--main_color);
    font-weight: 900;
}
/*Dark Mode Layout*/
@media (prefers-color-scheme:dark) {
    :root {
        --main_color:#64a;
        --main_color_alpha:#64aa;
        --gray_line_color:rgba(255 255 255 / 0.1);
    }
    th {
        background: var(--gray_line_color);
    }
    .custom_input {
        label:has(input[name="star_radio"]):hover {
            filter: saturate(8) hue-rotate(-30deg);
        }
        label[for="custom_color"] {
            border: var(--gray_line_color); 1px solid;
        }
    }

}

/*기기별 CSS*/

/*PC*/
@media screen and (width >=1400px) {}

/*700px〜1200px iPad*/
@media (700px <=width < 1400px) {
    tr {
        border:none;
        display: flex;
        flex-direction: column;
    }
    th, td {border:1px solid;}

}

/*Mobile*/
@media (700px > width) {
    tr {
        border:none;
        display: flex;
        flex-direction: column;
    }
    th, td {border:1px solid;}
}
