@charset "utf-8";
.content_width {
	width:95vw;
	max-width: 320px;
	margin: 0px auto;
}
.content_width > * {
	width: 100%;
}
h1 {
	text-align: center;
}
h1 a {
	font-size: 2rem;
	width: 40%;
	padding:3rem 0px 1.5rem!important;
	display: inline-flex;
	justify-content: center;
}
h1 img {
	width: 100%;
	height: auto;
	max-width: 230px;
	max-height: 75px;
}

.bar_menu {
	text-align: center;
	background: #350D3F;
}
.bar_menu > div {
	display: flex;
	justify-content: space-between;
}
.bar_menu a {
	color:#fff;
	width: 100%;
	padding:0.5rem 1rem;
}
.bar_menu a:first-child {
	text-align: left;
	padding-left:0px;
}
.bar_menu a:last-child {
	text-align: right;
	padding-right:0px;
}
main {
	background-image: url("../img/CB_bg_sky.webp");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	padding:3rem 0px;
	margin-bottom: -0.2rem;
}
header, .bottom_box {
	background: linear-gradient(135deg, #c91f61 0%,#91287c 48%,#5c2e91 100%); 

}

a {
	display: block;
	text-underline-offset: 0.5rem;
}
a:not(main a) {
	padding: 1rem;
}
span {display: block;}
ul {
	width: 100%;
	display: flex;
	justify-content: space-between;
	}

section {
	border-radius: 2rem;
}
section.content_width {
	margin: 3rem auto;
}
section.content_width:last-child {
	margin-bottom: 0px;
}

.list_ui ul a:before {
	opacity: 0.3;
	content:'';
	margin:0px 0rem 0px 0.3rem;
	display: inline-flex;
	width:0px;
	height:0px;
	border:solid transparent 0.5rem;
	border-left-color:rgba(0 0 0 / 0.7);
	vertical-align: middle;
}
.list_ui ul a:where(:hover, :focus)::before {
	opacity: 1;
}

.menu {
	color:white;
	padding:1rem 0px;
	justify-content: space-between;
	text-align: center;
	position:sticky;
	bottom:0px;
	z-index: 2;
}
.menu li {
	display: flex;
	justify-content: center;
}
.menu li:nth-child(2) {
	margin:0px 1rem;
}
.menu a {
	aspect-ratio: 1/1;
	width:100%;
	max-width: 8rem;
	border-radius: 100rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.menu span {
	padding-top:0.5rem;
}
.CB_home {
	margin: 0px auto;
}
.CB_home:before {
	content: '';
	width:80%;
	background-color: #fff;
	position: absolute;
	top:0; left:0; bottom: 0; right: 0;
	margin: auto;
	aspect-ratio: 1/1;
	border-radius: 100rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.menu :where(img, svg) {
	width:20px;
}

.CB_home svg {
	fill:#AD236E;
}
.CB_home span{
	background: linear-gradient(135deg, #c91f61 0%,#91287c 48%,#5c2e91 100%);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	font-weight: 900;
	}

.copyright {
	color: white;
	text-align: center;
	padding-bottom:1rem;

	opacity: 0.7;

}


/*기기별 CSS*/

/*PC*/
@media screen and (width >= 1400px) {
	.bar_menu a {
		text-align: center;
		margin:1rem;
	}
	main {
		padding:7rem 0px;
	}

	section {border-radius: 4rem;}
	.content_width {
		max-width: 980px;
	}
	section.content_width {
	    margin: 7rem auto;
	}
}

/*700px〜1200px iPad*/
@media (700px <= width < 1400px )  {
	.content_width {
		max-width:692px;
	}
	main {
		padding:5rem 0px;
	}
	section.content_width {
    	margin: 5rem auto;
	}
	.list_ui ul a:before {
		margin:0px 0.5rem 0px 1rem;
	}

}
@media (340px <= width < 700px ) {
}
/*watch*/
@media screen and (330px > width) {

}

/*Dark Mode Layout*/
@media (prefers-color-scheme:dark) {
	.list_ui ul a:before {
		border-left-color:rgba(255 255 255 / 0.9);
	}

}