.login_box {
	border: none;
	display: flex;
}
.input_box {
	display:flex;
	flex-direction: column;
}
.input_box input {
	padding:0.5rem;
	margin:1rem;
}
.with_login  {
	width: unset ;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.with_login a {
	display: flex;
	align-items: center;
	overflow: visible!important;
	height: 3rem;
}
.google_signin_button {
	color:#fff;
	background: #4285F4;
}
.google_signin_button img {
	margin-left:18dp;
	width:18px;
}
.google_signin_button span {
	white-space: nowrap;
	font-size:14px;
	font-family: "Roboto-Medium";
	color:#000;
}
/*기기별 CSS*/
/*PC*/
@media screen and (width >= 1400px) {
	
}

/*700px〜1200px iPad*/
@media (700px <= width < 1400px )  {
	
}

/*Mobile*/
@media (340px <= width < 700px ) {
	
}
/*watch*/
@media screen and (330px > width) {

}

/*Dark Mode Layout*/
@media (prefers-color-scheme:dark) {
	
}