.main_content {
	margin-top: 0px!important;
}
.main_content ul {
	display: flex;
	flex-wrap: wrap;
	justify-items: center;
	justify-content: space-between;
	width: 100%;
	padding:1.5rem 1rem 2rem;
}
.main_content li {
	margin-bottom: 1.5rem;
	width:33%;
}
.main_content li:nth-child(2) {
	padding:0px 0.5rem;
}
.main_content li:nth-child(n+7) {
	margin-bottom: 0px;
}
.main_content a {
	align-items: center;
	padding-top:0.5rem;
}
.main_content p {
	text-align: center;
	padding-bottom: 0.5rem;
}
.main_content li:after {
	content: '';
	height:30%;
	width:1px;
	display: block;
	background: rgba(0 0 0 / 0.9);
	position: absolute;
	bottom:33%;
	right: -1px;
}
.main_content li:nth-child(3n)::after {
	display: none;
}

.main_content img {
	width:45%;
	padding-bottom:0px;
	max-width: 80px;
	vertical-align: bottom;
	filter: brightness(0.1);
}
.main_content span {
	text-align: center;
	width: 100%;
}
.sub_content {
	padding:2rem;
}
.sub_content h3 {
	font-size: 1.5rem;
}
.sub_content ul {
	flex-direction: column;
	padding-top:1rem;
}
.sub_content li {
 	justify-self: center;
}
.sub_content ul a {
	white-space: nowrap;
	overflow: hidden;
	min-height: 3rem;
	line-height: 3rem;
	border-bottom: rgba(255 255 255 / 0.5) 1px solid;
	text-overflow: ellipsis;
}
.sub_content ul a:before {
	content:'';
	margin:0px 0rem 0px 0.3rem;
	display: inline-flex;
	width:0px;
	height:0px;
	border:solid transparent 0.5rem;
	border-left-color:rgba(0 0 0 / 0.7);
	vertical-align: middle;
}
.more {
	line-height: 1.5rem;
	position: absolute;
	top:2rem; right:2rem;
	width: unset;
}


/*기기별 CSS*/
@media screen and (width >= 1400px) {
	main {
		background-image: url("../img/CB_bg_sky_pc.webp");
	}
	.main_content ul {
		padding:2.5rem 0px 3rem;
	}
	.main_content a {
		margin: 1rem;
		padding:3rem 0rem;
	}
	.sub_content {
		padding:4rem;
	}
	.sub_content ul {
    flex-direction: column;
    padding-top: 2rem;
	}
	.more {
		top:4rem;
		right:4rem;
	}
	.sub_content ul a:before {
		margin:0px 0.5rem 0px 1rem;
	}
}

/*700px〜1200px iPad*/
@media (700px <= width < 1400px )  {
	main {
		background-image: url("../img/CB_bg_sky_pc.webp");
		}

}
@media (340px <= width < 700px ) {
	.main_content li {aspect-ratio: 1/1}
}
/*watch*/
@media screen and (330px > width) {

}

/*Dark Mode Layout*/
@media (prefers-color-scheme:dark) {
	.main_content li:after {
		background: rgba(255 255 255 / 0.9);
	}
	.main_content img {
		filter: brightness(1);
	}
	.sub_content ul a:before {
		border-left-color:rgba(255 255 255 / 0.9);
	}
}