/*큰 영역*/
header, footer {
	backdrop-filter: blur(20px);
}
header {
	position:sticky;
	z-index: 5;
	top:0px;
}
nav {
	display:flex;
	align-items:center;
	justify-content:center;
	flex-wrap:wrap;
	}
img, video {
	box-sizing:border-box;
	display:inline-flex;
	width:100%;
	height:auto;}
main, header > *, footer > div {
	position:relative;
	margin:0px auto; 
	width:90vw;
	box-sizing:border-box;
}
section {margin:3rem auto;}
article {
	margin:3rem auto;
	padding:2rem;
	padding-top:1rem !important;
	border-radius:30px;
	border:2px solid #a7f;
}

footer {
	margin-top:2rem;
}
footer > div {
		padding:2rem;
		margin:0px auto}
address {
	display:flex;
	justify-content:center;
	align-items:center;}

::-webkit-scrollbar {
    width: 10px;  /* 스크롤바의 너비 */
}

::-webkit-scrollbar-thumb {
    background:rgba(55 0 200 / 0.3); /* 스크롤바의 색상 */
    border:solid 1px #326;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
	border-radius: 10px;
	border:solid 1px #326;
    background:rgba(0 0 0 / 0.1);  /*스크롤바 뒷 배경 색상*/
}

/*클릭가능한 요소 스타일*/
a {	display:inline-flex;
	scroll-behavior:smooth;
	padding:1rem 0px;
	
	text-decoration:transparent; 
	transition:text-decoration 0.2s, outline 0.2s;}

a:focus, a:hover {
	text-decoration:underline wavy #eef;
	text-underline-offset:4px;}
a:active, summary:active {
	transition:0.2s filter, 0.4s transform;
	filter:brightness(1.2) saturation(1.2);
}
summary {
	padding:1rem;
	transition:list-style 0.2s;
	background-color:#63B;}

details {
	transition:height 3s ease-in;
	background-color:rgba(0 0 0 /0.3);
	margin:1rem auto;
	border:1px solid #235;
	box-sizing:border-box;
}

textarea {
	line-height:1.5rem;
	resize:none;
	font-family:"BIZ-UDGothic";
	font-size:1.2rem;
	width:100%;
	box-sizing:border-box;
	padding:1rem;
	margin:0px auto;
	margin-top:1rem;
	border:#64d 1px solid;}

/*입력서식*/
input[type="radio"] {
	position:absolute;
	top:0px; left:0px;
	padding: 0px;
	margin: 0px;
	display:inline-flex;
	appearance:none;
	-webkit-appearance:none;
	width:100%; height: 100%;
}

.overX {
	overflow-x: scroll;
}


/*표 관련 선언*/
table {
	margin:0 auto;
	border-collapse:collapse;
	margin-bottom:3rem;
	width: 100%;
	margin-top:0px;}
td,th {
	word-break: keep-all; line-break:normal;
	border:1px solid #baf;
	vertical-align:middle; 
	border:1px solid #235;
	line-height: 2rem; 
	padding:0.7rem;}
th{background-color:#54a;
	font-weight:700;
	font-size:1.3rem;}
td {font-weight:400;}

p {margin:0px; padding:0.3rem 0px;}
ul {margin:0px; 
	padding:0px;
	position: relative;}
li {
	list-style:none;}
h1, h2, h3, h4, h5, h6 {
	position:relative;}
h1 {
	margin:0px;
	font-size:1.5rem;
	font-weight:900;}
h2 {font-weight:900;
	font-size:1.3rem;
	color:#850;
}
form {position:relative;}
svg {
	padding-right:10px;
	vertical-align:middle;
	display:inline-flex;
	align-items:center;}
.VPC {display:none;}

.metro-line {
	text-shadow:1px 1px rgba(0 0 0 / 0.5), -1px -1px rgba(0 0 0 / 0.5);
	display:inline-flex;
	font-size: 1rem;
	border-radius:100px;
	justify-content:center;
	align-items:center;
	margin-right:10px;
	min-width:2rem;
	min-height:2rem;
 	color:white;}
.line1 {background:#052F93;}
.line2 {background:#10A643;}
.line3 {background:#DE6D00;}
.line4 {background:#0099d1;}
.line5 {background:#A95094;}
.line6 {background:#D08D1A;}
.line7 {background:#657931;}
.line8 {background:#E74E6D;}
.line9 {background:#B58600;}
.gyline {background-color:#5F9C82; padding:0px 10px;}

.bus-line {
	text-shadow:1px 1px rgba(0 0 0 / 0.5), -1px -1px rgba(0 0 0 / 0.5);
	display:inline-flex;
	font-size:1rem;
	justify-content:center;
	align-items:center;
	margin-right:10px;
	border-radius:5px;
	color:#fff;
	padding:0px 5px;}
.g-bus {background-color:#5BB025;}
.b-bus {background-color:#3D5BAB;}
.r-bus {background-color:#F73711;}
.meter {color:#C30; padding:0px 10px;}
#page-top {
	width:2.5rem;
	height:2.5rem;
	padding:0px;
	position:fixed;
	bottom:5rem;
	right:1rem;
	border-radius:100%;
	z-index:5;
	background:#103;
	border:2px solid #54a;
	opacity:0.7;
}
#page-top svg {
	padding:0px;
	margin:0px;
	width:100%;
	height:100%;
}

@media (prefers-color-scheme: dark) {
	.meter {color:#fde;}
	h2 {color:#ffa;}
}