@charset "utf-8";
@import url("../../font.css");
:root {
    --point-color: #006CBA;
    --point-color-hover: #006CBA;
    --point-color-bg: #006CBA;
    --point-color-line: #006CBA;
    --point-color-text: #006CBA;
    --point-color-box: #006CBA;
}
*,
*::before,
*::after,
:root {
    interpolate-size: allow-keywords;
    font-size: 1rem;
    font: inherit;
    vertical-align: baseline;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    position: relative;
    box-sizing: border-box;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    scroll-behavior: smooth;
    ruby-align: space-between;
    scrollbar-color: rgba(0, 0, 0, 0.1) transparent;
    ruby-position: over;
    ruby-align: center;
}

@supports not (min-block-size: 100dvb) {
    :where(html) {
        block-size: 100%;
    }
}

html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

*::before,
*::after {
    box-sizing: inherit;
}
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #212121;
}
.a11y-txt, caption {
    overflow: hidden;
    border: 0;
    position: absolute;
    z-index: -1;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
}
.width-center {
    max-width:90vw;
    margin:0 auto;
}
::-webkit-scrollbar-thumb {
    border-radius: 10rem;
    cursor: pointer;
}

::-webkit-scrollbar-track {
    background-color: var(--alpha_gray);
    border-radius: 10rem;
}

table {
    margin:0 auto;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout:fixed;
}
:where(body):not(img) {
    min-height: 100dvh;
    overflow-y: scroll;
    font-size: 1rem;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
    -webkit-text-size-adjust: none;
    color-scheme: dark light;
    font-family: "KoddiUDOnGothic", "BIZ-UDPGothic", "Pretendard Variable", sans-serif, serif;
    scroll-behavior: smooth;
    ruby-align: space-between;
}
thead {
    color: rgb(255, 255, 255);
    background: var(--point-color);
}
table :where(.row-hour, .bus-num-cell) {
    background-color: rgb(210 220 255);
}
.table-view table th {
    border-bottom: 1px solid #ccc;
    vertical-align: middle;
    word-break: break-all;
    font-weight: 900;
}
.table-view table :where(th, td) {
    padding: clamp(1rem, 2rem, 3rem);
    text-align: center;
}
.table-view table :where(th+th, td+td) {
    border-left: 1px solid #ccc;
}
.table-view table td {
    border-bottom: 1px solid #ccc;
}
th.tc {
    border: rgb(255 255 255) 1px solid !important;
}
.table-view td {
    border-inline: rgb(100 100 120) 1px solid !important;
}
.table-view td:last-child {
    border-right: 0px!important;
}
.bus-7000n {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}