@charset "utf-8";
.pc_view {display: none;}
.mobile_view {}
.dark_view {display: none;}
.light_view {}
*, body {
	letter-spacing:0.2rem;
	font-size:1.2rem;
	line-height: 2rem;
	font-feature-settings: "palt";
}
main {margin:2rem auto;}
main > p, .center {
	width:90vw;
	margin: 0px auto;
}
header, footer {
	padding:1rem 0;
	background: #333;
	color:white;
}
.copyright {text-align: center;}
main > p {
	padding:1rem 0px;
}
a {vertical-align: middle;}
.original_video {
	display: flex;
	justify-content: center;
	text-align: center;
	margin:0px auto;
	font-size: 1rem;
}
.original_video a {
	background: #f00;
	color:#fff;
	font-weight: 900;
	padding:1rem;
	border-radius: 1rem;
	transition:0.1s scale;
	scale:1;
	margin:1rem auto;
}
.original_video a:where(:focus, :hover) {
	scale:1.1;
}
.one_icon {
	aspect-ratio: 1/1;
	border-radius: 100%;
	max-width: 2rem;
	margin-right: 0.5rem;
}

/*기기별 CSS*/

/*PC*/
@media screen and (width >= 1400px) {
	.pc_view {display: block;}
main > p, .center {
		width: 60vw;
	}

}

/*700px〜1200px iPad*/
@media (700px <= width < 1400px )  {
	main > p, .center {
		width:80vw;
	}
}
/*Mobile*/
@media (340px <= width < 700px ) {
}
/*watch*/
@media screen and (330px > width) {

}

/*Dark Mode Layout*/
@media (prefers-color-scheme:dark) {
	.light_view {display: none;}
	.dark_view {display: unset;}
}