@charset "utf-8";
.pc_view {display: none;}
.mobile_view {}
.dark_view {display: none;}
.light_view {}

body {
	background: rgba(255, 250, 230);
	letter-spacing:3px;
	font-size:1.2rem;
	line-height: 2.5rem;
}
h1 {font-size: 1.5rem;}
main {
	background: #feb;
	padding:1rem 2rem;
	border-radius: 2vmax;
	margin:3rem auto!important;
	border: 2px solid rgba(200, 170, 150, 0.5);
}
.center {
	max-width:90vw;
	margin: 0px auto;
	box-sizing: border-box;
}
header, footer {
	padding:1rem 0;
	background: #333;
	color:white;
}
.copyright {text-align: center;}
main > p {
	padding:1rem 0px;
}
a {vertical-align: middle;}
.original_video {
	display: flex;
	justify-content: center;
	align-content: center;
	text-align: center;
	margin:0px auto;
}
.original_video a {
	display: flex;
	align-items: center;
	font-size: 1rem;
	line-height: 1.5rem;
	background: #f00;
	color:#fff;
	font-weight: 900;
	padding:0.5rem 1rem;
	border-radius: 1rem;
	transition:0.2s scale;
	scale:1;
	margin:1rem auto;
}
.original_video a:where(:focus, :hover) {
	scale:1.05;
}
.one_icon {
	border:3px solid #c00;
	aspect-ratio: 1/1;
	border-radius: 100%;
	max-width: 2.1rem;
	max-height: 2.1rem;
	margin-right: 0.5rem;
}
.true_parents {
	font-weight: bold;
}
.mother_speek {
	font-weight: 900;
	background: #ffeefa;
	box-shadow:0 0 0 1rem #ffeefa;
}
.red_text {color:#c00f00;}
.lilac_text {
	color:#7a0066;
}
.underline_text {color:#cc0066;}

.menu * {
	font-size: 1rem;
}

.menu {
	position: sticky;
	z-index: 10000;
	top: 0;
}
.font_setting_box {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	position: relative;
}
.font_control {
	display: flex;
	align-items: center;
	justify-content: center;
	aspect-ratio: 1/1;
	height: 3rem;
	border: 1px solid #777;
}
.panel {
	position: absolute; /* 패널을 절대 위치로 설정 */
	top: calc(100% - 1px); /* 부모 요소 바로 아래에 위치 */
	right: 0;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	transition: max-height 0.4s ease-out, padding 0.4s ease-out; /* 패딩 전환 추가 */
	max-height: 0; /* 초기값 설정 */
	z-index: 2;
}

.font_control[aria-expanded="true"] .panel {
	max-height: 50rem; /* 열렸을 때 최대 높이 설정 */
	padding: 1rem; /* 열렸을 때 패딩 추가 */
}
.font_setting {
	background: #333;
	border-radius: 2rem;
	padding:2rem;
	padding-top:1rem;
	border-top-right-radius: 0;
	border:1px solid #777;
}
.font_setting button:where(:focus, :hover) {
	background: #555;
}
.font_setting h3 {
	line-height: 4rem;
}
.font_size, .font_family {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.font_setting form {
	display: flex;
}
.font_setting form > div {
	display: flex;
	justify-content: center;
	padding-bottom: 1rem;
}
:where(.font_size) form {
	flex-direction: column;
}

#font_size_display {
	text-align: center;
	max-width: 5rem;
	line-height: 2rem;
	max-height: 3rem!important;
}
#font_size_display, .font_size button {
	border: 1px solid #777;
	height: 3rem;
	line-height: 3rem;
}
.font_size_adjust button {
	aspect-ratio: 1/1;
}
.font_family label {
	padding: 0 0.5rem;
	margin: 0 0.5rem;
	border: 2px solid rgba(200, 170, 150, 0.5);
	background: rgba(40, 30, 20, 1.0);
}
label:has(input[type="radio"]) {
	padding:1rem;
}
input[type="radio"] {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}
label:has(input[type="radio"]:checked)::after {
	content: '';
	position: absolute;
	border-radius: 1rem;
	width: 1rem;
	line-height: 1rem;
	display: block;
	aspect-ratio: 1/1;
	background: transparent;
	border: 4px solid #feb;
	left: -1rem;
	top: -1rem;
}
label input[type="radio"] {
	position: absolute;
	top:0;
	left:0;
	padding:0;
	margin:0;
	width: 100%;
	height: 100%;
}
/*기기별 CSS*/

/*PC*/
@media screen and (min-width: 1400px) {
	.pc_view {display: block;}
	body {
		font-size: 1.7rem;
		line-height: 4rem;
		letter-spacing: 3px;
	}
	.center {
		width: 55vw;
	}
}

/*700px〜1200px iPad*/
@media (min-width: 700px) and (max-width: 1399px) {
	body {
		font-size: 1.5rem;
		line-height: 3rem;
		letter-spacing: 3px;
	}
	main {
		padding: 1.5rem 3rem;
	}

	.center {
		width: 75vw;
	}
}

/*Mobile*/
@media (min-width: 340px) and (max-width: 699px) {
	main {
		padding: 0rem 1rem;
	}
	.font_setting {
		padding:1.5rem;
		padding-top: 0;
		border-radius: 1rem;
	}
	:where(.font_family) label {
	flex-direction: column;
	}
}

/*watch*/
@media screen and (max-width: 339px) {
}

/*Dark Mode Layout*/
@media (prefers-color-scheme:dark) {
	.light_view {display: none;}
	.dark_view {display: unset;}
	body {background:rgba(20, 10, 0, 1.0);}
	main {background:rgba(40, 30, 20, 1.0);}
	.mother_speek {
		background:#312;
		box-shadow:0 0 0 1rem #312;
	}
	.red_text {color:#FFCBCA;}
	.lilac_text {color:#F0C0ED;}
	.underline_text {color:#FFC7D3;}
	.font-size, .font-family {
		background: #222;
	}
}