@charset "utf-8";
.pc_view {display: none;}
.mobile_view {}
.dark_view {display: none;}
.light_view {}
*, body {
	letter-spacing:0.2rem;
	font-size:1.2rem;
	line-height: 2rem;
	font-feature-settings: "palt";
}
main > p, .center {
	width:90vw;
	margin: 0px auto;
}
header, footer {
	padding:1rem 0;
	background: #333;
	color:white;
}
.copyright {text-align: center;}
main > p {
	padding:1rem 0px;
}


/*기기별 CSS*/

/*PC*/
@media screen and (width >= 1400px) {
	.pc_view {display: block;}
main > p, .center {
		width: 60vw;
	}

}

/*700px〜1200px iPad*/
@media (700px <= width < 1400px )  {
	main > p, .center {
		width:80vw;
	}
}
/*Mobile*/
@media (340px <= width < 700px ) {
}
/*watch*/
@media screen and (330px > width) {

}

/*Dark Mode Layout*/
@media (prefers-color-scheme:dark) {
	.light_view {display: none;}
	.dark_view {display: unset;}
}