@media screen and (width >= 1400px) {
	header {
			top:0px;
			display:flex;
			z-index:2;
		}
	article {padding:3rem;}
	table {margin-bottom:5rem;}
	td,th {
		padding:1rem;
		}
	th {
		font-size:1.2rem;
		max-width:4rem;
	}
	h1,h1 * {
		font-size:2.5rem;
		padding:1rem 0px;
	}
	h2 {font-size:2rem;}
	h3 {font-size: 1.5rem;}
	#logo {width:4rem;}
	textarea {font-size:2rem; line-height:2.5rem;}
	svg {
	aspect-ratio: auto;
	max-height: 4rem;
	max-width: 4rem ;
	}
}

/*700px〜1200px iPad*/
@media (700px <= width < 1400px )  {
	article {padding:2rem;}
	textarea {font-size:2rem; line-height:2.5rem;}
}
/*Mobile*/
@media (340px <= width < 700px ) {
	body {font-size:1rem;}
	article {padding:1rem;}
	th, td {padding:0.5rem;}
	#logo {width:2rem; height:2rem;}
	svg {display: flex;}
}

/*watch*/
@media screen and (330px > width) {

}

/*Dark Mode Layout*/
@media (prefers-color-scheme:dark) {
}