@charset "utf-8";

/*모바일 기준*/

.d-box {overflow: hidden;}
.accont {
		padding:1rem;
		transition: 0.3s ease;
		}

.hello p {
	display:inline;
	padding-right:1rem;
	line-height: 2rem;}
.site-list {
	display:grid;}
.site-list li {
	display:flex;
	margin:0.25rem 0rem;
	align-items:center;
}
.site-list a {
	box-sizing:border-box;
	height:100%;
	padding:0.5rem;
	justify-content:center;
	align-items: center;
	vertical-align: middle;
	position:relative;
	text-decoration:none;
	flex-direction:column;
}
.site-list img, .yvl a .ylogo {
	box-sizing: content-box;
	height:2rem;
	width: 2rem;
	vertical-align:middle;
}
.yvl a	{
	flex-direction: row;
}
 .yvl a .ylogo {
	content: '';
	display: flex;
	min-width: 2rem;
	margin-right: 0.5rem;
	background-repeat: no-repeat;
	background-image: url("../img/YouTube_full-color_icon_(2017).png");
	background-position: left center;
	background-size:contain;
}
.ycl img {border-radius:10rem;}
.entry {
	width:80%;
	padding:1rem 0px;
	display:flex;
	justify-content:center;
	align-items:center;
	margin:2rem auto;
	background-color:#63B;
	font-weight: 900;
	border: 2px solid rgba(255, 255, 255, 0.3);
	border-radius: 1rem;
	color:#ffa;
}
.entry svg {
	padding:0px;
	padding-right: 0.5rem;
}
.map-icon {
	width: 3rem;	
}
.map-icon img {
	border-radius: 3px;
}

/*너비가 1200이상일때 (PC)*/
@media screen and (width >= 1400px) {
	article {padding:3rem;}
	.site-list {grid-template-columns: 1fr 1fr 1fr;}
	.site-list li {
				margin:1rem 0px;}
	.site-list img {
		width:3rem;
		height:3rem;
	}
	.entry {
		width:50%;
		padding:2rem;
		margin:3rem auto;
	}
}

/*700px〜1200px iPad*/
@media (700px <= width < 1400px )  {
	article {padding:3rem;}
 	.site-list {grid-template-columns: 1fr 1fr;}
	.site-list img {width:3rem; height:3rem;}
}

@media screen and (350px > width) {
	article {padding:1rem;}
	.site-list img {width:2rem; height:2rem;}
}

@media (prefers-color-scheme: dark) {
	.yvl a .ylogo {
		background-image: url("../img/YouTube_light_icon_(2017).png");
	}
}
.root_daum_roughmap .wrap_map {
    height: 100% !important;
}






