/*큰 영역*/
header, footer {
	backdrop-filter: blur(20px);
}
nav {
	display:flex;
	align-items:center;
	justify-content:center;
	flex-wrap:wrap;
	}
img, video {
	box-sizing:border-box;
	display:inline-flex;
	width:100%;
	height:auto;
}
main, header > *, footer > div {
	margin:0px auto; 
	width:90vw;
	box-sizing:border-box;
	padding:0.5rem 0px;
}
section {margin:3rem auto;}
article {
	margin:3rem auto;
	padding:1.5rem;
	border-radius:2.5rem;
	border:2px solid #a7f;
}

footer {
	margin-top:2rem;
}
footer > div {
		padding:2rem;
		margin:0px auto}
address {
	width: 100%;
	line-height: 3rem;
	display:flex;
	justify-content:center;
	align-items:center;
}
address svg {
	height: 2rem;
	width: 2rem;
}

::-webkit-scrollbar-thumb {
    background:rgba(55 0 200 / 0.3); /* 스크롤바의 색상 */
    border:solid 1px #326;
    border-radius: 10rem;
}

::-webkit-scrollbar-track {
	border-radius: 10rem;
	border:solid 1px #326;
    background:rgba(0 0 0 / 0.1);  /*스크롤바 뒷 배경 색상*/
}

/*클릭가능한 요소 스타일*/
a {	display:inline-flex;
	scroll-behavior:smooth;
	padding:1rem 0px;
	
	text-decoration:transparent; 
	transition:text-decoration 0.2s, outline 0.2s;}

a:focus, a:hover {
	text-decoration:underline wavy #eef;
	text-underline-offset:4px;}
a:active, summary:active {
	transition:0.2s filter, 0.4s transform;
	filter:brightness(1.2) saturation(1.2);
}
summary {
	padding:1rem;
	transition:list-style 0.2s;
	background-color:#63B;
	color:#fff;
}

details {
	transition:height 3s ease-in;
	margin:1rem auto;
	border:1px solid #235;
	box-sizing:border-box;
}

textarea {
	line-height:1.5rem;
	resize:none;
	font-family:"BIZ-UDGothic";
	font-size:1.2rem;
	width:100%;
	box-sizing:border-box;
	padding:1rem;
	margin:0px auto;
	margin-top:1rem;
	border:#64d 1px solid;}


.overX {
	overflow-x: scroll;
}

svg {
	aspect-ratio: auto;
	max-height: 2rem;
	max-width: 2rem ;
}

/*표 관련 선언*/
table {
	margin:0 auto;
	border-collapse:collapse;
	width: 100%;
}
th, td {
	word-break: keep-all; line-break:normal;
	border:1px solid #baf;
	vertical-align:middle; 
	border:1px solid #325;
	line-height: 2rem; 
	padding:0.7rem;}
th, .bus_table tr > *:first-child {
	background-color:#54a;
	color: #fff;
	font-weight:700;
	text-align: center;
}
th {line-height: 1.3rem;}
td {font-weight:400;}
th svg, td svg {
	margin:0 auto;
	width: 2rem;
	height: 2rem;
}

p {margin:0px; padding:0.3rem 0px;}
h1, h2, h3, h4, h5, h6 {
	padding:0.5rem;
	margin-bottom: 1rem;
}
h1 {
	font-size:1.4rem;
	font-weight:900;}
h2 {font-weight:900;
	font-size:1.2rem;
	color:#850;
}
.VPC {display:none;}

.metro-line {
	text-shadow:1px 1px rgba(0 0 0 / 0.5), -1px -1px rgba(0 0 0 / 0.5);
	display:inline-flex;
	font-size: 1rem;
	border-radius:100px;
	justify-content:center;
	align-items:center;
	margin-right:10px;
	min-width:2rem;
	min-height:2rem;
 	color:white;
}

#logo {width: 3rem; height: 3rem; padding-right: 0.5rem;}
.numline {aspet-ratio:1/1;}
.line1 {background:#052F93;}
.line2 {background:#10A643;}
.line3 {background:#DE6D00;}
.line4 {background:#0099d1;}
.line5 {background:#A95094;}
.line6 {background:#D08D1A;}
.line7 {background:#657931;}
.line8 {background:#E74E6D;}
.line9 {background:#B58600;}
.gyline {background-color:#5F9C82; padding:0px 10px;}

.bus-line {
	text-shadow:1px 1px rgba(0 0 0 / 0.5), -1px -1px rgba(0 0 0 / 0.5);
	display:inline-flex;
	font-size:1rem;
	justify-content:center;
	align-items:center;
	margin-right:10px;
	border-radius:5px;
	color:#fff;
	padding:0px 5px;}
.g-bus {background-color:#5BB025;}
.b-bus {background-color:#3D5BAB;}
.r-bus {background-color:#F73711;}
.meter {color:#C30; padding:0px 10px;}
#page-top {
	width:2.5rem;
	height:2.5rem;
	padding:0px;
	position:fixed;
	bottom:5rem;
	right:1rem;
	border-radius:100%;
	z-index:3;
	background:#103;
	border:2px solid #54a;
	opacity:0.7;
}
#page-top svg {
	width:100%;
	height:100%;
}

@media (prefers-color-scheme: dark) {
	.meter {color:#fcb;}
	h2 {color:#ffa;}
}