@import url("../../root.css")
@charset "utf-8";

/*모바일 기준*/
.cwg_open {
	width: max-content!important;
	display: inline-flex;
	justify-content: center;
	margin:3rem auto;
	padding: 1rem;
	background-color: var(--pure_black);
	color:var(--naver_green);
	font-weight: 900;
}
.app_list h3 {
	font-weight: bolder;
	display: flex;
	align-items: center;
	margin-bottom: 0.5rem;
}
.app_list h3 img {
	aspect-ratio: 1/1;
	border-radius: 20%;
	width: min-content;
}
.app_list h3 span {
	font-weight: bolder;
	font-size: 1.25rem;
	padding:0rem 0.5rem;
}
.app_list ul {
	display: grid;
	flex-wrap: wrap;
	gap:1rem;
}
.app_list img {
	height: clamp(2rem, 4rem, 10rem);
}
.d-box {overflow: hidden;}
.site-list {
	display:grid;
}
.site-list li {
	display:flex;
	margin:0.5rem 0rem;
	align-items:center;
	gap: 0.5rem;
}
.site-list a {
	box-sizing:border-box;
	height:100%;
	padding:0.25rem;
	justify-content:center;
	align-items: center;
	vertical-align: middle;
	position:relative;
	text-decoration:none;
	flex-direction:column;
}
.site-list span {
	width: 100%;
}
.site-list img, .yvl a .ylogo {
	box-sizing: content-box;
	height:2rem;
	width: 2rem;
	vertical-align:middle;
}
.yvl a	{
	flex-direction: row;
}
.yvl a .ylogo {
	content: '';
	display: flex;
	min-width: 2rem;
	margin-right: 0.5rem;
	background-repeat: no-repeat;
	background-image: url("../img/YouTube_full-color_icon_(2017).png");
	background-position: left center;
	background-size:contain;
}
.ycl img {border-radius:10rem;}
.entry {
	width:80%;
	padding:1rem 0px;
	display:flex;
	justify-content:center;
	align-items:center;
	margin:2rem auto;
	background-color:var(--default_purple);
	font-weight: 900;
	border: 2px solid rgba(255, 255, 255, 0.3);
	border-radius: 1rem;
	color:var(--pure_white);
}
.entry svg {
	padding:0px;
	padding-right: 0.5rem;
}
.entry span {
	color:var(--pure_white);
}
.map-icon {
	width: 3rem;
	aspect-ratio: 1/1;
	padding:0rem;
	border-radius: 0.25rem;
	margin:0.25rem;
	outline-offset: 0.25rem;
}
.map-icon img {
	border-radius: 3px;
}
.root_daum_roughmap {
	width:100% !important; 
	display: flex;
	flex-direction: column;
	border:solid 1px var(--kakao_yellow); 
}
.root_daum_roughmap .wrap_map {
	flex-grow: 1;
	width:100%!important; 
	min-height:40rem;
	max-height:80dvh;
	border-bottom:1px solid var(--kakao_yellow);
}
.wrap_btn_zoom {
	background-image: none!important;
}
:where(.root_daum_roughmap .wrap_btn_zoom, .root_daum_roughmap .wrap_btn_zoom .img_zoom) {
	overflow: visible!important;
}
.root_daum_roughmap .wrap_btn_zoom button {
	background-color: var(--variable_purple)!important;
	aspect-ratio: 1/1;
	border:1px solid var(--default_purple);
	padding:0!important;

}
.root_daum_roughmap .wrap_btn_zoom button:focus {
	z-index: 2;
	outline-offset: 0.25rem;
	outline:2px solid var(--dark_purple)!important;
}
.root_daum_roughmap .wrap_btn_zoom button .img_zoom {
	filter: contrast(4) invert(0);
}
.root_daum_roughmap .cont .section {
	margin: 0rem !important;;
	padding:min(0.5rem) max(1rem)!important;
}
.root_daum_roughmap .wrap_controllers {
	background-color: light-dark(var(--kakao_yellow), var(--alpha_gray))!important;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.roughmap_maker_label,
.roughmap_maker_label:after {
	background-image: none!important;
	background-color: var(--variable_purple)!important;	
}
.roughmap_maker_label:after {rotate:45deg;}
.roughmap_maker_label a {
	padding:0.5rem!important;
	color:var(--invert_pure_mono);
}
.roughmap_maker_label .roughmap_lebel_text {
	font-size: 1rem!important;
	color:var(--invert_pure_mono)!important;
	background-color: transparent!important;
	padding: 0!important;

}
.root_daum_roughmap .section_address .txt,
.root_daum_roughmap .section_address .tit,
.root_daum_roughmap .wrap_controllers .wrap_btn_roadview .txt {
	color:var(--invert_pure_mono)!important;
	font-size:14px;
	line-height: 1lh!important;
}
.wrap_btn_roadview {
		opacity: 0.9;
}
.root_daum_roughmap .section_address .tit {
	font-weight: bolder;
}
.root_daum_roughmap .wrap_controllers .wrap_btn_roadview .txt_bar {
	margin:0rem 0.25rem!important;
}
img[src="//t1.daumcdn.net/localimg/localimages/07/2018/pc/map/marker_map02.png"] {
	filter:hue-rotate(40deg);
}
.donate_list {
	margin-top:2rem;
	display: grid;
	gap:1rem;
}
.donate_li {
	display: flex;
	flex-direction: column;
	gap:1rem;
	justify-content: space-between;
	align-items: center;
	border-radius: 1rem;
	padding: 1rem;
	background-color: light-dark(#3041, #dcf1);
}
.donate_data {
	width: max-content;
	padding:0rem;
	display: flex;
	flex-direction: column;
}
.donate_title {
	background-color: var(--variable_purple);
	color:var(--high_variable_invert_purple);
	font-weight: bolder;
	width:max-content;
	line-height: 1;
	padding:0.5rem;
	margin-bottom: 0.5rem;
}
.donate_data >*:not(.donate_title) {
	margin-left:0.5rem;
}
.donate_bank_logo {
	width: min-content;
	height: 1lh;
}
.donate_address_copy {
	aspect-ratio: 16/9;
	background-color: var(--variable_purple);
	min-height: 1lh;
	width:4rem;
	padding:clamp(0.5rem, 1rem, 2rem);
	display: flex;
	justify-content: center;
	align-items: center;
}
/*너비가 1400이상일때 (PC)*/
@media screen and (min-width:1400px) {
	article {padding:3rem;}
	.app_list ul, .site-list, .donate_list {
		grid-template-columns: 1fr 1fr 1fr;
	}
	.site-list li {
		margin:0.75rem 0rem;
	}
	.site-list img {
		width:3rem;
		height:3rem;
	}
	.entry {
		width:50%;
		padding:2rem;
		margin:3rem auto;
	}
	.donate_li {
		flex-direction: row;
		aspect-ratio: 1.618/1;
}
}
/*1000px〜1200px iPad horizontal*/
@media (1000px <= width < 1400px )  {
	.site-list.acl {grid-template-columns: 1fr 1fr 1fr;}
	.donate_li {flex-direction: row;}
}

/*700px〜1200px iPad*/
@media (700px <= width < 1400px )  {
	article {padding:3rem;}
	.app_list ul, .site-list, .donate_list {grid-template-columns: 1fr 1fr;}
	.site-list img {width:3rem; height:3rem;}
}

@media screen and (350px > width) {
	article {padding:1rem;}
	.site-list img {width:2rem; height:2rem;}
}

@media (prefers-color-scheme: dark) {
	.yvl a .ylogo {
		background-image: url("../img/YouTube_light_icon_(2017).png");
	}
	.root_daum_roughmap .wrap_controllers .tit_controllers img {
		filter: invert(1);
	}
	.root_daum_roughmap .wrap_btn_zoom button .img_zoom {
		filter: contrast(4) invert(1);
	}
}