@charset "utf-8";
.pc_view {display: none;}
.mobile_view {}
.dark_view {display: none;}
.light_view {}

*, *::before, *::after {
    font-size: 1.2rem;
}
::-webkit-scrollbar {
    width: 0rem;  /* 스크롤바의 너비 */
}

:where(body):not(img) {
    line-height: 2rem;
    font-size: 1.5rem;
}

.content_width {
	margin:0 auto;
	width:90vw;
}
.popup_box {
	position: fixed;
	max-width:90vw;
	margin:auto;
	min-height: 10rem;
	max-height: 90vh;
	overflow-y: scroll;
	border:4px solid #54a;
	border-radius: 0.5rem;
}
.popup_box::backdrop {
	transition: background 0.2s;
	background: rgba(0 0 0 / 0.5);
}
body:has(.popup_box:popover-open) {
	overflow: hidden;
}
body {
	overflow-x:hidden;
	word-break: keep-all; 
	line-break:normal; 
	font-size:18px;
	display:block; 
	padding:0px; margin:0px; 
	box-sizing:border-box;
	background: linear-gradient(90deg, rgba(210,200,255,0.8) 0%, rgba(200,190,255,0.8) 50%, rgba(210,200,255,0.8) 100%), url(../img/purplestar.jpg);
	background-attachment:fixed;
	backdrop-filter:hue-rotate(-10deg);
}
header, footer {
	padding:1rem;
	text-align: center;
}
footer {
	color:#fff;
	background-color:#103;
}
h1 {
	font-weight: 900;
}
section {
	padding:2rem;
	margin:2rem auto!important;
	backdrop-filter: blur(20px);
	border-radius: 3rem;
	background: rgba(255 255 255 / 0.7);
	border: 1px solid rgba(255, 255, 255, 1);
	box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
}
.rule {
	padding:0.5rem;
	display: flex;
	flex-direction: column;

}
section li {
	display: inline-block;
	flex-direction: column;
	padding:0.25rem 0px;
	border-bottom:1px solid rgba(100 70 255 / 0.3);
}
table {overflow-x: scroll;}
.button_area {
	display: flex;
}

.rule_money, .value_cost {
	border: none;
	text-align: center;
	height: 1.5rem;
	width:3rem;
	padding:0.25rem;
	box-sizing: content-box;
	margin:0px 0.25rem;
	font-weight: 600;
	border-bottom:solid 1px;
	background: transparent;
}
.rule_money {background-color:#baf5;}

.auction_memo {
	background: transparent;
	border:none;
	border-bottom:solid 1px;
}
#value_table_list input[type="text"]:focus {
	box-shadow: 0 4px 4px 1px #76b inset;
}
.popup_close{
	position: absolute;
	top:0px; right:0px;
	transition: width 0.2s;
	aspect-ratio: 1/1;
	background: #54a;
	display: flex;
	justify-content: center;
	align-items: center;
}
.popup_close .ani::after {
	content: '';
	display: block;
	position: absolute;
	width: 1px;
	aspect-ratio: 1/1;
	border-radius: 1rem;
	background: rgba(255 255 255 / 0.1);
	transition: scale 0.1s;
}
.popup_close:where(:focus, :hover) .ani::after {
	scale: 45;
}
.game_open {
	padding: 1rem;
	border-radius: 1rem;
	display: flex;
	justify-content: center;
	border:6px solid #76b;
}
#game_ready_open {
	background: transparent;

}
.board_open {
	background: #54a;
	color:#fff;
	margin:1rem auto;
}
.board_contents {
	position: fixed;
	top:0px; left:0px;
	z-index: 2;
	width:100vw;
	height: 100dvh;
	max-width:100vw;
	max-height: 100dvh;
	border:1px solid #54a;
	padding:2rem;
}
#value_table_list {
	margin:1rem auto;
}
#value_table_list :where(th, .value_number) {
	background: #54a;
	color:#fff;
	text-align: center;
	font-size:1rem!important;
	padding:0.5rem;
}
#value_table_list thead {
	position: sticky;
	z-index: 2;
}
#value_table_list td {
	border:rgba(70 60 100 / 0.5) solid 1px;
}
#value_list {
	display: grid;
	justify-content: center;
	align-items: center;
	grid-auto-flow: row dense;
	gap:2.5rem 2rem;
}
label {
	cursor: pointer;
	justify-content: center;
	align-items: center;
}
label[for="gold_sound"] {
	width:12rem;
	margin: 1rem auto;
}
#gold_sound ~ img {
	aspect-ratio: 1/1;
	width:1.5rem;
	margin-right: 1rem;
	filter: invert(80%);
}
#gold_sound:checked ~ .gs_on{display: flex;}
#gold_sound:checked ~ .gs_off{display: none;}
#gold_sound ~ .gs_on{display: none;}

.value_label {
	display: flex;
	aspect-ratio: 21/9;
	padding:1rem;
	background: rgba(100 70 255 / 0.1);
	transition: background 0.2s, color 0.2s, box-shadow 0.1s, border 0.2s;
	border-radius: 1rem;
	box-shadow: 0px 0px 0px 4px #87e;

}
input[type="checkbox"] {
	position: absolute;
	appearance: none;
	-webkit-appearance:none;
	width:100%; height: 100%;
	top:0; left:0;
	border-radius: 1rem;
	outline-offset: -0.5rem;
}
.value_label:has(.value_item:checked) {
	background: rgba(60 50 150 / 0.3);
	box-shadow: 0px 0px 0px 2px #76b;
}
.value_label:has(.value_item:checked)::after {
	content: '낙찰';
	height:60%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	font-weight: 900;
	font-size: 2rem;
	aspect-ratio: 21/9;
	border-radius: 1px;
	rotate:-21deg;
	opacity: 0;
	transition: scale 0.2s;
	border:4px solid transparent;
	box-shadow:0 0 0 4px #910, 0 0 0 2px #910 inset;
	color:#910;
}
@keyframes bid {
	from {opacity:0; scale: 3;}
	to {opacity: .8; scale: 1;}
}
.value_label:has(.value_item:checked)::after {
	animation-name: bid;
   animation-duration: 0.2s;
   animation-timing-function:ease-in-out;
   animation-fill-mode: forwards;
}
.value_item:checked ~ span {
	transition: color 0.2s, filter 0.2s;
}
.auction_items label {
	padding:0.5rem;
	display: flex;
	justify-content: flex-start;
}
tr:has(.auction_item_value) {
	transition: all 0.2s;
}
tr:has(.auction_item_value:checked) {
	background: #54aa;
	color:#fff;
}
tr:has(.auction_item_value:checked) .value_number::after {
	content: '낙찰';
	animation-name: bid_table;
   animation-duration: 0.13s;
   animation-timing-function:ease-in-out;
   animation-fill-mode: forwards;
	font-size: 1rem;
	display: block;
	width:100%;
	scale: 0.9;
	aspect-ratio: 1/1;
	border:4px solid #820;
	color:#820;
	font-weight: 900;
	border-radius: 2rem;
	position: absolute;
	left:0; top:0;
}
@keyframes bid_table {
	from {opacity:0; scale: 3;}
	to {opacity: 1; scale: 0.9;}
}

.value_text {
	font-size: 1.1rem;
	text-align: center;
}
.value_name {
	font-weight: 900;
	color:#23a;
	transition: color 0.2s;
}
.popup_h {
	display: flex;
	align-items: center;
	width:100%;
	background: #54a;
	color:#fff;
	font-weight: 700;
	padding:0rem 1rem;
	padding-right: 3rem;
}
:where(.popup_close, .popup_h) {
	height: 3rem;
}

.popup_close::after, .popup_close::before {
	content: '';
	position: absolute;
	display: block;
	transition: width 0.1s;
	border-radius: 1rem;
	width:2px; 
	height: 1rem;
	background: #fff;
}
.popup_close:where(:focus, :hover)::before,
.popup_close:where(:focus, :hover)::after {
	width:4px;
}
.popup_close::after {rotate:-45deg;}
.popup_close::before {rotate:45deg;}



/*Dark Mode Layout*/
@media (prefers-color-scheme:dark) {
	body {
			background: linear-gradient(90deg, rgba(150,100,255,0.2) 0%, rgba(120,70,255,0.2) 50%, rgba(150,100,255,0.2) 100%), url(../img/purplestar.jpg);
	}
	section {
		background: rgba(0 0 0 / 0.7);
		border: 1px solid rgba(0 0 0 / 1);
		box-shadow: 0 0.5rem 2rem rgba(0 0 0 / 0.1);

	}
	#gold_sound ~ img {
		filter: invert(0%);
	}
	.value_name {color:#acf;}
	.value_label:has(.value_item:checked) {
		box-shadow: 0px 0px 0px 2px #54a;
	}
	.value_label:has(.value_item:checked)::after { 
		box-shadow:0 0 0 4px #d32, 0 0 0 2px #d32 inset;
		color:#d32;
	}
	.value_item:checked ~ span {
		filter: brightness(0.5);
	}
		.light_view {display: none;}
		.dark_view {display: unset;}
}

/*기기별 CSS*/

/*PC*/
@media screen and (width >= 1400px) {
	.pc_view {display: block;}
	.mobile_view {display: none;}
	.content_width {
		width: 60vw;
	}
	.popup_box {
		min-width: 20rem;
		max-width: 50vw;
	}
	section {
		padding:3rem;
	}
	.rule {padding:1rem;}
	#game_board {
		padding:1.2rem 1rem;
	}
	#value_list {
		gap:1.2rem 1rem;
		grid-template-columns: repeat(6, 1fr);
	}

}

/*800px〜1200px iPad*/
@media (800px <= width < 1400px )  {
	#value_list {
		grid-template-columns: repeat(3, 1fr);
	}
}

/*500px~800px Fold?*/
@media (500px <= width < 800px )  {
			#value_list {
			grid-template-columns: repeat(2, 1fr);
	}

}
/*Mobile*/
@media (340px <= width < 500px ) {
	.button_area {flex-direction: column;}
}
/*watch*/
@media screen and (330px > width) {
	.content_width, .popup_box {
		width:95vw;
	}
}