@charset "utf-8";
body {
	background-color: #eee;
	font-size: 1.5rem;
}
.width_center {
	position:relative;
	margin:0 auto;
	width:65vw;
	padding:2rem 0px;
}
input, progress {accent-color:#64d;}
#skip_nav {
	display:block;
	text-align:center;
	padding:0.5rem 0;
	width:60vw;
	position:fixed;
	background-color:#1abfe5;
	color:black;
	z-index: 2;
	left:50%;
	transition: top 0.3s;
	transform: translate(-50%);
	border-radius: 0px 0px 20px 20px;
	top:-10rem;
}
#skip_nav:focus {top:0;}
.a11y_txt {
	overflow:hidden;
	display:inline-block;
    position:absolute;
    font-size:1px;
    z-index:-1;
    top:-1px; left:-1px;
    width:1px; height:1px;}
h1 {font-size: 2.5rem;}
.bread ul {display: flex;}
.bread ul a {padding:1rem;}
#content {font-size:2rem;}
h2 {
	font-size: 2rem;
	color:#437;}
h3 {font-size:1.7rem;}
h4 {font-size: 1.5rem;}
li {list-style:none;}
a {
	text-decoration:none;
	padding:5px 0px;
	margin:5px 0px;}
a:where(:hover, :focus) {text-decoration:underline; }
:where(button, a, label, input, select, summary):where(:hover), :focus {
	box-shadow:0 0 0px 2px #b0d737;
	outline: none;
}
table {
	border-top:solid 1px #76a;
	border-bottom:solid 1px #76a;
	margin:1rem auto;
}
thead {
	background-color: rgba(230 220 255 / 1);
}
tbody {background-color: #fff;}
th, td {padding:1rem;}
tr {border-bottom:1px solid #777;}
td {
	border:solid 1px #777;
	border-right: none;
}



::-webkit-scrollbar {
    width: 20px;  /* 스크롤바의 너비 */
}
::-webkit-scrollbar-thumb {
    background:rgba(255 255 255 / 0.3); /* 스크롤바의 색상 */
    border:solid 1px #326;
    border-radius: 10px;
}
::-webkit-scrollbar-track {
	border-radius: 10px;
    background:rgba(0 0 0 / 0.5);  /*스크롤바 뒷 배경 색상*/
}
footer {
	background: #222;
	color:#999;}
footer address {
	font-size: 1rem;
	font-style: normal;
}
footer address p {
	padding-left:1.2rem;

}
footer address img {
	position: absolute;
	height:1rem;
	left:0;
	top: 50%;
    transform: translate(0, -50%);
    opacity: 0.7;
}
.footer_in {
	padding-top:0px;
	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.footer_in > * {
	padding:5px 0px;
}
.ceo {
	width:100%;
	font-size: 1rem;
	display: flex;
	flex-direction: column;
}
.office_address img {
	top:10px;
	transform: none;}
.contact_info {
	display: flex;
	flex-direction: column;
}
.copyright {
	display: flex;
	justify-content: center;

	font-size: 1rem;
	padding:2rem;
	background: #111;
}

#page_top {
	width:2.5rem;
	height:2.5rem;
	padding:0px;
	position:fixed;
	bottom:5dvh;
	right:5vw;
	border-radius:100%;
	z-index:5;
	background:rgba(255 255 255 / 0.7);
	border:2px solid #777;
	opacity:0.7;
}
#page_top svg {
	width:100%;
	height:100%;}


.lightV {display:flex;}
.darkV {display:none;}



/*다크 모드일 경우의 스타일*/
@media (prefers-color-scheme:dark) {
	.lightV {display:none;}
	.darkV {display:flex;}
	body {
		background-color:#333;
		cursor: url("img/purple_light_mouse.cur") -10 -10, auto;
	}
	h2 {color:#dcf;}
	:where(button, a, label, input, select, summary):where(:hover), :focus {
		box-shadow:0 0 0px 2px #b0d737;
		outline: none;
	}
	thead{
		background-color: #37333f;
	}
	tbody {
		background-color: #444;
	}

}

/*desktop*/
@media screen and (1200px < width) {

}

/*Tablet*/
@media screen and (760px < width < 1200px) {
	.width_center {width:80vw;}
	.office_address, .contact_info {
	flex:0 1 40%;
	}


}
/*Mobile*/
@media screen and (310px < width < 760px) {
	.width_center {width:90vw;}
	.office_address, .contact_info {
		flex: 1 0 100%;
	}
	.ceo {flex-direction: row;}
	.copyright {flex-direction: column;}
}
/*iPhoneSE / Watch?*/
@media screen and (width < 310px) {
	.width_center {width:95vw;}
	.office_address, .contact_info {
		flex: 1 0 100%;
	}
	input[type="text"], textarea {
		overflow-x:hidden;
		text-overflow:ellipsis;}
	.ceo {flex-direction: row;}
	.contact_info {flex-direction: row;}
	.copyright {flex-direction: column;}
}