@charset "utf-8";
#content {font-size:2rem;}
.read_first {
	position:relative;
	padding:2rem;
	margin:2rem auto;
	margin-top:5rem;
	border-radius:1rem;
}
.read_first h2 {
	font-size: 1.7rem;
}
#woman_blue {
	transform: scaleX(-1);
	height: 100%;
	display:inline;
	position:absolute;
	bottom:0;
	left:2rem;

}

.tiles {
	display:grid;
	justify-items:center;
	justify-self:center;
	justify-content: space-between;
	row-gap:2rem;
}
.tile {
	padding:2rem;
	background:#fff;
	border-radius: 1rem;
}
.tile_name {display:flex;}

.sites {
	display:flex;
}
.sites a {padding:1rem;}


/*다크 모드일 경우의 스타일*/
@media (prefers-color-scheme:dark) {
	.read_first {background: #a60;}
	.tile {background: #444;}
}

/*Desktop*/
@media screen and (width > 1200px) {
	.tiles {
		grid-template-columns: 32% 32% 32%;
	}
	.read_first {padding-left:12rem;}
}
/*Tablet*/
@media screen and (760px < width < 1200px) {
	.read_first {
		padding:2rem 1rem;
		margin-top:3rem;
		padding-left:11rem;
	}
	#woman_blue {
		height:90%;
		left:0.1rem;}
	.tiles {
		grid-template-columns: 49% 49%;
	}
	.tile {
	padding:1.5rem;
	}
}
/*Mobile*/
@media screen and (310px < width < 760px) {
	.read_first {
	padding:2rem 1rem;
	padding-left:auto;
	margin-top:3rem;

	}
	#woman_blue {display:none;}
	.tile {
	padding:1rem;
	}
	
}
/*iPhoneSE / Watch?*/
@media screen and (width < 310px) {
	.read_first {
	padding:2rem 1rem;
	padding-left:auto;
	}
	#woman_blue {display:none;}
	.tile {
	padding:0.5rem;
	}

}