@charset "utf-8";
.main_box {position: relative;}
.content_table {
	border:1px solid #777;
	background-color: #fff;
}
.content_table > * {
	font-size: 1.2rem;
	padding:1rem;
}
.content_table h2 {
	background-color: #ddd;
}
.content_table li {
	border-bottom:1px solid #777;
}
.content_table a {
	display: block;
}
.read_first {
	position:relative;
	margin:2rem auto;
	background: #fec;
}
.read_first > * {
	border:1px solid #fda;
	padding:1rem;
}

.read_first summary {
	display: flex;
	justify-content: space-between;
	background: #feb;
}
.read_first summary::marker {
	content:'';
	display: none;
}
*:has(> svg) {
	display: flex;
	align-content: center;
	justify-content: center;
}
#Group_1 {
	margin-right: 1rem;
}
.folding_arrow {
	width:30px; height: 30px;
	rotate: 180deg;
	background-color:#fd9;
}
details[open] .folding_arrow {
	rotate: 0deg;
}
#Icon_ionic-ios-arrow-down {
	fill:rgba(0 0 0 / 0.5);
}
.read_first_content {
	padding-left:calc(1rem + 30px + 1rem);
}
.read_first_content li {
	list-style: disc;
	list-style-position: inside;}

/*다크 모드일 경우의 스타일*/
@media (prefers-color-scheme:dark) {
	.content_table {background-color: #444;}
	.content_table h2 {background-color: #222;}
	.read_first {background-color: #b70;}
	.read_first > * {
		border-color: #850;

	}
	.read_first summary {
		background: #a60;
	}
	.folding_arrow {
	background-color:#a50;
	}
	#Icon_ionic-ios-arrow-down {
	fill:rgba(255 255 255 / 0.5);
	}
}

/*Desktop*/
@media screen and (width > 1200px) {
	.main_box {
		display: flex;
		flex-direction: row-reverse;
		align-items: flex-start;
	}
	.content_table {
		margin-left:3rem;
		position: sticky;
		top:0;
		z-index: 2;
	}

}
/*Tablet*/
@media screen and (760px < width < 1200px) {

}
/*Mobile*/
@media screen and (310px < width < 760px) {

}
/*iPhoneSE / Watch?*/
@media screen and (width < 310px) {

}
