@charset "utf-8";
.main_box {
	position: relative;}
.content_table {
		z-index: 2;
		position: sticky;
		top:0px;
		margin:1rem auto;
		border:1px solid #777;
		background-color: #fff;
}
.content_table h2, .content_table  a {
	font-size: 1.2rem;
	padding:1rem;
}
.content_table h2 {
	background-color: #ddd;
}
.content_table li {
	border-bottom:1px solid #777;
}
.content_table a {
	display: block;
}
.content_table.mobileV summary{
	padding:0px;
}

.read_first details {
	position:relative;
	margin:2rem auto;
	background: #fec;
}
.read_first details > * {
	border:1px solid #fda;
	padding:1rem;
}

.read_first summary {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	background: #feb;
}
summary::marker {
	content:'';
	display: none;
}
*:has(> svg) {
	display: flex;
	align-content: center;
	justify-content: center;
}
.y_info {
	margin-right: 1rem;
	flex:1 0 30px;
}
.folding_arrow {
	flex:1 0 30px;
	width:30px; height: 30px;
	rotate: 180deg;
	background-color:#fd9;
}
details[open] .folding_arrow {
	rotate: 0deg;
}
#Icon_ionic-ios-arrow-down {
	fill:rgba(0 0 0 / 0.5);
}
.read_first_content {
	padding-left:calc(1rem + 30px + 1rem);
}
.read_first_content li {
	list-style: disc;
	list-style-position: inside;}

article {
	padding:2rem 1rem;
	margin:3rem auto;
}
.aria-date-table {
	width:100%;
}
th, td {border:solid 1px #777;}
th, table {border-top:none;}
:where(th, td):first-child {
	border-left:none;
}
:where(th, td):last-child {
	border-right:none;
}
tr:last-child, tr:last-child td, table {
	border-bottom:none;
}
.ovsb {overflow-x: scroll;}
.role_th {width:10%}
.attri_th {width:30%}
.element_th {width:10%} 
.desc_th {width:50%;}
.code_url {
	font-family:"BIZ-UDGothic";
	background-color: #547; 
	color:white;
	font-weight: 900;
	border-radius:5px;
	padding:0.5rem 1rem;
	}
	.code_box {
		background-color: #fff;
		padding:0px 1rem;
	}
	code {font-family:"BIZ-UDGothic";}
/*작동하지 않으나 이유는 불명
.details_content {
  // Hiding overflow is necessary for the slide-in effect.
  overflow: hidden; // Spoils position:sticky on descendant elements if there is any.
  overflow: clip; // New to Firefox 81, Chrome 90.

  > *:first-child {
	  transition: margin-top 500ms ease-out;

    details:not([open]) + & {
      margin-top: -20em;
    }
  }
}*/



/*다크 모드일 경우의 스타일*/
@media (prefers-color-scheme:dark) {
	.content_table {background-color: #444;}
	.content_table h2 {background-color: #222;}
	.read_first details {background-color: #b70;}
	.read_first details > * {
		border-color: #850;

	}
	.read_first summary {
		background: #a60;
	}
	.folding_arrow {
	background-color:#a50;
	}
	#Icon_ionic-ios-arrow-down {
	fill:rgba(255 255 255 / 0.5);
	}
	.code_box {background-color:#444;}
}

/*Desktop*/
@media screen and (width > 1200px) {
	.main_box {
	display: grid;
	grid-column-gap:3rem ;
	}
	.content_table {
		grid-column: 8/10;
		margin-top:1rem;
		align-self:start;
		top:2rem;
	}
	main {
	grid-column:2/8;
	grid-row-start:1;

	}
}
/*Tablet*/
@media screen and (760px < width < 1200px) {

}
/*Mobile*/
@media screen and (310px < width < 760px) {
		.content_table h2, .content_table a {
    	font-size: 1rem;
    	padding: 1rem;
	}
	.content_table h2 {
		padding:0rem 1rem;
	}

}
/*iPhoneSE / Watch?*/
@media screen and (width < 310px) {

}
