:root {
	--novel_theme_color:#18B7CD;
	--novel_theme_color_dark:#1f4247;
	--yellow_color:#ff7;
	--white_color:#fff;
	--light_monotone_color:#ccc;
	--black_color:#000;
	--gray_color:#777;
	--caution_color:#c10;
	--blue_color:#45f;
	--blue_color_hover:#34e;
	--blue_color_border:#8e9ff5;
	--blue_color_border_hover:#4a65ed;
	--blue_color_bg:#f5f7ff;
	--blue_color_bg_hover:#edf0ff;
	--default_bg_color:#fff;
	--overlay_color:rgba(0, 0, 0, 0.1);
}
.episode_content {padding:0rem;}
.pc_view {display: none !important;}
*, :where(body):not(img), body {
	line-height: 2;
}
:where(a, button) {
	border-radius: 0.5rem;
}
:where(input, button, textarea, select, a, summary) {
	accent-color: var(--novel_theme_color);
	min-width: 1.5rem;
	min-height: 1.5rem;
	line-height: 2;
}
.default_input {margin-right:0.5rem;}
section:not(dialog section) {
	padding:1rem;
	margin:3rem auto !important;
}
footer {
	padding:1rem;
	background-color: var(--novel_theme_color);
}
footer .content_width {
	display: flex;
	justify-content: center;
}
.ad_area {
	padding:0rem;
}
.ad_area > *{
	background: var(--novel_theme_color);
}
h3 {
	text-align: center;
	font-size: 1.2rem;
	padding:1rem;
}
a {border-radius: 0.25rem;}
label {display: flex;}
#jump_nav {
	position: fixed;
	background: var(--novel_theme_color);
	color:#000;
	top:-10rem;
	left:0;
	z-index: 2;
	justify-content: center;
	padding:0.25rem;
	font-weight: 900;
	font-size: 1.25rem;
	width:100dvw;
	transition: top 0.2s;
	outline-offset: -0.25rem;
}
#jump_nav:focus {top:0;}
.header_line {
	display: flex;
	justify-content: space-between;
	margin:0.5rem auto;
}
.novel_navi_bar {
	background: var(--default_bg_color);
	top:0;
	z-index: 5;
	width:100%;
}
.novel_navi_bar:after {
	content: '';
	display: block;
	width: 100%;
	opacity: 0.5;
	border-bottom:1px solid;
}
.novel_nav {
	align-items: center;
	display: flex;
	justify-content: space-between;
}
.novel_nav_menu {
	flex-wrap: wrap;
	flex-grow: 1;
}
.novel_nav_menu, .novel_nav ol {
	display: flex;
}
.novel_nav ol {align-items: center;}
.site_name {display: inline-flex;}
.site_name a {
	max-height: 2rem;
	width: max-content;
}
.site_name img {
	max-width: 10rem;
}
.bookmark_setting_open {
	color:var(--blue_color);
	background: var(--blue_color_bg);
	border:2px solid var(--blue_color_border);
	font-weight: 900;
}
.bookmark_setting_open:where(:hover, :focus) {
	border-color:var(--blue_color_border_hover);
	color:var(--blue_color_hover);
	background: var(--blue_color_bg_hover);
}
#bookmark_setting p {
	text-align: center;
}
#bookmark_setting ol {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
}
.bookmark_setting_item {margin-bottom:1rem;}
.bookmark_setting_item, .radio_input_box {
	display: flex;
}
.radio_input_box:first-child {margin-right: 1rem;}
.bookmark_category_item, .bookmark_memo_item {
	flex-direction: column;
	width: 100%;
}
:where(.bookmark_category_item, .bookmark_memo_item) :where(select, input) {
	width: 100%;
	height: 3rem;
}
.bookmark_setting_save {
	display: flex;
	padding:0.5rem 2rem;
	border-radius: 0.5rem;
	margin: 0 auto;
}
li:has(.favorite_episode) {
	display: flex;
	align-items: center;
	margin:0rem 0.5rem;

}
.favorite_episode {
	appearance: none;
	-webkit-appearance: none;
	border:var(--gray_color) 1px solid;
	width: 2rem;
	height: 2rem;
	border-radius: 10rem;
}
.favorite_episode::after {
	content: '☆';
	font-weight: 900;
	font-size: 1.25rem;
	display:flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	position: absolute;
	top:0; left:0;
	color:#fa0;
	transition: 0.2s;
	text-align: center;
}
.favorite_episode:checked::after {
	content: '★';
}
.favorite_episode:where(:hover, :focus)::after {
	filter: brightness(1.2);
}

.novel_profile {
	margin:1rem auto;
	background:var(--overlay_color);
}
.novel_view_setting > fieldset:not(:first-child):not(:last-child) {
	margin:3rem auto;
}
.view_setting_title {
	width: 100%;
	background: var(--blue_color_bg_hover);
	padding:0rem 0.5rem;
	margin-bottom: 1rem;
}
.view_setting_control {
	background: transparent;
	border:1px solid var(--gray_color);
	z-index: 3;
	display: flex;
}
.novel_view_setting input[type="text"] {
	max-width: 4rem;
	border:1px solid var(--gray_color);
	border-left:none;
	border-right:none;
	padding:0rem 0.25rem;
}
.view_type_list {
	display: grid;
	gap:0.5rem;
	justify-content: center;
	justify-items: stretch;
	align-items: stretch;
	grid-template-columns: repeat(2, 1fr);
}
.view_type_list label {
	flex:1;
	padding:0rem 0.5rem;
	aspect-ratio: 16/9;
	justify-content: center;
	align-items: center;
}
.view_type_list input {
	border-radius: 0.5rem;
	border:1px solid var(--gray_color);
	position: absolute;
	width: 100%;
	inset:0;
	height: 100%;
	appearance: none;
	-webkit-appearance: none;
	outline-offset: 4px;
}
.view_type_list input:checked {
	border:4px solid var(--novel_theme_color_dark);
}
.view_type_list input:checked + span {
	font-weight: 500;
	color:var(--novel_theme_color_dark);	
}
.view_type_list span {
	width:80%;
	aspect-ratio: 16/9;
	text-align:center;
	justify-content: center;
}
.novel_navi_bar:has(#novel_navi_bar_sticky:checked) {
	position: sticky !important;
}
.episode_font_size_ctrl_line {
	display: inline-flex;
}
.episode_font_size_ctrl {
	display: flex;
	border-radius: 0rem;
	justify-content: center;
	align-items: center;
	height: 2.5rem;
	width: 2.5rem;
	border:1px solid var(--gray_color);
	aspect-ratio: 1/1;
}
.novel_profile_data > li {
	display:inline-flex;
}
.novel_profile_data > li:not(:first-child):not(:last-child), 
li:has(.novel_nav_item):not(:first-child):not(:last-child) {
	margin:0rem 0.25rem;
}
.novel_nav_item {
	padding:0rem 0.5rem;
}
.top_ad {
	width: 100%;
	border:1px solid #fffa;
	max-height: 6rem;
	aspect-ratio: 364/45;
}
.episode_control_list {
	width: 100%;
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.episode_control_link {
	justify-content: center;
	padding:0.5rem 1rem;
	width: 100%;
	gap:0.5rem;
}
.episode_control_link:link span {
	font-weight: bold;
}
.episode_control_link:visited span {
	color:var(--novel_theme_color_dark);
	font-weight: lighter;
}
.chapter_title {text-align: center;}
#episode_title {
	text-align: center;
	font-size:1.5rem;
}
.novel_episode {padding:1.5rem;}
.novel_sentence {
	padding:0.25rem 0px;
}
.episode_current {
	font-weight: lighter;
	text-align: right;
}
.star_rating {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.star_rating p {
	display: flex;
	align-items: center;
}
.star_rating fieldset {
	margin-top:0.25rem;
	display: flex;
	align-items: center;
	gap:0.25rem;
}
.star_point_submit {
	margin-left: 0.5rem;
	padding:0rem 0.5rem;
	border-radius:0.5rem;
}
.star_rating_info {
	height: 2rem;
	width: 2rem;
	border-radius: 10rem;
}
.star_rating_info::after {
	content: '?';
	border-radius: 10rem;
	border:1px solid;
	display: flex;
	font-size: 12px;
	justify-content: center;
	align-items: center;
	width: 60%;
	height: 60%;
	position: absolute;
	top:50%; left:50%;
	translate:-50% -50%;
}
.novel_star {
	appearance: none;
	-webkit-appearance: none;
	height: 2rem;
	width: 2rem;
	border-radius: 0.5rem;
	outline-offset: 0.25rem;
}
.novel_star:hover::after,
.novel_star:focus::after {
	content: '★';
}
.novel_star:has(~ .novel_star:hover)::after,
.novel_star:has(~ .novel_star:focus)::after {
	content: '★';
}
.novel_star:checked::after,
.novel_star:has(~ .novel_star:checked)::after {
	content: '★';
}
.novel_star::after {
	content: '☆';
	position: absolute;
	top:0rem;
	left:0rem;
	display: flex;
	height: 2rem;
	width: 2rem;
	font-size: 2rem;
	font-weight: 900;
	color: var(--novel_theme_color);
	transition: color 0.2s, content 0.2s;
	line-height: 1;
	cursor: pointer;
}
.episode_share_box {
	border-bottom: 1px solid var(--gray_color);
	border-top: 1px solid var(--gray_color);
}
.episode_share {
	justify-content: space-between;
	display:flex;
	padding:0rem;
	margin:0rem auto !important;
}
.episode_share > div {
	display: flex;
	align-items: center;
}
.episode_share ul {display: flex;}
.episode_share h3 {
	display: inline-flex;
}
.episode_share_sns_icon {
	max-height: 2rem;
}
a:has(.episode_share_sns_icon) {
	margin:0.25rem;
	outline-offset: 0.25rem;
}
.review_comment > li {
	border-bottom: 1px solid var(--gray_color);
	margin:1rem;
	padding-bottom:1rem;
}
.commenter_name {
	padding:0rem 0.5rem;
	margin-bottom: 0.5rem;
}
.comment_footer	{
	display: flex;
	justify-content: space-between;
}
.comment_menu_button {
	display: flex;
	background: transparent;
	padding:0rem 0.25rem;
	align-items: center;
}
.comment_menu_button img {
	height: 1rem;
}
.review_comment_more {
	border:none;
	margin:1rem;
	display: flex;
	justify-content: flex-end;
}

.comment_menu_list {
	z-index: 2;
	background: var(--default_bg_color);
	display: none;
	transition: display 0.2s;
	position: absolute;	
	right: 0;
}
.comment_menu:where(:focus-within, :hover) .comment_menu_list {
	display: block;
}
.comment_menu_list li {
	border:solid 1px var(--gray_color);
	border-bottom:none;
	padding:0.25rem;
	display: flex;
}
.comment_menu_list li:last-child {
	border:solid 1px var(--gray_color);
}
.comment_menu_list a {
	padding:0rem 0.5rem;
	width: max-content;
	flex-grow:1;
}
.episode_review, .write_review, .novel_caution {
	border:var(--gray_color) 1px solid;
}
.episode_review, .write_review {}
.write_reviewer_data {
	display: flex;
	flex-direction: column;
}

.write_review_form fieldset {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#review_text_write {
	width: 100%;
	min-height: 12lh;
	margin:1rem auto;
}
.write_review_info {
	padding:1rem;
	margin:1rem auto;
}
.writed_review_submit {
	margin: 0rem auto !important;
	padding:1rem;
}
.bottom_box_ad {
	padding:0rem;
	gap:1rem;
	display: flex;
	justify-content: space-around;
}
.bottom_ad {
	aspect-ratio: 6/5;
	min-width:15rem;
	min-height:15rem;
}
.episode_option {padding:0rem;}
.episode_option_list {
	border-top:1px solid;
	border-bottom:1px solid;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.episode_option_list > li {
	margin:0.5rem auto;
}
:where(li, form):has(.site_info_link) {
	flex-grow: 1;
	display: flex;
}
.site_info_link {
	display: flex;
	flex-grow: 1;
	justify-content: center;
}
.pdf_link {
	border:none;
	background: transparent;
}
.novel_caution_text {
	color:var(--caution_color);
	margin-bottom: 2rem;
}
.site_bottom {
	border-top:var(--gray_color) 1px solid;
}
.site_bottom > ul {
	display: flex;
	width: 100%;
	justify-content: center;
}
.site_bottom li {
	margin:0.5rem 0rem;
}
.site_bottom > ul > li:not(:first-child):not(:last-child) > a.site_bottom_link {
	border-left:var(--gray_color) 1px solid;
	border-right:var(--gray_color) 1px solid;
	border-radius: 0rem;
}
.site_bottom_link {
	align-items: center;
	opacity: 0.8;
	justify-content: center;
	padding:0.25rem 0.5rem;
	font-size: 14px;
	text-align: center;
}
#novel_top {
	position: fixed;
	bottom:2vmax;
	right:2vmax;
	padding:1rem;
	max-width: 4rem;
	max-height: 4rem;
	aspect-ratio: 1/1;
	border-radius: 4rem;
	z-index: 3;
	outline-offset: 4px;
	border: var(--novel_theme_color_dark) 2px solid;
	background: var(--novel_theme_color);
}
#novel_top:after {
	content: '';
	display: block;
	width:1rem;
	height:1rem;
	position: relative;
	top:0.25rem;
	aspect-ratio: 1/1;
	rotate:45deg;
	border-radius: 0.25rem;
	border-left: 0.25rem solid;
	border-top: 0.25rem solid;
}
.novel_site_copyright {
	opacity: 0.8;
	text-align: center;
}

dialog {
	border:1px solid var(--novel_theme_color);
}
dialog :where(.popup_close,.popover_close,.close_button,.close_popup,.close_popover,.close_ctrl) img {
	filter: invert(0)!important;
}
/*기기별 CSS*/
/*PC*/
@media screen and (width >= 1400px) {
	.pc_view {display: flex !important;}
	.mobile_view {display: none !important;}
	dialog {padding:2rem;}
	dialog form[method="dialog"], dialog :where(.popup_close, .popover_close, .close_button, .close_popup, .close_popover, .close_ctrl) {
		top:2rem;
		right: 2rem;
	}
	dialog :where(.popup_close, .popover_close, .close_button, .close_popup, .close_popover, .close_ctrl) button {
		width: 4rem; height: 4rem;
	}
	.novel_nav_menu > ol:first-child > li {border-left:var(--gray_color) 1px solid;}
	.novel_nav_menu .pc_view {margin:0.5rem 0rem;}
	.content_width, dialog {width:40vw;}
	#bookmark_setting form:not(.popover_close) {padding:3rem;}
	#episode_title {
		font-size: 2rem;
	}
	section:not(dialog section) {
		padding:2rem 2.5rem;
	}
	section:has(h3) {
		padding-top: 1rem;
	}
}

/*700px〜1200px iPad*/
@media (700px <= width < 1400px )  {
	.content_width {width: 80vw;}
	.pc_view {display: flex !important;}
	.mobile_view {display: none !important;}
	section:not(dialog section) {
		padding:1.5rem 2rem;
	}
	section:has(h3) {
		padding-top: 1rem;
	}

}

/*Mobile*/
@media screen and (700px > width) {
	section:not(dialog section) {
		padding:1rem 1.5rem;
	}
	section:has(h3) {
		padding-top: 1rem;
	}
	.novel_nav, .novel_nav_menu {
		flex-direction: column;
		width: 100%;
		justify-content: center;
	}
	.novel_nav_menu > ol:first-child {
		width: 99vw;
		margin: 0rem auto;
		border-top:1px solid var(--gray_color);
		border-bottom:1px solid var(--gray_color);
	}
	.novel_nav_menu > ol.mobile_view:last-child {
		margin:0.5rem auto;
	}
	.novel_nav_menu > ol > li:has(.view_setting_control) {
		justify-content: flex-end;
	}
	.novel_nav_menu > ol:first-child > li {
		display: flex;
	}
	.novel_nav_menu > ol:first-child a {
		justify-content: center;
		align-items: center;
		margin:0.5rem 0rem;
		padding:0rem 1rem;
	}
	.novel_nav_menu > ol > li {
		flex-grow: 1;
		text-align: center;
		display: inline-flex;
	}

	.novel_nav_menu > ol:first-child > li:not(:first-child):not(:last-child) > .novel_nav_item {
		border-left:var(--gray_color) 1px solid;
		border-right:var(--gray_color) 1px solid;
	}
	.novel_nav_menu a {flex-grow: 1;}
	.bookmark_setting_open {font-size: 14px;}
	.top_ad {aspect-ratio: 16/5;}
	.episode_control_list {
		justify-content: space-between;
		border-top:1px solid var(--gray_color);
		border-bottom:1px solid var(--gray_color);
		margin-bottom: 1rem;
	}
	.episode_control_list li {
		flex:1;
	}
	.episode_control_list li:not(:first-child):not(:last-child) {
		border-left:1px solid var(--gray_color);
		border-right:1px solid var(--gray_color);
	}

	.episode_option_list {
		display: grid;
		justify-items: stretch;
		align-items: stretch;
		border:none;
		grid-template-columns: 1fr 1fr;
	}
	.episode_option_list li {
		border:1px solid var(--gray_color);
		margin: 0rem;
	}
	.episode_option_list li:where(:nth-child(2), :nth-child(5)) {
		border-left:none;
	}
	.episode_option_list li:where(:nth-child(2), :nth-child(1)) {
		border-bottom: none;
	}
	.bottom_box_ad {
		flex-direction: column;
		gap:3rem;
	}
	.site_info_link {
		padding:0.25rem 0.5rem;
		margin:0.25rem;
		text-align: left;
		justify-content: space-between;
	}

}
/*iPhone SE, Galaxy Fold3, watch*/
@media screen and (330px > width) {
	.site_name img {max-width: 8rem;}
	.novel_nav_menu * {font-size: 14px;}
	.novel_profile, .write_review, .novel_caution, .novel_caution {
		padding:1rem;
	}

}

/*Dark Mode Layout*/
@media (prefers-color-scheme:dark) {
	:root {
		--caution_color:#f87;
		--default_bg_color:#121212;
		--overlay_color:rgba(255 255 255 / 0.1);
	}
	.bookmark_setting_open {
		filter: invert(1) hue-rotate(-200deg);
	}
	.view_setting_title {
		background: var(--novel_theme_color_dark);
	}
	.view_type_list input:checked {
		background: var(--novel_theme_color_dark);
		border-color:var(--novel_theme_color);
		box-shadow: 0px 0px 1px 0px var(--white_color), 0px 0px 1px 0px var(--white_color) inset;
	}
	.view_type_list input:checked + span {
		color:var(--white_color);
	}
	footer {background-color: var(--novel_theme_color_dark);}
	.episode_control_link span {
		color:var(--yellow_color);
	}
	.episode_control_link:visited span {
		color:var(--novel_theme_color);
	}
	.comment_menu_button img {filter: invert(1);}
	#novel_top {
		border-color: var(--novel_theme_color);
		background-color:var(--novel_theme_color_dark);
	}

}