:root {
	--novel_theme_color:#18B7CD;
	--novel_theme_color_low_light:#107A89;
	--yellow_color:#ff7;
	--white_color:#fff;
	--c_white_color:#ccc;
	--black_color:#000;
	--gray6_color:#666;
}
*, :where(body):not(img), body {
	font-family: "BIZ-UDPGothic", "KoddiUDOnGothic", sans-serif, serif;
	line-height: 2;
}

:where(input, button, textarea, select, a, summary) {
	accent-color: var(--novel_theme_color);
	min-width: 1.5rem;
	min-height: 1.5rem;
}
h3 {
	text-align: center;
	font-size: 1.2rem;
	padding:1rem;
}
a {border-radius: 0.25rem;}
#jump_nav {
	position: fixed;
	background: var(--novel_theme_color);
	color:#000;
	top:-10rem;
	left:0;
	z-index: 2;
	justify-content: center;
	padding:0.25rem;
	font-weight: 900;
	font-size: 1.25rem;
	width:100dvw;
	transition: top 0.2s;
	outline-offset: -0.25rem;
}
#jump_nav:focus {top:0;}
.header_line {
	display: flex;
	justify-content: space-between;
	margin:0.5rem auto;
}
.novel_navi_bar:after {
	content: '';
	display: block;
	width: 100%;
	opacity: 0.5;
	border-bottom:1px solid;
}
.novel_nav {
	max-height: 4rem;
	align-items: center;
	display: flex;
	justify-content: space-between;
}
.site_name {display: inline-flex;}
.site_name a {
	max-height: 2rem;
	width: max-content;
}
.site_name img {
	max-width: 10rem;
}
#bookmark_setting p {
	text-align: center;
	padding:1rem;
}
.bookmark_setting_item, .radio_input_box {
	display: flex;
}
.bookmark_memo_list_item {
	flex-direction: column;
}
.bookmark_setting_save {
	display: flex;
	padding:0.5rem 2rem;
	border-radius: 0.5rem;
	margin: 0 auto;
}

.novel_profile {
	padding:1.5rem;
	margin:1rem auto;
	background: rgba(255 255 255 / 0.1);
}
.novel_profile_data > li {
	display:inline-flex;
}
.novel_profile_data > li:not(:first-child):not(:last-child), 
li:has(.novel_nav_item):not(:first-child):not(:last-child) {
	margin:0.25rem;
}
.novel_nav_item {padding:0.5rem;}
.top_bar_ad {
	border:1px solid #fffa;
	min-height: 4rem;
	max-height: 6rem;
	margin:1rem auto;
}
:where(.episode_control, .novel_nav) > ol {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.episode_control_link {
	padding:0.5rem 0.75rem;
	margin:0rem 0.25rem;
}
.episode_control_link:link {
	font-weight: bold;
}
.episode_control_link:visited {
	color:var(--novel_theme_color_low_light);
}
#episode_title {
	text-align: center;
	font-size:1.5rem;
	padding:1rem;
}
.novel_episode {padding:1.5rem;}
.novel_sentence {
	padding:0.25rem 0px;
}
.episode_current {
	opacity: 0.6;
	font-weight: lighter;
	text-align: right;
}
.star_rating {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.novel_star {
	appearance: none;
	-webkit-appearance: none;
	height: 2rem;
	width: 2rem;
	border-radius: 0.5rem;
	outline-offset: 0.25rem;
}
.novel_star:hover::after,
.novel_star:focus::after {
  content: '★';
}
.novel_star:has(~ .novel_star:hover)::after,
.novel_star:has(~ .novel_star:focus)::after {
  content: '★';
}
.novel_star:checked::after,
.novel_star:has(~ .novel_star:checked)::after {
  content: '★';
}
.novel_star::after {
	content: '☆';
	position: absolute;
	top:0rem;
	left:0rem;
	display: flex;
	height: 2rem;
	width: 2rem;
	font-size: 2rem;
	font-weight: 900;
	color: var(--novel_theme_color);
	transition: color 0.2s, content 0.2s;
	line-height: 1;
	cursor: pointer;
}
.episode_share {
	display:flex;
	align-items: center;
}
.episode_share h3 {
	display: inline-flex;
}
.episode_share_sns_icon {
	max-height: 2rem;
}
a:has(.episode_share_sns_icon) {
	margin:0.25rem;
	outline-offset: 0.25rem;
}
#novel_top {
	position: fixed;
	bottom:2rem;
	right:2rem;
	padding:1rem;
	min-width: 3rem;
	min-height: 3rem;
	aspect-ratio: 1/1;
	border-radius: 4rem;
	background: var(--novel_theme_color);
}
#novel_top:after {
	content: '';
	display: block;
	width:1.5rem;
	height:1.5rem;
	position: relative;
	top:0.25rem;
	aspect-ratio: 1/1;
	rotate:45deg;
	border-radius: 0.25rem;
	border-left: 0.25rem solid;
	border-top: 0.25rem solid;
}
dialog :where(.popup_close,.popover_close,.close_button,.close_popup,.close_popover,.close_ctrl) img {
	filter: invert(0)!important;
}
/*기기별 CSS*/
/*PC*/
@media screen and (width >= 1400px) {
	.content_width {width:50vw;}
	#episode_title {
		font-size: 2rem;
		padding: 2rem;
	}
}

/*700px〜1200px iPad*/
@media (800px <= width < 1400px )  {
}

/*iPad vertical, Mobile*/
@media (340px <= width < 800px ) {
	.content_width {width:85vw;}
}
/*iPhone SE, Galaxy Fold3, watch*/
@media screen and (330px > width) {
}

/*Dark Mode Layout*/
@media (prefers-color-scheme:dark) {
	.episode_control_link {
		color:var(--yellow_color);
	}
	.episode_control_link:visited {
		color:var(--novel_theme_color);
	}
	#novel_top {
		background-color:var(--novel_theme_color_low_light);
	}

}