/*관리자 소개 페이지 CSS*/
.STF {
	width: 100%;
	margin:4rem auto;
	animation-name:stafflist;
	animation-fill-mode:forwards;
	animation-duration:0.5s;
	position:relative;
	left:100rem;
}
@keyframes stafflist {
	0% {left:100rem;}
	40% {left:-2%}
	60% {left:0.5rem;}
	75% {left:-1%;}
	100% {left:0rem;}
}

.STF dt {
	display:inline-block;
	border-top-left-radius:2rem;
	border-top-right-radius:2rem;
	padding:1rem 1.5rem;
	top:5px;
	z-index: 2;
}
dt a {font-size:1rem;}
.STF dd {
	background-color:black;
	padding:1rem;
	border-radius: 2rem;
	border-top-left-radius: 0px;
}
.STF dd img {
	border-radius: 1rem;
	display: flex;
}
dd article {padding-top:1rem;}
.STF dt {
	font-size:1.2rem;
	font-weight:800;
}
.STF dd {
	font-size:1.0rem;
	font-weight:700;
}
.staffs {
	width:100%; 
	height:100%;
}

#master {animation-delay:0.1s}
#master dt {
	background-color:#335;
	color:#ff3;
}
#master dd {border:solid 5px #335;}

#maker {animation-delay: 0.3s}
#maker dt {
	background:#432000;
	color:#ced;
	font-weight:900;
}
#maker dd{
	text-align:center;
	border:solid #432000 5px;
}

#aorus {animation-delay:0.5s}
#aorus dt {
	background-color:#226; 
	color:#def;
}
#aorus dd {border:solid #236 5px;}


#purple {animation-delay:0.7s}
#purple dt {background-color:#439;}
#purple dd {border:#439 solid 5px;}




/*PC*/
@media screen and (1100px < width) {

	#ITC7S main {
		padding:4rem 0px;
		display: grid; 
		grid-gap:2rem 4rem;
		grid-template-columns: 1fr 1fr;
	}
	.STF {
		margin:1rem;
	}

}
@media (prefers-color-scheme:light) {
	.STF dd {
		background-color:white;
		color:black;
		width:100%;
	}

	#purple dt,#purple a {background-color:#baf; color:#307;}
	#purple dd {border:#baf solid 5px;}

	#master dt,#master a {background-color:#ffa; color:#111;}
	#master dd {border:solid 5px #ccc;}
}
