/*페이지 고유 CSS*/
:root {font-size:20px;}

.examplebox .arrow {
	font-weight: 900;
	font-size: 1.5rem;
	padding: 1rem;
}

section {
	padding: 2rem;
	margin: 2rem auto;
	border-radius: 1rem;
}

section:first-child {
	padding-top: 0rem;
}

.centered {
	max-width: 90vw;
	margin: 0 auto;
	padding: 1rem 0rem;
}

.addbox {
	margin: 0px auto;
}

.addform {
	display: inline-flex;
	justify-content: center;
}

.addform > span {
	border-radius: 1rem;
	background-color: cornsilk;
	padding: 1rem;
	padding-top: 3rem;
	text-align: center;
	margin: 0rem auto;
}

.addform input {
	color: black;
	padding: 0px;
	border: none;
	background-color: transparent !important;
	border-bottom: #64a 2px solid;
	opacity: 0.8;
}


.addform label {
	color: black;
	position: absolute;
	top: 2rem;
	left: 0rem;
	padding: 0.5rem 1rem;
	padding-bottom: 0;
	opacity: 0.7;
	transition: top 0.2s, opacity 0.2s, font-size 0.2s;
}

.addform input:not(:focus)::placeholder {
	color: transparent;
}

.addform input:where(:focus, :not(:placeholder-shown))+label {
	opacity: 1;
	top: 0rem;
	font-size: 1rem;
}
.addform button {
	display: flex;
	align-items: center;
	justify-content: center;
}

.addbox .arrow {
	margin: 1rem auto;
}
.button_area {
	display: flex;
}

.arrow {
	background-color: transparent;
	text-align: center;
	font-weight: 900;
}
#dic {
	padding:1rem;
	border-radius: 1rem;
	background-color: cornsilk;
}
#dic li {
	display: flex;
	padding: 0.5rem;
	color: black;
	border-bottom: 1px solid;

}

#dic li .arrow {
	width: 1.5rem;
	height: 1.5rem;
}

:where(#dic h2 + *) {
	background-color: cornsilk;
}

.controlbox button {
	display: block;
}

textarea {
	width: 100%;
	min-height: 8rem;
	border-color: cornsilk;
	color: black;
	border-radius: 1rem;
	background-color: beige;
}

input {
	min-height: 1.3rem;
	min-width: 1.3rem;
	vertical-align: middle;
	accent-color: #64a;
}

fieldset {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 1rem 0rem;
}

button,
summary {
	display: flex;
	background-color: #64a;
	color: #fff;
	padding: 0.5rem 1rem;
	margin: 1rem auto;
	text-align: center;
	border-radius: 1rem;
}

svg {
	width: 1.5rem;
	height: 1.5rem;
	vertical-align: middle;
}

footer {
	padding: 3rem;
	margin-top: 5rem;
	background-color: #333;
	color: #fff;
}

footer a {
	display: flex;
	justify-content: center;
	align-items: center;
}

footer a p {
	display: inline-block;
	padding: 0.5rem;
}

footer a img {
	border-radius: 10rem;
	width: 2rem;
	aspect-ratio: 1/1;
}

.redtext {
	color: #c10;
	font-weight: 900;
}

#select_mode {
	display: flex;
	justify-content: center;
}

#select_mode li {
	padding: 0.5rem;
}

/*기기별 CSS*/

/*PC*/
@media screen and (min-width:1200px) {
	.centered {width:60vw;}
	.transducer {
		display: flex;
		justify-content: space-between;
	}
	.transducer section {
		width:45%;
		padding:0px;
	}
	.transducer.centered {
		min-width:70vw;
	}
	.examplebox.centered {
		width:40vw;
	}

}

/*700px〜1200px iPad*/
@media (min-width: 701px) and (max-width: 1200px) {
	section {
		padding: 1.5rem;
	}

	.centered {
		width: 80vw;
	}
	.transducer.centered {
		min-width:85vw;
	}

}

/*Mobile*/
@media (max-width:700px) {
	.centered {
		width: 90vw;
	}
	section {
		padding: 1rem;
	}

	#select_mode,
	#dic p {
		display: block;
	}

	.addform {
		flex-direction: column;
	}

	.addform .arrow {
		rotate: 90deg;
	}

	#dic li {
		flex-direction: column;
	}

	#dic li .arrow {
		rotate: 90deg;
	}

	footer a span {
		display: block;
	}
}

/*Dark Mode Layout*/
@media (prefers-color-scheme:dark) {
	.redtext {
		color: #ffafaa;
	}
}