@charset "utf-8";
:lang(ko) {word-break: keep-all; line-break:normal; text-rendering: optimizeLegibility;}
::selection {background:#bfd; color:#420;}

img,video {width:100%;}
body {
	background-image:linear-gradient(to left,rgba(10, 0, 255, 0.1) , rgba(10, 0, 255, 0.1) , rgba(10, 0, 255, 0.1)),
	url(purplestar.jpg);
	background-attachment:fixed;
	box-sizing:border-box;
	height:100%;
	color:white;
	margin:0px;}
body * {-webkit-font-smoothing: antialiased;
		font-family:"SF Pro KR","SF Pro Display","SF Pro Icons","Apple Gothic","HY 돋움","맑은 고딕","HY 견고딕","Lexi Gulim","Helvetica Neue","Helvetica","Arial","sans-serif";
	}
.light {display:none;}


#mainjump {
	background-color:#630; 
	color:#ced;
	width:100%;
	display:block;
	text-align:center;
	position:absolute;
	top:0px;
	z-index:-1;}

#mainjump:focus {z-index:2020;}

header {
	position:sticky;
	z-index:40;
	top:0px;
	width:100%;
	margin:0px;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	padding-bottom:0px;
	background-color:rgba(50,50,50,0.7);
	border-bottom:#cccc solid 1px;}

nav {margin:0px;
	padding:0px;
	display:flex;
	width:100%;
	align-content:center;
}

nav a {
		width:99.9%;
		align-items:center;
	}
.navi {margin:0px;
	box-sizing:border-box;}
.navi a,h3 {
	box-sizing:border-box;
	text-overflow:clip;
	font-size:100%;
	padding:2vmin;
	margin:0px;}

h3 {width:100%;
	color:#def;}

#pagetitle	{
	width:70%;
	background-color:#222425;}
#gochat	{
	width:30%;
	background:linear-gradient(to bottom, #0583d8 0%, #046eb6 100%);}



main {
	margin:auto;
	margin-bottom:3vh;}

	
#HELLO {
	margin-bottom:80px;
	position:relative;
	bottom:0px;
	padding-top:3vmax;
	justify-content:center;
	text-align:center;
	overflow-x:hidden;
	background-color:black;
	box-shadow:0px 0px 30px 30px #000000;
}
#ITtitle {width:100%;}



#HELLO span {
	justify-content:center;
	font-size:2rem; 
	font-weight:700;
	letter-spacing:0px;
	display:inline-block;}

#ITtitle *,.menu {
animation-duration:2s;
animation-name:load; 
animation-delay:0.3s;
animation-fill-mode:forwards;
opacity:0; 
position:relative;}
h1,h2,h3,h4 {font-weight:900;}
h4 {font-size:1.3rem; padding:10px 1rem !important; margin-top:50px !important;}

#SCMB {place-content:center;
	display:flex;
	margin:0px auto;
	flex-wrap:wrap;}

a {display:inline-flex;
	text-decoration:none;
	justify-content:center;
	vertical-align:baseline;
	color:white;}

.menu {
	text-align:center;
	background:linear-gradient(to bottom, rgba(130,120,220,1) 0%, rgba(100,70,200,1) 49%, rgba(70,0,130,0.9) 50%, rgba(50,0,100,0.9) 100%);
	padding:1rem 0px;
	width:10rem;
	border:1px solid #54a;
	font-weight:900;
	margin:1rem 0.5rem;
	transition:transform 0.2s, filter 0.2s;
	transform:translateY(0px);}
.menu:active {
	transform:translateY(5px);
	filter:brightness(1.2);}

.w90 {width:90%; margin:auto;}

ol,ul,dl {
	margin:0px; 
	padding:0px;
	background-color:transparent;}
dl+dl {margin:0.5rem 0px;}
ol,ul,dl,li {list-style:none;}
dd,dt {margin:0px; font-weight:400;}


@keyframes load {
	0% {opacity:0; top:1rem;}
	60% {top:-1rem;}
	100% {opacity:1; top:0rem;}}


.Gram {display:none;}
#FOLD {
	z-index:3;
	position:relative;
	animation-name:fold;
	animation-delay:0.3s;
	animation-duration:2s;
	animation-fill-mode:forwards;
	transform:scale(3);	
	opacity:0;
}

@keyframes fold {
	0% {transform:scale(2); opacity:0;}
	70% {transform:scale(0.5);}
	100% {transform:scale(1); opacity:1;}
}
#nonegram,#LGGram {display:none;}
@media (prefers-reduced-motion:no-preference) and (prefers-color-scheme:light){
	#LGGram {display:block;}
}

@media (prefers-reduced-motion:reduce) and (prefers-color-scheme:light){
	#nonegram {display:block;}
}

@media (prefers-reduced-motion:reduce) {
	.playing {display:none;}
	.noplay {display:unset;}
  #FOLD {
    animation: none;
    width:90%;
    opacity:1;
   	transform:translateX(0%);}

   	#ITtitle *, .menu, dl#robin, #aorus, #psps, #kejang, #purple, .STF {
	animation:none;
	left:0;
	top:0px;
	opacity:1;}
}
@media (prefers-reduced-motion:no-preference) {
.noplay {display:none;}
.playing {display:block;}
}





h4, section > ul > li {
	background-color:rgba(20,0,50,0.7);
	border:2px solid #103;
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	margin:1rem 0px;
	padding:1.5rem;
	border-radius:10px;}
li li,li li strong,li dl strong {
	padding:0px; 
	font-weight:500;
	font-size:1rem;
	background-color:transparent;}
li li,li dl {
	margin:0.3rem 0px;}
li dt {font-weight:600;}
li,strong,li a {
	font-weight:800; 
	font-size:1.2rem;}
.master {
	background-color:white; 
	color:#400;
	display:inline-flex;
	font-weight:800;}

footer {
	font-weight:600;
	padding:5%;
	background-color:black;}
#CP {margin:0px auto;}





#sellist dt {padding-bottom:0.3rem; border-bottom:solid 1px #eef;}
#sellist dd {padding-top:0.3rem;}
.sellisk {color:#faa;}




#robin {
	justify-content:center;
	margin:3rem auto;
	position:relative;
	top:-100rem;
	animation-name:robin;
	animation-duration:0.3s;
	animation-fill-mode:forwards;}
@keyframes robin {
	0% {top:-100rem;}
	100% {top:0em;}
}
#robin a,#robin dd{
	font-size:1.5rem;
	font-weight:900;
	color:#bdf;
}
#robin dt, #robin a {
	background: linear-gradient(135deg, #663300 30%, #cca99a 50%, #663300 70%);
	color:#ced;}
#robin dd{
	text-align:center;
	border:solid #630 2px;}

#robin dt,.STF dt {
	display:inline-block;
	border-top-left-radius:1rem;
	border-top-right-radius:1rem;
	padding:0.3rem 1rem;}
#robin dd,.STF dd {
	background-color:black;
	padding:1rem;}

.STF {margin:1rem auto;	
	animation-name:stafflist;
	animation-fill-mode:forwards;
	animation-duration:0.5s;
	position:relative;
	left:10000px;}
@keyframes stafflist {
	0% {left:10000px;}
	40% {left:-2%}
	60% {left:0.5rem;}
	75% {left:-1%;}
	100% {left:0rem;}
}
.STF dt {
	font-size:1.2rem;
	font-weight:800;}
.STF dd {
	font-size:1.0rem;
	font-weight:700;}
.staffs {
	width:100%; 
	height:100%;}
#aorus {animation-delay:0.2s}
#aorus dt,#aorus a {background-color:#226; color:#def;}
#aorus dd {border:solid #236 2px;}

#kejang {animation-delay:0.3s}
#kejang dt {background-color:#333;}
#kejang dd {border:solid 2px #333;}

#psps {animation-delay:0.4s}
#psps dt,#psps a {background-color:#080;}
#psps dd {border:#080 solid 2px;}

#purple {animation-delay:0.5s}
#purple dt {background-color:#439;}
#purple dd {border:#439 solid 2px;}




@media screen and (min-width:1030px) {
	.w90 {width:60%;}
	#FOLD {width:60%;}
	.note20 {width:40%; margin:0 auto;}
	body {background-size:30%;}
	.navi a,h3 {font-size:2rem; padding:1rem; box-sizing:border-box;}
}

@media screen and (max-width:1024px) {
	body {background-size:70%; }
	.w90 {width:70%;}
	#FOLD {width:80%;}
}
@media screen and (max-width:760px) {
	body {background-size:80%;}
	.w90 {width:90%;}
}
@media screen and (max-width:320px){
	body {background-size:100%;}
	.w90 {width:95%;}
	.navi a{font-size:60%;}
	#HELLO {height:100%;}
}



@media (prefers-color-scheme:light) {
	.light,.Gram {display:unset;}
	.navi a {color:white;}
	.dark, .note20 {display:none;}
	body {background-image:url(mintback.png); 
		background-attachment:fixed;}
	header {background-color:#fffa; border-bottom:#222425 solid 1px;}
	a {color:black;}
	#HELLO {
		color:black; 
		background:white;
		box-shadow:0px 0px 30px 30px #fff;}

	.menu {background:linear-gradient(170deg, rgba(220,150,120,0.9) 0%, rgba(100,50,0,0.9) 39%, rgba(40,10,0,0.9) 40%, rgba(70,40,0,0.9) 100%);
	border:rgba(165,0,52,0.9) solid 1px;
	color:white;}
	
	li,a {color:#dff;}
	h4, section > ul > li {
		backdrop-filter: blur(5px);
		-webkit-backdrop-filter: blur(5px);
		background:linear-gradient(160deg, rgba(50,10,0,0.8), rgba(70,40,0,0.8));
		border:#850 2px solid;}
	h2,h3 {color:#50a;}
	footer{background-color:#fff; color:#310;}



	#sellisk {color:#a00;}



	#robin dd,.STF dd {
	background-color:white;
	color:black;}

	#purple dt,#purple a {background-color:#baf; color:#307;}
	#purple dd {border:#baf solid 2px;}

	#kejang dt,#kejang a {background-color:#ccc; color:black;}
	#kejang dd {border:solid 2px #ccc;}

	#psps dt,#psps a {background-color:#fce; color:#540;}
	#psps dd {border:#fce solid 2px;}
}
