
body {background:linear-gradient(to bottom,white 2%,  
#eeefff 4%, #ddf, #ccf, #ccf, #bbf, #aaf, #99e, #88e, #77d, 
#76d, #65c, #51c 99%);
padding:2%;}

ul{list-style-type:none; margin-left:-15px;}
li{margin-top:5px;}

header{height:80px; background:linear-gradient(to bottom,
 #acf, #79f, #57f, #36e 99%); margin:30px; padding:30px; text-align:center;}
header a{font-family:ÈÞ¸ÕµÕ±ÙÇìµå¶óÀÎ;color:white; font-size30pt;}

footer{clear:both; vertical-align:middle;height:60px;
color:lavender;margin-top:20px;padding:10px;font-family:±Ã¼­;}
footer a{font-family:±Ã¼­;color:lavender;}
#88 {display:none;}

#menu {float:left; margin:10px; width:10%;}
#LoginBox {width:200px; background-color:#359;color:white; padding:20px;
margin:auto; font-family:HY°ß¸íÁ¶; font-weight:bolder; height:130px;
padding-top:10px; border-radius:30px; border:solid 5px #025;}

#LoginKeep {padding-bottom:10px;}

#inID,#inPW {width:123px; display:block; margin-bottom:5px;}
#LOGIN {width:70px; height:66px; text-align:center;
background:linear-gradient(to bottom, #5bf, #0af, #09f, #08f, #07f, #06f, #05e, #04d);
border:none; color:white; font-family:HY°ß°íµñ; font-size:11pt;
position:relative; top:-73px; left:135px;}

#LOGIN:active{background:linear-gradient(to top, #5bf, #0af, #09f, #08f, #07f, #06f, #05e, #04d);}

#IDPWJoin {position:relative; top:-60px;}

#content{width:150px; background-color:#214;color:white; 
margin:auto; font-family:HY°ß¸íÁ¶;
font-weight:bolder; height:200px;
border-left:solid 20px red;
border-top:solid 20px yellow;
border-right:solid 20px green;
border-bottom:solid 20px blue;}
nav a{color:white; vertical-align:middle;}

#inputfname {width:60px;}
#inputmname {width:100px;}

#inputID {width:140px;}
#inputPW,#inputPW2 {width:200px;}
#inputnicname {width:180px;}

.none {display:none;}

#pnf,#pnm,#pnl {width:40px;}
#clear,#cancel {width:111px; height:55px; font-family:Arial Unicode MS;
font-weight:bold; font-size:13pt;}
#clear {background-color:#48d; color:white; border:#15a solid 2px;}

section{border-radius:40px; border:5px solid #0b0; float:right; width:80%;
background-color:white; padding:30px; word-wrap:break-word;}

section a,section{color:black;font-size:16pt;
font-weight:bold; font-family:¸¼Àº °íµñ;}



a {text-decoration:none;}
a:hover,a:focus{font-weight:bolder;}

table{border-collapse:collapse; background-color:white;}
th,td{border:2px solid #009;font-size:20pt; padding:5px;
width:90px; height:90px;}
th,td a,td{font-family:HY°ß°íµñ;}
th {background-color:#ddf;font-weight:bold;}
table *{text-align:center;}
th:nth-child(7){color:#07f;}
td:last-child,td:last-child a{color:#07f;}
td:first-child,td:first-child a,tr:nth-child(2)>th:first-child,
tr:nth-child(7)>th:first-child{color:red;}

