@charset "utf-8";
:lang(ko) {
	word-break: 
	keep-all; 
	line-break:normal; 
	font-size:1.4rem;
	font-family:HY견고딕;}

:lang(ja) {word-wrap:break-word; word-break:break-all;}
::selection {background:#51a; color:white;}

body {background-color:#FFA;}
br {display:none;}
ul {
	padding:0px;
	list-style:none;
	margin:0px;}
li {margin:1vw 0px;}
button {
	transition:0.1s;
	border:1px solid #111;
	padding:1vh 1vw;}
button:active {
	opacity:0.7;}
.aria-list button {background-color:#09F;}
.aria-role button {background-color:#0D0;}

@media screen and (max-width: 1030px) {
	:lang(ko) {font-size:3vw;}
}
@media screen and (max-width: 770px) {
	:lang(ko) {font-size:5vw;}
}