@charset "UTF-8";
:lang(ko) {word-break: keep-all; line-break:normal;}
body {background-color:#fffaee; color:black;}
.red {background-color:#fbd;}
.yellow {background-color:#ffa; color:;}
.blue {background-color:#adf;}

.w980 {width:90%;
	   margin:0px auto;}
h1,h2 {text-align:center;}

@media screen and (min-width:1200px) {
	.w980 {width:50%;}
}

@media screen and (min-width:700px) {
	.w980 {width:70%;}
}

@media (prefers-color-scheme: dark) {
}	