@charset "UTF-8";
:lang(ko) {word-break: keep-all; line-break:normal;}
::selection {background:#51a; color:white;}
.pc {display:unset;}
.mobile {display:none;}
body {padding:0px; margin:0px;
	background: linear-gradient(90deg, rgba(102,51,0,1) 0%, rgba(170,102,51,1) 10%, rgba(204,136,85,1) 30%, rgba(204,136,85,1) 70%, rgba(170,102,51,1) 90%, rgba(102,51,0,1) 100%);
	font-weight:bold;
	box-sizing:border-box;}
#jumpbook {z-index:100;}
i {display:block;}
main {display:block; 
	width:60%;
	margin:40px auto;
	font-size:30px;
	line-height:3.5rem;
	overflow-x:hidden;}
.headerbox {
	width:60%;
	transition:0.3s height;
	margin:0px auto;
	padding-bottom:100px;
	position:relative;}
.pagetitle {display:block;}
ul,ol,li {margin:0px; padding:0px;}
li {list-style:none;}
a {text-decoration:transparent;
	background-color:transparent;
	display:inline-block;
	transition-property:text-decoration,text-underline-offset, background, opacity;
	transition-duration:0.2s;
	padding:10px 10px;
	opacity:0.8;
	text-align:center;
	position:relative;
	font-size:20px;
	color:black;}
a:after {content:'';
	transition: opacity 0.2s; 
	opacity:0;
	position:absolute;
	right:0px;
	width:46px; height:33px;
	background-image:url(hane.png);
	background-size:100%;
	background-repeat:no-repeat;
	background-position: center center;}
.now {opacity:1;}
a:focus,a:hover {
	opacity:1;
	background-color:#fff3;
	text-decoration:underline wavy #000c;
	text-underline-offset:4px;}
a:focus:after, a:hover:after {opacity:1;}
.buttonlist {display:flex; justify-content:center;}
.nextfile,.prefile,#controller {
	position:absolute;
	border-radius:5px;
	background-color:#015; color:#fed;
	border:solid 2px #abf;
	text-align:center;
	z-index:100;}
.nextfile,.prefile {
	color:white; font-size:30px;
	width:120px; 
	height:40px;
	padding:10px 20px;
	top:0px;}
#controller {
	z-index:9999;
	width:70px; height:70px; 
	color:white; font-size:20px;
	position:absolute; 
	top:0px; right:0px;}
#controller[aria-expanded="true"] .open{display:none;}
#controller[aria-expanded="false"] .close{display:none;}
.prefile {left:30%;}
.nextfile {right:30%;}
.nextfile:visited,.prefile:visited {color:#ddf;}
header,footer {
	display:flex;
	justify-content:center;
	min-height:80px;
	padding-top:30px;
	background-color:#fe5;}
h1 {font-size:40px; 
	padding:20px; margin:10px auto;
	background-color:white;}
h1,h2 {text-align:center;}
main div {box-shadow: 0px 0px 30px 20px inset #975;
	background-color:#f0ece3;
	padding:150px 120px;
	word-break: keep-all;
	margin:10vmax auto;}
nav {background-image:url(bookbg.jpg);}
nav:before,nav:after {
	content:'';
	z-index:9999;
	position:absolute; left:0px;
	display:flex;
	width:100%; height:50px;
	background-image:url(navrace.png);}
nav:before {top:0px;}
nav:after {bottom:0px;}
nav a {border-top:1px solid black;}
#firstdiv {margin-top:20px;}
p {margin:2vmax auto;}
br {display:inline;}
.hidden {
	z-index:-1; 
	position:absolute; 
	top:50%; 
	overflow:hidden; 
	width:1px; height:1px; 
	border:0; 
	box-sizing:content-box;
	clip: rect(1px, 1px, 1px, 1px); 
	clip-path: inset(0px 0px 99.9% 99.9%);}
#contentbox {
	z-index: 999;
	position:absolute;
	top:0px;
	padding:40px; 
	background-color:darkgreen;
	transition:0.4s;}
#contentbox>ol>li {width:40%;}
#contentbox h2+ol {
	flex-direction:row; display:flex;}
.expanded {
	visibility:hidden;
	filter: blur(10px);
	opacity:0;}

#original {margin:0px auto;
	margin-top:100px;
	padding:0px;}

/* PC 메뉴*/
#gnb {position:absolute;
	background-color:darkslateblue;
	overflow:auto;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	padding:20px;
	top:0px; left:-100%;
	animation-duration:.4s;
	animation-name:load;
	animation-fill-mode:forwards;}
	@keyframes load {
		from {left:-100%;}
		to {left:0px;}
	}
#gnb h2 {text-align:left;
		padding:10px;}
#gnb a {display:flex;}
#gnb .original {
	border:none;
	padding:70px 0px; margin:0px auto;
	background-repeat:no-repeat;
	background-size:contain;
	background-position:center center;
	background-image:url(jplogo.png);}
/*tablet*/
@media screen and (max-width:1100px) {
		.pc {display:none;}
	.mobile {display:unset;}
	main,.headerbox {width:80%;}
	main div {padding:30px 80px;}
	.prefile {left:17%;}
	.nextfile {right:17%;}
}
/*mobile*/
@media screen and (max-width:760px) {
	.pc {display:none;}
	.mobile {display:unset;}
	main {width:90%;
		font-size:22px; 
		line-height:2.2rem;}
	.headerbox {width:100%;}
	.nextfile,.prefile {
		font-size:20px;
		padding-right:10px;
		padding-left:10px;}
	.prefile {left:5%;}
	.nextfile {right:5%;}
	a {width:30px; height:30px;
		text-align:center;
		padding:0px;}
	main div {padding:33px;}
	h1 {font-size:20px;}
	p {margin:5vmax auto;}
}

@media (prefers-color-scheme:dark) {
	body {background: linear-gradient(90deg, rgba(34,34,34,1) 0%, rgba(0,0,0,1) 10%, rgba(0,0,0,1) 30%, rgba(0,0,0,1) 70%, rgba(17,17,17,1) 90%, rgba(34,34,34,1) 100%);
		color:white;}
	nav {background-image:url(bookbgd.jpg);}
	header,footer {background-color:#015; color:white;}
	h1 {color:white; background-color:black;}
	h2 {color:white;}
	main div {box-shadow: 0px 0px 30px 20px inset #655;
		background-color:#030201;}
	a {color:white;}
	a:focus,a:hover {
	background-color:#0004;
	text-decoration:underline wavy #fffd;}
	a:after {background-image:url(haned.png);}
	.nextfile,.prefile {
	border-radius:5px;
	border:solid 2px #aaf;
	background-color:black;
	color:white;}
.nextfile:visited,.prefile:visited {color:#ddf;}
}
