p {background-color:white;}
h3 {background-color:#ccffaa;}
p {color:green;font-style:bold;}
pre {color:#0084ff;font-style:italic;font-size:22pt;font-family:HY∞ﬂ∞ÌµÒ;}
body {background-color:#deddff;}
h1 {color:#9988ff;font-family:∞≠º≠B;}
h2 {color:#9665ff;font-family:»ﬁ∏’µ’±Ÿ«ÏµÂ∂Û¿Œ;font-style:shadow;}
h3 {color:#7799ff;font-style:bold;font-size:80pt;font-family:∏º¿∫ ∞ÌµÒ;}
