@charset "utf-8";

.pc_view {
    display: none;
    transition: all 0.2s;
}

.mobile_view {}

.dark_view {
    display: none;
}

.light_view {}

#skipnav {
    border-radius: 1rem;
    background-color: #4156A0;
    font-weight: 900;
    position: fixed;
    left: 5%;
    right: 5%;
    justify-content: center;
    z-index: 2;
    top: -5rem;
    padding: 1rem 1.5rem;
    text-align: center;
    outline-offset: 4px;
    transition: 0.2s top
}

#skipnav:focus {
    top: 0.5rem;
}

main {
	padding:3rem 0rem;
}
section {
	padding:2rem 0px;
}
.content_width {
	width:95vw;
    max-width: 320px;
    margin: 0px auto;
}

table {
    border: none;
    margin: 1rem 0px;
}

th,
td {
    padding: 0.5`rem;
    border: solid 1px;
}

dl {
    padding: 0.5rem 0px;
}

input, .main_color {
    accent-color: #684DB3;
    background-color: #684DB3;
}

input,
button,
a {
    min-width: 1.5rem;
    min-height: 1.5rem;
    vertical-align: middle;
}

fieldset {
    border: none;
}

h1 {
    text-align: center;
}

h1 a {
    font-size: 2rem;
}

h2,
h3 {
    padding: 1rem;
}

h2 {
    font-size: 1.5rem;
    text-align: center;
}

h3 {
    font-size: 1.3rem;
    padding-left: 0px;
}

summary {
    list-style: none;
    vertical-align: middle;
    display: flex;
    align-items: center;
}

dialog {
    cursor: default;
    position: fixed;
    margin: auto auto;
    width: 90vw;
    max-height: 100dvh;
    z-index: 2;
    border-radius: 1rem;
    transition: all 0.2s;
}

dialog::-webkit-scrollbar {
    width: 0px;
}

.popup_title {
    text-align: left;
    display: flex;
    align-items: center;
    height: 4rem;
    width: 100%;
    padding: 0px;
    border-bottom: #777 1px solid;
    padding-left: 1rem;
    padding-right: 5rem;
}

.popup_contents {
    overflow-y: scroll;
    padding: 1rem;
    padding-right: 1rem;
}

.popup_close {
    border-radius: 1rem;
    width: 4rem;
    height: 4rem;
    position: absolute;
    top: 0px;
    right: .5rem;
    scale: 80%;
    background-color: transparent;
    transition: 0.2s background-color;
}
.popup_close img {width: 100%;}
.popup_close:where(:focus, :hover) {
    background-color: rgba(255 255 255 / 0.2);
}

dialog::backdrop {
    backdrop-filter: blur(2px) brightness(0.8);
}

.horizontal_flex_box {
    display: flex;
}

.more_link {
    padding: 1rem;
}

.card_list a {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.card_list img {
    aspect-ratio: 16/9;
    overflow-y: hidden;
}

.card_list p {
    text-align: center;
}

.card_contents_date {
    padding: 1rem;
}



/*기기별 CSS*/
/*PC*/
@media screen and (width >=1000px) {
    .pc_view {
        display: unset;
    }

    .mobile_view {
        display: none;
    }

    main {
        padding: 5rem 0rem;
    }

    .content_width, .main_menu, .policy_box {
        width: 60vw;
        max-width: 1200px;
    }

    dialog {
        width: 60vw;
    }

    .popup_title {
        padding-left: 2rem;
    }

    .popup_contents {
        padding: 2rem;
    }

    .popup_close {
        right: 1.5rem;
    }

    .card_list li {
        margin-right: 1rem;
    }

    .card_list li:last-child {
        margin-right: 0px;
    }

}

/*700px〜1200px iPad*/
@media (600px <=width < 1000px) {
    .pc_view {display: none;}
    dialog {
        width: 80vw;
    }
    .content_width, .main_menu {
    	width:85vw;
    	max-width: 700px;
    }
}

/*Mobile*/
@media (340px <=width < 600px) {
	.pc_view {display: none;}
}

/*watch*/
@media screen and (340px > width) {
	.pc_view {display: none;}
    dialog {
        width: 100dvw;
    }
}

/*Dark Mode Layout*/
@media (prefers-color-scheme:dark) {
    .light_view {
        display: none;
    }

    .dark_view {
        display: unset;
    }
    input, .main_color {
    	background-color:#987DE8;
    	accent-color:#987DE8;
    }
    .popup_close img, #password_view {
        filter: invert(1);
    }
}