footer {
	border-top:2px solid #777;
}
a {align-items: center;}
.policy_box, .policy_box li, .company_data_box, .company_info {
	display:flex; 
}
.policy_box {
	margin:0px auto;
	overflow-x: scroll;
}
.policy_box::-webkit-scrollbar {
	width:5px;
	height: 5px;
}
.policy_box a {
	padding:1rem;
	white-space: nowrap;
	margin:2px;
}
.company_data_box {
	flex-direction: column;
}

.company_info {
	white-space: nowrap;
	opacity: 0.8;
	padding-right: 0.5rem;
}
.company_info :where(dt, dd) {
	display: flex;
	align-items: center;
	padding-right: 0.3rem;
}
.company_info a {
	padding:2px;
	margin:0px 2px;
}
#page-top {
	position: fixed;
	bottom:1rem; right:1rem;
	}


/*기기별 CSS*/
/*PC*/
@media screen and (width >=1400px) {
	.policy_box {
		margin:0px auto;
	}
	 .company_data_box {
	 	flex-direction: row;
	 }
}

/*700px〜1200px iPad*/
@media (700px <=width < 1400px) {

}

/*Mobile*/
@media (340px <=width < 700px) {}

/*watch*/
@media screen and (330px > width) {}

/*Dark Mode Layout*/
@media (prefers-color-scheme:dark) {

}