footer {
	border-top:2px solid #777;
}
.policy_box {
	display:flex; 
	overflow-x: scroll;
}
.policy_box a {
	padding:1rem;
	white-space: nowrap;
}
dl {
	display: flex;
}
dt {display: inline-flex;}
#page-top {
	position: fixed;
	bottom:1rem; right:1rem;
	}


/*기기별 CSS*/
/*PC*/
@media screen and (width >=1400px) {
	.policy_box {
		margin:0px auto;
	}
	dl {width:50%;}
}

/*700px〜1200px iPad*/
@media (700px <=width < 1400px) {

}

/*Mobile*/
@media (340px <=width < 700px) {}

/*watch*/
@media screen and (330px > width) {}

/*Dark Mode Layout*/
@media (prefers-color-scheme:dark) {

}