.top_menu {
    display: flex;
    justify-content: space-between;
    margin: 1rem auto;
    flex-direction: column;
}

.top_menu h1>a {
    padding: 1rem;
}

h1 {
    display: inline-flex;
}

.right_top_menu {
    display: flex;
}

.right_top_menu>div>a,
.right_top_menu>button {
    white-space: nowrap;
    padding: 0.5rem;
    min-height: 3rem;
    display: inline-flex;
    align-items: center;
    background-color: transparent;
    box-sizing: content-box;
}
.right_link {display: flex;}
.right_top_menu .menu_icon+p {
    width: 1px;
    height: 1px;
    overflow: hidden;
    align-items: center;
}

:where(.menu_icon,
.all_menu, .right_top_menu, .fixed_footer_menu) img {
    opacity: 0.5;
    width: 1.5rem;
    aspect-ratio: 1/1;
    justify-content: center;
}



#login_popup img {
    aspect-ratio: auto;
    width: 100%;
}

.login_option_checkbox {margin-top:1rem;}

:where(.login_control, .sns_login) a,
.login_control button {
    width: 10rem;
    margin: 1rem;
    justify-content: center;
    align-items: center;
    min-height: 3rem;
}

.ip_input_box {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.ip_input_box input {
    padding:0.5rem;
}
.ip_input_box label {
    padding:0.5rem 0rem;
}
#password_view {
    appearance: none;
    -webkit-appearance: none;
    position: absolute;
    bottom: -2px;
    right: 0px;
    width:3rem;
    aspect-ratio: 1/1;
    z-index: 2;
}

.pw_input_box .eyecon {
    scale: 0.8;
    width: 3rem !important;
    position: absolute;
    bottom: -2px;
    right: 0px;
    opacity: 0.5;
    transition: opacity 0.2s;
}
.login_control button {
    background-color: #684DB3;
    color:white;

}
#password_view:after {
    content: '';
    display: flex;
    position:absolute; 
    bottom:0; right: 1.5rem;
    rotate: 45deg;
    height: 3rem;
    width: 2px;
    background-color: #684DB3;
    opacity: 1;
    transition: opacity 0.2s;   
}
#password_view:checked + .eyecon {
    opacity: 0.9;
}
#password_view:checked:after {
    opacity: 0;
}
.right_ad {
    padding: 2rem;
    background-color: white;
}

nav {
    border: solid 1px transparent;
    border-top-color: #777;
    border-bottom-color: #777;
}

.main_menu {
    display: flex;
    overflow-x: scroll;
    margin: 0px auto;
}

.main_menu::-webkit-scrollbar {
    height: 0rem;
}

.main_menu>li>a {
    padding: 1rem 0.5rem;
    margin:0px 0.5rem;
    outline-offset: -2px;
    white-space: nowrap;
}
.main_menu>li:focus-within {
    
}
.all_menu summary {
    border: solid 1px white;
    width: 3.5rem;
    aspect-ratio: 1/1;
}

.all_menu summary img {
    width: 100%;
    transition: display 0.2s;
}

.all_menu[open] .opened_img {
    display: flex;
}

.all_menu[open] .closed_img {
    display: none;
}

.all_menu .closed_img {
    display: flex;
}

.all_menu .opened_img {
    display: none;
}

.all_menu_list {
    position: fixed;
    font-size: 1rem;
    border: rgba(0 0 0 / 0.8) solid 1px;
    box-shadow: 3px 4px 1rem rgba(0 0 0 / 0.2);
    overflow-y: scroll;
    max-height: 80vh;
    z-index: 2;
}
.all_menu_list::-webkit-scrollbar {
    height: 0px;
    width: 0px;
}

.all_menu a {
    padding: 0.5rem;
    display: flex;
}

.categorylink > img {
    margin-right:0.5rem;
}
.all_menu hr {border: rgba }

.fixed_footer_menu .fixed_menu {
    position: fixed;
    width: 100%;
    bottom: 0px;
    display: flex;
    z-index: 2;
    justify-content: space-between;
}

.fixed_footer_menu .fixed_menu>li {
    flex: 1 1;
}

.fixed_category {
    background-color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin:2.5%;
    aspect-ratio: 1/1;
    outline-offset: -2px;
}

.fixed_footer_menu .fixed_menu :where(a, button, summary) p {
    font-size: 12px;
}

.submenu {
    padding: 0.5rem;
    background-color: transparent;
}

/*기기별 CSS*/
/*PC*/
@media screen and (width >=1200px) {
    .top_menu {
        flex-direction: row;
    }

    .right_top_menu .menu_icon+p {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;

    }

    .popup_contents .flex_form,
    .login_control,
    .sns_login {
        display: flex;
    }

    .popup_contents .flex_form {
        justify-content: space-between;
    }
.login_field {margin-right:1rem;}
    :where(.right_top_menu > div > a, .right_top_menu > button) img {
        margin-right: 0.5rem;
    }

}

/*700px〜1200px iPad*/
@media (700px <=width < 1200px) {

    .top_menu {
        flex-direction: row;
    }
    .popup_contents .flex_form {
        justify-content: space-between;
    }
    .login_field {margin-right:1rem;}
.popup_contents .flex_form, .login_control, .sns_login {
    display: flex;
}
}

/*Mobile*/
@media (340px <=width < 700px) {
    :where(.menu_icon, .all_menu, .right_top_menu, .fixed_footer_menu) img {
        width:3rem;

    }
    :where(.login_control, .sns_login) a,
    .login_control button {
        width: 100%;
        margin: 1rem 0px;
        min-height: 5rem;
        font-size: 1.5rem;
    }
}

/*watch*/
@media screen and (330px > width) {

    :where(.login_control, .sns_login) a,
    .login_control button {
        width: 100%;
        margin: 1rem 0px;
    }
}

/*Dark Mode Layout*/
@media (prefers-color-scheme:dark) {

    :where(.menu_icon,
    .all_menu, .right_top_menu, .fixed_footer_menu, .submenu) img {
        opacity: 0.8;
        filter: invert(1);
    }

    :where(#login_popup .popup_contents) img {
        filter: invert(0);
        opacity: 1;
    }

    .pw_input_box .eyecon {
        filter: invert(1);
    }
    #password_view:after {
        filter: invert(1);
        background-color: #B8A3F5;
    }

    .all_menu summary+ul {
        border: rgba(255 255 255 / 0.8) solid 1px;
    }

    .fixed_category {
        background-color: #222;
    }

}


